Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

feat(nimbus): add loading state when changing filters on new results page
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(cirrus): report fewer remote settings errors
  cirrus/README.md
  cirrus/server/cirrus/experiment_recipes.py
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/settings.py
  cirrus/server/poetry.lock
  cirrus/server/pyproject.toml
  cirrus/server/tests/test_experiment_recipes.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

feat(nimbus): add android language code mappings
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.4.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): fix indonesian language code (#14508)
  experimenter/experimenter/base/fixtures/languages.json
  experimenter/experimenter/base/migrations/0006_fix_indonesian_language_code.py
  experimenter/experimenter/base/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): fix indonesian language code (#14508)
  experimenter/experimenter/base/fixtures/languages.json
  experimenter/experimenter/base/migrations/0006_fix_indonesian_language_code.py
  experimenter/experimenter/base/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): fix indonesian language code (#14508)
  experimenter/experimenter/base/fixtures/languages.json
  experimenter/experimenter/base/migrations/0006_fix_indonesian_language_code.py
  experimenter/experimenter/base/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add android language code mappings (#14511)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add android language code mappings (#14511)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add android language code mappings (#14511)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Create scheduled Celery task to monitor experiments for alert conditions such as results and analysis error (#14492)
  experimenter/experimenter/settings.py
  experimenter/experimenter/slack/tasks.py
  experimenter/experimenter/slack/tests/test_tasks.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Create scheduled Celery task to monitor experiments for alert conditions such as results and analysis error (#14492)
  experimenter/experimenter/settings.py
  experimenter/experimenter/slack/tasks.py
  experimenter/experimenter/slack/tests/test_tasks.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Create scheduled Celery task to monitor experiments for alert conditions such as results and analysis error (#14492)
  experimenter/experimenter/settings.py
  experimenter/experimenter/slack/tasks.py
  experimenter/experimenter/slack/tests/test_tasks.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

test
  README.md
Owners: none

test
  README.md
Owners: none

chore(nimbus): delete vpn-web entities
  experimenter/experimenter/experiments/migrations/0319_delete_vpn_features.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Revert "feat(nimbus): add android language code mappings (#14511)"
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(cirrus): use exponential backoff for remote settings (#14503)
  cirrus/README.md
  cirrus/server/cirrus/experiment_recipes.py
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/settings.py
  cirrus/server/poetry.lock
  cirrus/server/pyproject.toml
  cirrus/server/tests/test_experiment_recipes.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus): use exponential backoff for remote settings (#14503)
  cirrus/README.md
  cirrus/server/cirrus/experiment_recipes.py
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/settings.py
  cirrus/server/poetry.lock
  cirrus/server/pyproject.toml
  cirrus/server/tests/test_experiment_recipes.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus): use exponential backoff for remote settings (#14503)
  cirrus/README.md
  cirrus/server/cirrus/experiment_recipes.py
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/settings.py
  cirrus/server/poetry.lock
  cirrus/server/pyproject.toml
  cirrus/server/tests/test_experiment_recipes.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

feat(nimbus): add loading state when changing filters on new results page (#14509)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add loading state when changing filters on new results page (#14509)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add loading state when changing filters on new results page (#14509)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): delete vpn-web entities (#14514)
  experimenter/experimenter/experiments/migrations/0319_delete_vpn_features.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): delete vpn-web entities (#14514)
  experimenter/experimenter/experiments/migrations/0319_delete_vpn_features.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): delete vpn-web entities (#14514)
  experimenter/experimenter/experiments/migrations/0319_delete_vpn_features.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Revert "feat(nimbus): add android language code mappings (#14511)" (#14516)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Revert "feat(nimbus): add android language code mappings (#14511)" (#14516)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Revert "feat(nimbus): add android language code mappings (#14511)" (#14516)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add export metric areas feature
  experimenter/experimenter/nimbus_ui/static/js/results_data_actions.js
  experimenter/experimenter/nimbus_ui/static/webpack.config.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

style(nimbus): update new results page filters ui
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

style(nimbus): update visual display of overview section on new results page
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/common/branch_card.html
  experimenter/experimenter/nimbus_ui/templates/common/sidebar_link.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/static/assets/img-placeholder.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

style(nimbus): update visual display of overview section on new results page (#14470)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/common/branch_card.html
  experimenter/experimenter/nimbus_ui/templates/common/sidebar_link.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/static/assets/img-placeholder.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

style(nimbus): update visual display of overview section on new results page (#14470)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/common/branch_card.html
  experimenter/experimenter/nimbus_ui/templates/common/sidebar_link.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/static/assets/img-placeholder.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

style(nimbus): update visual display of overview section on new results page (#14470)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/common/branch_card.html
  experimenter/experimenter/nimbus_ui/templates/common/sidebar_link.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/static/assets/img-placeholder.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

fix(nimbus): fix exposures being default for experiments w/o correct data
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix exposures being default for experiments without correct data (#14420)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix exposures being default for experiments without correct data (#14420)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
