Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

chore(cirrus): Run cirrus check jobs if application-services/ changes (#13445)
  .circleci/config.yml
Owners: none

chore(cirrus): Run cirrus check jobs if application-services/ changes (#13445)
  .circleci/config.yml
Owners: none

chore(cirrus): Run cirrus check jobs if application-services/ changes (#13445)
  .circleci/config.yml
Owners: none

feat(nimbus): Filter by feature (#13447)
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Filter by feature (#13447)
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Filter by feature (#13447)
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

style(nimbus): change formatting of audience page links
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix code formatting issues
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Address review feedback.
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

style(nimbus): change formatting of audience page links
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

refactor(nimbus): changed links to several guidance pages (#13431)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
  experimenter/experimenter/results/src/lib/constants.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

refactor(nimbus): changed links to several guidance pages (#13431)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
  experimenter/experimenter/results/src/lib/constants.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

refactor(nimbus): changed links to several guidance pages (#13431)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
  experimenter/experimenter/results/src/lib/constants.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Reformat generated experimenter YAML files
  experimenter/experimenter/features/manifests/experimenter/developer.fml.yaml
  experimenter/experimenter/features/manifests/experimenter/experimenter.yaml
  experimenter/experimenter/features/manifests/experimenter/production.fml.yaml
  experimenter/experimenter/features/manifests/experimenter/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Reformat generated experimenter YAML files (#13452)
  experimenter/experimenter/features/manifests/experimenter/developer.fml.yaml
  experimenter/experimenter/features/manifests/experimenter/experimenter.yaml
  experimenter/experimenter/features/manifests/experimenter/production.fml.yaml
  experimenter/experimenter/features/manifests/experimenter/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Reformat generated experimenter YAML files (#13452)
  experimenter/experimenter/features/manifests/experimenter/developer.fml.yaml
  experimenter/experimenter/features/manifests/experimenter/experimenter.yaml
  experimenter/experimenter/features/manifests/experimenter/production.fml.yaml
  experimenter/experimenter/features/manifests/experimenter/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Reformat generated experimenter YAML files (#13452)
  experimenter/experimenter/features/manifests/experimenter/developer.fml.yaml
  experimenter/experimenter/features/manifests/experimenter/experimenter.yaml
  experimenter/experimenter/features/manifests/experimenter/production.fml.yaml
  experimenter/experimenter/features/manifests/experimenter/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

refactor(nimbus): move overview page links to constants file (#13446)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

refactor(nimbus): move overview page links to constants file (#13446)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

refactor(nimbus): move overview page links to constants file (#13446)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): run local fml ci check on change to files in experimeter/
  .circleci/config.yml
Owners: none

feat(nimbus): add links to edit metrics tooltips
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_metrics.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): run local fml ci check on change to files in experimeter/ (#13454)
  .circleci/config.yml
Owners: none

bug(nimbus): run local fml ci check on change to files in experimeter/ (#13454)
  .circleci/config.yml
Owners: none

bug(nimbus): run local fml ci check on change to files in experimeter/ (#13454)
  .circleci/config.yml
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

fix(nimbus): make preview url functionality only show for desktop experiments
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): make preview url functionality only show for desktop experiments (#13457)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): make preview url functionality only show for desktop experiments (#13457)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): make preview url functionality only show for desktop experiments (#13457)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add links to edit metrics tooltips (#13455)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_metrics.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add links to edit metrics tooltips (#13455)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_metrics.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add links to edit metrics tooltips (#13455)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_metrics.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Show progress bar for the start and end dates
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
