Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

bug(nimbus): move loading overlay out of form div (#13985)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_metrics.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): remove partybal link
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): update button
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @b4handjr

chore(nimbus): remove partybal link (#13986)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): remove partybal link (#13986)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): remove partybal link (#13986)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus) - Add targeting for TOU accepted before Dec 9, 2025
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): test
  experimenter/experimenter/experiments/tests/test_email.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update test_email.py
  experimenter/experimenter/experiments/tests/test_email.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add loading spinner to list page
  experimenter/experimenter/nimbus_ui/static/js/experiment_list.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add loading spinner to list page (#13989)
  experimenter/experimenter/nimbus_ui/static/js/experiment_list.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add loading spinner to list page (#13989)
  experimenter/experimenter/nimbus_ui/static/js/experiment_list.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add loading spinner to list page (#13989)
  experimenter/experimenter/nimbus_ui/static/js/experiment_list.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): test
  experimenter/experimenter/experiments/tests/test_email.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): test
  experimenter/experimenter/experiments/tests/test_email.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus) - Add targeting for TOU accepted before Dec 9, 2025 (#13805)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus) - Add targeting for TOU accepted before Dec 9, 2025 (#13805)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus) - Add targeting for TOU accepted before Dec 9, 2025 (#13805)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): cache users in NimbusExperimentChangelogInline
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/tests/test_admin.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): cache users in NimbusExperimentChangeLogInline (#13991)
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/tests/test_admin.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): cache users in NimbusExperimentChangeLogInline (#13991)
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/tests/test_admin.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): cache users in NimbusExperimentChangeLogInline (#13991)
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/tests/test_admin.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.3.0/beta.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

feat(nimbus): Send emails to feature subscribers (#13988)
  experimenter/experimenter/experiments/email.py
  experimenter/experimenter/experiments/tests/test_email.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Send emails to feature subscribers (#13988)
  experimenter/experimenter/experiments/email.py
  experimenter/experimenter/experiments/tests/test_email.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Send emails to feature subscribers (#13988)
  experimenter/experimenter/experiments/email.py
  experimenter/experimenter/experiments/tests/test_email.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add targeting for profiles
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add targeting for profiles (#13998)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add targeting for profiles (#13998)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add targeting for profiles (#13998)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v145.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): show feature schemas on branch page
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): show feature schemas on branch page (#14000)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): show feature schemas on branch page (#14000)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): show feature schemas on branch page (#14000)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Always generate docker tags with 9 characters of the SHA
  .circleci/config.yml
Owners: none

feat(nimbus): Update advanced targeting for OLD_SIDEBAR_USERS to exclude users without a sidebar-button
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Always generate docker tags with 9 characters of the SHA (#14005)
  .circleci/config.yml
Owners: none
