Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

fix(nimbus): fix exposures being default for experiments without correct data (#14420)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add tooltips next to results page filters
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

style(nimbus): wording changes to error card on new results page
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add results indicator next to metric slug in metric area headers
  experimenter/experimenter/jetstream/results_manager.py
  experimenter/experimenter/jetstream/tests/test_results_manager.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Fenix Beta
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox iOS (Fennec) Release
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

style(nimbus): turn collapsible elements inside modals static (#14488)
  experimenter/experimenter/nimbus_ui/templates/common/branch_card.html
  experimenter/experimenter/nimbus_ui/templates/common/edit_outcome_summary_form.html
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

style(nimbus): turn collapsible elements inside modals static (#14488)
  experimenter/experimenter/nimbus_ui/templates/common/branch_card.html
  experimenter/experimenter/nimbus_ui/templates/common/edit_outcome_summary_form.html
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

style(nimbus): turn collapsible elements inside modals static (#14488)
  experimenter/experimenter/nimbus_ui/templates/common/branch_card.html
  experimenter/experimenter/nimbus_ui/templates/common/edit_outcome_summary_form.html
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add tooltips next to results page filters (#14475)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add tooltips next to results page filters (#14475)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add tooltips next to results page filters (#14475)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

style(nimbus): wording changes to error card on new results page (#14486)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

style(nimbus): wording changes to error card on new results page (#14486)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

style(nimbus): wording changes to error card on new results page (#14486)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add results indicator next to metric slug in metric area headers (#14499)
  experimenter/experimenter/jetstream/results_manager.py
  experimenter/experimenter/jetstream/tests/test_results_manager.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add results indicator next to metric slug in metric area headers (#14499)
  experimenter/experimenter/jetstream/results_manager.py
  experimenter/experimenter/jetstream/tests/test_results_manager.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add results indicator next to metric slug in metric area headers (#14499)
  experimenter/experimenter/jetstream/results_manager.py
  experimenter/experimenter/jetstream/tests/test_results_manager.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

feat(nimbus): open notable changes by default
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v148.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v148.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v148.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v149.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.1/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.1/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.5.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.5.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.5.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.5.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): open notable changes by default (#14537)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): open notable changes by default (#14537)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): open notable changes by default (#14537)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): keep notable changes visible for all experiments
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add outcomes to overview section on new results page
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): keep notable changes visible for all experiments (#14541)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): keep notable changes visible for all experiments (#14541)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): keep notable changes visible for all experiments (#14541)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add outcomes to overview section on new results page (#14535)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add outcomes to overview section on new results page (#14535)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add outcomes to overview section on new results page (#14535)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): disable slack notification toggle for complete experiments
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): disable slack notification toggle for complete experiments (#14549)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): disable slack notification toggle for complete experiments (#14549)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic
