Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12642)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12642)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12642)
  application-services/application-services.env
Owners: none

feat(nimbus): Rollout badge
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/monitor-web/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services (#12661)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12661)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12661)
  application-services/application-services.env
Owners: none

feat(nimbus): Rollout badge (#12659)
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/experiment_base.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Rollout badge (#12659)
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/experiment_base.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Rollout badge (#12659)
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/experiment_base.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12660)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/monitor-web/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12660)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/monitor-web/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12660)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/monitor-web/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12663)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12663)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12663)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v138.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v138.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v138.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v138.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v138.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/developer.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12662)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v138.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v138.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v138.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v138.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v138.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/developer.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12662)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v138.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v138.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v138.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v138.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v138.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/developer.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12662)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v138.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v138.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v138.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v138.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v138.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/developer.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Revert "chore(nimbus): Set Cross-Origin-Opener-Policy response header (#12637)"
  experimenter/experimenter/openidc/middleware.py
  experimenter/experimenter/openidc/tests/test_middleware.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Revert "chore(nimbus): Set Cross-Origin-Opener-Policy response header (#12637)" (#12665)
  experimenter/experimenter/openidc/middleware.py
  experimenter/experimenter/openidc/tests/test_middleware.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Revert "chore(nimbus): Set Cross-Origin-Opener-Policy response header (#12637)" (#12665)
  experimenter/experimenter/openidc/middleware.py
  experimenter/experimenter/openidc/tests/test_middleware.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Revert "chore(nimbus): Set Cross-Origin-Opener-Policy response header (#12637)" (#12665)
  experimenter/experimenter/openidc/middleware.py
  experimenter/experimenter/openidc/tests/test_middleware.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12667)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12667)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12667)
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs (#12666)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12666)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12666)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/FxA_Account.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

test(nimbus): Assertion methods
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12671)
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/FxA_Account.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12671)
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/FxA_Account.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic
