Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

chore(cirrus): remove support for remote settings records api
  .env.integration-tests
  .env.test
  cirrus/server/cirrus/experiment_recipes.py
  cirrus/server/tests/test_experiment_recipes.py
  demo-app/README.md
Owners: @jaredlockhart, @yashikakhurana, @jeddai

fix(nimbus): fix failing intermittent test - test_get_weekly_metric_data
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): link contact experimenter support button to ask-experimenter slack channel
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Fenix Beta
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Desktop Release
  experimenter/tests/firefox_desktop_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox iOS (Fennec) Release
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.2/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.1/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.1/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox iOS (Fennec) Release
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Fenix Beta
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

Update constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.2/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.1/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.1/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

missing f string
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): use callable default values
  experimenter/experimenter/experiments/migrations/0313_alter_nimbusexperiment__firefox_min_version_parsed.py
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix failing intermittent test - test_get_weekly_metric_data
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix failing intermittent test - test_get_weekly_metric_data (#14389)
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix failing intermittent test - test_get_weekly_metric_data (#14389)
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix failing intermittent test - test_get_weekly_metric_data (#14389)
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): use callable default values (#14340)
  experimenter/experimenter/experiments/migrations/0313_alter_nimbusexperiment__firefox_min_version_parsed.py
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): use callable default values (#14340)
  experimenter/experimenter/experiments/migrations/0313_alter_nimbusexperiment__firefox_min_version_parsed.py
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): use callable default values (#14340)
  experimenter/experimenter/experiments/migrations/0313_alter_nimbusexperiment__firefox_min_version_parsed.py
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Update the advanced targeting config for ANDROID_EXISTING_USERS_NOT_ACCEPTED_TERMS_OF_USE_ONE_POINT (#14388)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Update the advanced targeting config for ANDROID_EXISTING_USERS_NOT_ACCEPTED_TERMS_OF_USE_ONE_POINT (#14388)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Update the advanced targeting config for ANDROID_EXISTING_USERS_NOT_ACCEPTED_TERMS_OF_USE_ONE_POINT (#14388)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): remove duplicate dom ids for collapsible json
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_audience.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add risk ai field
  experimenter/experimenter/experiments/api/v5/inputs.py
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/api/v5/types.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0314_nimbusexperiment_risk_ai.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_mutations.py
  experimenter/experimenter/experiments/tests/api/v5/test_queries.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_risk_mitigation.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/pages/experimenter/overview.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

fix(nimbus): fix absolute value called on nonexistent points
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add risk ai field (#14392)
  experimenter/experimenter/experiments/api/v5/inputs.py
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/api/v5/types.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0314_nimbusexperiment_risk_ai.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_mutations.py
  experimenter/experimenter/experiments/tests/api/v5/test_queries.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_risk_mitigation.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/pages/experimenter/overview.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): add risk ai field (#14392)
  experimenter/experimenter/experiments/api/v5/inputs.py
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/api/v5/types.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0314_nimbusexperiment_risk_ai.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_mutations.py
  experimenter/experimenter/experiments/tests/api/v5/test_queries.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_risk_mitigation.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/pages/experimenter/overview.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): add risk ai field (#14392)
  experimenter/experimenter/experiments/api/v5/inputs.py
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/api/v5/types.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0314_nimbusexperiment_risk_ai.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_mutations.py
  experimenter/experimenter/experiments/tests/api/v5/test_queries.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_risk_mitigation.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/pages/experimenter/overview.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr
