Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

bug(nimbus): wait for redirect on promote rollout test
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @b4handjr

feat(nimbus): Use constants
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/tests/test_email.py
  experimenter/experimenter/slack/tests/test_notification.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): wait for redirect on promote rollout test (#14144)
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @b4handjr

bug(nimbus): wait for redirect on promote rollout test (#14144)
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @b4handjr

bug(nimbus): wait for redirect on promote rollout test (#14144)
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @b4handjr

feat(nimbus): Split tables on feature page
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Split tables on feature page
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Refactor features page to use separate cards for each table
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix feat(nimbus): format
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add targeting for accepting tou before and after particular dates
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add padding to home page card
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Fenix Beta
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.1/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.1/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v146.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v146.0.1/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v146.0.1/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v146.0.1/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v146.0.1/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v146.0.1/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v148.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add targeting for accepting tou before and after partic… (#14149)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add targeting for accepting tou before and after partic… (#14149)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add targeting for accepting tou before and after partic… (#14149)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Remove QA type
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Fetch date based on status
  experimenter/experimenter/experiments/migrations/0303_backfill_qa_run_date_from_changelog.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Remove field migration
  experimenter/experimenter/experiments/migrations/0303_remove_nimbusexperiment_qa_run_type.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Set QA date (#14121)
  experimenter/experimenter/experiments/migrations/0303_backfill_qa_run_date_from_changelog.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Set QA date (#14121)
  experimenter/experimenter/experiments/migrations/0303_backfill_qa_run_date_from_changelog.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Set QA date (#14121)
  experimenter/experimenter/experiments/migrations/0303_backfill_qa_run_date_from_changelog.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): fix intermittent coverage
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Split tables on feature page (#14150)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Split tables on feature page (#14150)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Split tables on feature page (#14150)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add padding to home page card (#14151)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add padding to home page card (#14151)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add padding to home page card (#14151)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): adjust migration
  experimenter/experimenter/experiments/migrations/0304_remove_nimbusexperiment_qa_run_type.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Update import path
  experimenter/experimenter/slack/tasks.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Remove QA run type field (#14160)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0304_remove_nimbusexperiment_qa_run_type.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Remove QA run type field (#14160)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0304_remove_nimbusexperiment_qa_run_type.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Remove QA run type field (#14160)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0304_remove_nimbusexperiment_qa_run_type.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Send slack notifications (#14119)
  .env.sample
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/email.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_email.py
  experimenter/experimenter/kinto/tests/test_tasks.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/settings.py
  experimenter/experimenter/slack/__init__.py
  experimenter/experimenter/slack/notification.py
  experimenter/experimenter/slack/tasks.py
  experimenter/experimenter/slack/tests/__init__.py
  experimenter/experimenter/slack/tests/test_notification.py
  experimenter/experimenter/slack/tests/test_tasks.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Send slack notifications (#14119)
  .env.sample
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/email.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_email.py
  experimenter/experimenter/kinto/tests/test_tasks.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/settings.py
  experimenter/experimenter/slack/__init__.py
  experimenter/experimenter/slack/notification.py
  experimenter/experimenter/slack/tasks.py
  experimenter/experimenter/slack/tests/__init__.py
  experimenter/experimenter/slack/tests/test_notification.py
  experimenter/experimenter/slack/tests/test_tasks.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Send slack notifications (#14119)
  .env.sample
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/email.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_email.py
  experimenter/experimenter/kinto/tests/test_tasks.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/settings.py
  experimenter/experimenter/slack/__init__.py
  experimenter/experimenter/slack/notification.py
  experimenter/experimenter/slack/tasks.py
  experimenter/experimenter/slack/tests/__init__.py
  experimenter/experimenter/slack/tests/test_notification.py
  experimenter/experimenter/slack/tests/test_tasks.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
