Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

chore(nimbus): Update Firefox Desktop Release
  experimenter/tests/firefox_desktop_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v146.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v146.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v146.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v146.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v145.2.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.2.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.2.1/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v145.2.1/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v146.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v146.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v146.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v146.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Fenix Beta
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox iOS (Fennec) Release
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Desktop Release
  experimenter/tests/firefox_desktop_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v146.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v146.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v146.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v146.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v145.2.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.2.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.2.1/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v145.2.1/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v146.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v146.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v146.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v146.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for newtab trainhop 146.0.20251107.60212 for desktop
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update experimenter/experimenter/targeting/constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for newtab trainhop 146.0.20251107.60212 for desktop (#14020)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for newtab trainhop 146.0.20251107.60212 for desktop (#14020)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for newtab trainhop 146.0.20251107.60212 for desktop (#14020)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): create popout for metrics
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/common/metric_card.html
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout.html
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): create popout for metrics (#13969)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/common/metric_card.html
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout.html
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): create popout for metrics (#13969)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/common/metric_card.html
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout.html
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): create popout for metrics (#13969)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/common/metric_card.html
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout.html
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v146.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): line wrap readonly codemirrors
  experimenter/experimenter/nimbus_ui/static/js/branch_detail.js
  experimenter/experimenter/nimbus_ui/static/js/codemirror_utils.js
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/static/js/features_page.js
  experimenter/experimenter/nimbus_ui/static/js/index.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Fenix Beta
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.3/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

integration test fixes
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
  experimenter/tests/integration/nimbus/pages/experimenter/branches.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v146.0.0/beta.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): fix intermittent promote to rollout test failure
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @b4handjr

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v146.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v146.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v146.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v146.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(project): Add .devcontainer to .gitignore
  .gitignore
Owners: none

bug(nimbus): line wrap readonly codemirrors (#14049)
  experimenter/experimenter/nimbus_ui/static/js/branch_detail.js
  experimenter/experimenter/nimbus_ui/static/js/codemirror_utils.js
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/static/js/features_page.js
  experimenter/experimenter/nimbus_ui/static/js/index.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
  experimenter/tests/integration/nimbus/pages/experimenter/branches.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

bug(nimbus): line wrap readonly codemirrors (#14049)
  experimenter/experimenter/nimbus_ui/static/js/branch_detail.js
  experimenter/experimenter/nimbus_ui/static/js/codemirror_utils.js
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/static/js/features_page.js
  experimenter/experimenter/nimbus_ui/static/js/index.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
  experimenter/tests/integration/nimbus/pages/experimenter/branches.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

bug(nimbus): line wrap readonly codemirrors (#14049)
  experimenter/experimenter/nimbus_ui/static/js/branch_detail.js
  experimenter/experimenter/nimbus_ui/static/js/codemirror_utils.js
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/static/js/features_page.js
  experimenter/experimenter/nimbus_ui/static/js/index.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
  experimenter/tests/integration/nimbus/pages/experimenter/branches.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

bug(nimbus): fix intermittent promote to rollout test failure (#14058)
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @b4handjr

bug(nimbus): fix intermittent promote to rollout test failure (#14058)
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @b4handjr

bug(nimbus): fix intermittent promote to rollout test failure (#14058)
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @b4handjr

bug(nimbus): Fix saving changesets via NimbusExperimentChangeLogInlineAdmin
  experimenter/experimenter/experiments/admin.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Run sdk targeting tests parallely
  experimenter/tests/nimbus_rust_tests.sh
Owners: @b4handjr

chore(nimbus): Run sdk targeting tests parallely (#14067)
  experimenter/tests/nimbus_rust_tests.sh
Owners: @b4handjr

chore(nimbus): Run sdk targeting tests parallely (#14067)
  experimenter/tests/nimbus_rust_tests.sh
Owners: @b4handjr
