Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

feat(nimbus): Manage alerts model
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Manage alerts model
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): remove unique constraint
  experimenter/experimenter/experiments/migrations/0317_nimbusalert.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Fenix Beta
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox iOS (Fennec) Release
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(cirrus): remove support for remote settings records api (#14377)
  .env.integration-tests
  .env.test
  cirrus/server/cirrus/experiment_recipes.py
  cirrus/server/tests/test_experiment_recipes.py
  demo-app/README.md
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus): remove support for remote settings records api (#14377)
  .env.integration-tests
  .env.test
  cirrus/server/cirrus/experiment_recipes.py
  cirrus/server/tests/test_experiment_recipes.py
  demo-app/README.md
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus): remove support for remote settings records api (#14377)
  .env.integration-tests
  .env.test
  cirrus/server/cirrus/experiment_recipes.py
  cirrus/server/tests/test_experiment_recipes.py
  demo-app/README.md
Owners: @jaredlockhart, @yashikakhurana, @jeddai

fix(nimbus): remove double display of branch names from results page
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v148.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v148.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): only set is_paused on ending enrollment forms
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): only set is_paused on ending enrollment forms (#14469)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): only set is_paused on ending enrollment forms (#14469)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): only set is_paused on ending enrollment forms (#14469)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Rename analysis
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0317_nimbusalert.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Rename analysis
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Rename analysis
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): remove double display of branch names from results page (#14467)
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): remove double display of branch names from results page (#14467)
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): remove double display of branch names from results page (#14467)
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

style(nimbus): update visual display of overview section on new results page
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/common/branch_card.html
  experimenter/experimenter/nimbus_ui/templates/common/sidebar_link.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/static/assets/img-placeholder.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

style(nimbus): update new results page filters ui
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): remove double display of branch names from results page (#14467)
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add tooltips next to results page filters
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.2/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.2/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): consistent table widths on detail page (#14452)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_signoff.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/qa_container_content.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/signoff_card.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): consistent table widths on detail page (#14452)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_signoff.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/qa_container_content.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/signoff_card.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): consistent table widths on detail page (#14452)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_signoff.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/qa_container_content.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/signoff_card.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): use readonly json for labs fields (#14453)
  experimenter/experimenter/nimbus_ui/templates/common/readonly_json.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_firefox_labs.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_localizations.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): use readonly json for labs fields (#14453)
  experimenter/experimenter/nimbus_ui/templates/common/readonly_json.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_firefox_labs.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_localizations.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): use readonly json for labs fields (#14453)
  experimenter/experimenter/nimbus_ui/templates/common/readonly_json.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_firefox_labs.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_localizations.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Fenix Beta
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

fix(nimbus): fix custom metrics being grouped under None (#14443)
  experimenter/experimenter/jetstream/results_manager.py
  experimenter/experimenter/jetstream/tests/test_results_manager.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix custom metrics being grouped under None (#14443)
  experimenter/experimenter/jetstream/results_manager.py
  experimenter/experimenter/jetstream/tests/test_results_manager.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix custom metrics being grouped under None (#14443)
  experimenter/experimenter/jetstream/results_manager.py
  experimenter/experimenter/jetstream/tests/test_results_manager.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Manage alerts model (#14454)
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0317_nimbusalert.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Manage alerts model (#14454)
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0317_nimbusalert.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Manage alerts model (#14454)
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0317_nimbusalert.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
