Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

chore(nimbus): Update application-services (#12632)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12632)
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions (#12633)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12633)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12633)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs (#12634)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12634)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12634)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Set Cross-Origin-Opener-Policy response header
  experimenter/experimenter/openidc/middleware.py
  experimenter/experimenter/openidc/tests/test_middleware.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12638)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12638)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12638)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

add targeting attributes
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): add advanced targeting for users with notifications (#12640)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): add advanced targeting for users with notifications (#12640)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): add advanced targeting for users with notifications (#12640)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

chore(nimbus): Set Cross-Origin-Opener-Policy response header (#12637)
  experimenter/experimenter/openidc/middleware.py
  experimenter/experimenter/openidc/tests/test_middleware.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Set Cross-Origin-Opener-Policy response header (#12637)
  experimenter/experimenter/openidc/middleware.py
  experimenter/experimenter/openidc/tests/test_middleware.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Set Cross-Origin-Opener-Policy response header (#12637)
  experimenter/experimenter/openidc/middleware.py
  experimenter/experimenter/openidc/tests/test_middleware.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add custom targeting for users with large screen devices
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): add custom targeting for users with large screen devices (#12645)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): add custom targeting for users with large screen devices (#12645)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): add custom targeting for users with large screen devices (#12645)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): Show rejection message
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.5/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.5/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.5/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.5/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.5/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.5/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.5/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.5/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.5/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.5/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.5/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12641)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12641)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12641)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/monitor-web/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions (#12643)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12643)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12643)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs (#12656)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/monitor-web/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12656)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/monitor-web/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12656)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/monitor-web/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
