Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

chore(nimbus): Update External Configs (#12473)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12473)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12473)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(tests): Reduce base timeout for integration tests.
  experimenter/tests/integration/nimbus/pages/base.py
Owners: @b4handjr

chore(tests): Reduce base timeout for integration tests. (#12479)
  experimenter/tests/integration/nimbus/pages/base.py
Owners: @b4handjr

chore(tests): Reduce base timeout for integration tests. (#12479)
  experimenter/tests/integration/nimbus/pages/base.py
Owners: @b4handjr

chore(tests): Reduce base timeout for integration tests. (#12479)
  experimenter/tests/integration/nimbus/pages/base.py
Owners: @b4handjr

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions (#12488)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12488)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12488)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs (#12487)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12487)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12487)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services (#12477)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12477)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12477)
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12489)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12489)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12489)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(tests): Use page refresh methods for cirrus integration tests. (#12490)
  .circleci/config.yml
  experimenter/tests/integration/nimbus/pages/base.py
  experimenter/tests/integration/nimbus/pages/demo_app/frontend.py
  experimenter/tests/poetry.lock
  experimenter/tests/pyproject.toml
Owners: @b4handjr

chore(tests): Use page refresh methods for cirrus integration tests. (#12490)
  .circleci/config.yml
  experimenter/tests/integration/nimbus/pages/base.py
  experimenter/tests/integration/nimbus/pages/demo_app/frontend.py
  experimenter/tests/poetry.lock
  experimenter/tests/pyproject.toml
Owners: @b4handjr

chore(tests): Use page refresh methods for cirrus integration tests. (#12490)
  .circleci/config.yml
  experimenter/tests/integration/nimbus/pages/base.py
  experimenter/tests/integration/nimbus/pages/demo_app/frontend.py
  experimenter/tests/poetry.lock
  experimenter/tests/pyproject.toml
Owners: @b4handjr

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12493)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12493)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12493)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12491)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12491)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12491)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Klaatu client prototype
  experimenter/experimenter/klaatu/__init__.py
  experimenter/experimenter/klaatu/client.py
  experimenter/experimenter/klaatu/tests/__init__.py
  experimenter/experimenter/klaatu/tests/test_client.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services (#12492)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12492)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12492)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none
