Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

Update constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Make home page as base url
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/urls.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Remove url code
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/urls.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Remove url code
  experimenter/experimenter/urls.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Make home page as base url
  experimenter/experimenter/nimbus_ui/urls.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Make home page as base url
  experimenter/experimenter/results/package.json
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.2/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add targeting for Android existing users who have not accepted ToU (#13737)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add targeting for Android existing users who have not accepted ToU (#13737)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add targeting for Android existing users who have not accepted ToU (#13737)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): intermittent test failure test_features_view_pagination
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Make home page as base url
  experimenter/experimenter/results/package.json
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): intermittent test failure test_features_view_pagination (#13741)
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): intermittent test failure test_features_view_pagination (#13741)
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): intermittent test failure test_features_view_pagination (#13741)
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Make home page as base url
  experimenter/experimenter/urls.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(experimenter): integrate with Glean
  Makefile
  experimenter/Dockerfile
  experimenter/experimenter/cirrus/middleware.py
  experimenter/experimenter/cirrus/tests/test_middleware.py
  experimenter/experimenter/glean/__init__.py
  experimenter/experimenter/glean/admin.py
  experimenter/experimenter/glean/middleware.py
  experimenter/experimenter/glean/migrations/0001_initial.py
  experimenter/experimenter/glean/migrations/__init__.py
  experimenter/experimenter/glean/models.py
  experimenter/experimenter/glean/templates/glean/opt_out_alert.html
  experimenter/experimenter/glean/templates/glean/opt_out_button.html
  experimenter/experimenter/glean/tests/__init__.py
  experimenter/experimenter/glean/tests/conftest.py
  experimenter/experimenter/glean/tests/factories.py
  experimenter/experimenter/glean/tests/test_middleware.py
  experimenter/experimenter/glean/tests/test_models.py
  experimenter/experimenter/glean/tests/test_views.py
  experimenter/experimenter/glean/urls.py
  experimenter/experimenter/glean/views.py
  experimenter/experimenter/nimbus_ui/templates/common/header.html
  experimenter/experimenter/settings.py
  experimenter/experimenter/telemetry/metrics.yaml
  experimenter/experimenter/telemetry/pings.yaml
  experimenter/experimenter/urls.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add home page on Header (#13489)
  experimenter/experimenter/nimbus_ui/templates/common/header.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/table.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add home page on Header (#13489)
  experimenter/experimenter/nimbus_ui/templates/common/header.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/table.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add home page on Header (#13489)
  experimenter/experimenter/nimbus_ui/templates/common/header.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/table.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(experimenter): integrate with Glean (#13172)
  Makefile
  experimenter/Dockerfile
  experimenter/experimenter/cirrus/middleware.py
  experimenter/experimenter/cirrus/tests/test_middleware.py
  experimenter/experimenter/glean/__init__.py
  experimenter/experimenter/glean/admin.py
  experimenter/experimenter/glean/middleware.py
  experimenter/experimenter/glean/migrations/0001_initial.py
  experimenter/experimenter/glean/migrations/__init__.py
  experimenter/experimenter/glean/models.py
  experimenter/experimenter/glean/templates/glean/opt_out_alert.html
  experimenter/experimenter/glean/templates/glean/opt_out_button.html
  experimenter/experimenter/glean/tests/__init__.py
  experimenter/experimenter/glean/tests/conftest.py
  experimenter/experimenter/glean/tests/factories.py
  experimenter/experimenter/glean/tests/test_middleware.py
  experimenter/experimenter/glean/tests/test_models.py
  experimenter/experimenter/glean/tests/test_views.py
  experimenter/experimenter/glean/urls.py
  experimenter/experimenter/glean/views.py
  experimenter/experimenter/nimbus_ui/templates/common/header.html
  experimenter/experimenter/settings.py
  experimenter/experimenter/telemetry/metrics.yaml
  experimenter/experimenter/telemetry/pings.yaml
  experimenter/experimenter/urls.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(experimenter): integrate with Glean (#13172)
  Makefile
  experimenter/Dockerfile
  experimenter/experimenter/cirrus/middleware.py
  experimenter/experimenter/cirrus/tests/test_middleware.py
  experimenter/experimenter/glean/__init__.py
  experimenter/experimenter/glean/admin.py
  experimenter/experimenter/glean/middleware.py
  experimenter/experimenter/glean/migrations/0001_initial.py
  experimenter/experimenter/glean/migrations/__init__.py
  experimenter/experimenter/glean/models.py
  experimenter/experimenter/glean/templates/glean/opt_out_alert.html
  experimenter/experimenter/glean/templates/glean/opt_out_button.html
  experimenter/experimenter/glean/tests/__init__.py
  experimenter/experimenter/glean/tests/conftest.py
  experimenter/experimenter/glean/tests/factories.py
  experimenter/experimenter/glean/tests/test_middleware.py
  experimenter/experimenter/glean/tests/test_models.py
  experimenter/experimenter/glean/tests/test_views.py
  experimenter/experimenter/glean/urls.py
  experimenter/experimenter/glean/views.py
  experimenter/experimenter/nimbus_ui/templates/common/header.html
  experimenter/experimenter/settings.py
  experimenter/experimenter/telemetry/metrics.yaml
  experimenter/experimenter/telemetry/pings.yaml
  experimenter/experimenter/urls.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(experimenter): integrate with Glean (#13172)
  Makefile
  experimenter/Dockerfile
  experimenter/experimenter/cirrus/middleware.py
  experimenter/experimenter/cirrus/tests/test_middleware.py
  experimenter/experimenter/glean/__init__.py
  experimenter/experimenter/glean/admin.py
  experimenter/experimenter/glean/middleware.py
  experimenter/experimenter/glean/migrations/0001_initial.py
  experimenter/experimenter/glean/migrations/__init__.py
  experimenter/experimenter/glean/models.py
  experimenter/experimenter/glean/templates/glean/opt_out_alert.html
  experimenter/experimenter/glean/templates/glean/opt_out_button.html
  experimenter/experimenter/glean/tests/__init__.py
  experimenter/experimenter/glean/tests/conftest.py
  experimenter/experimenter/glean/tests/factories.py
  experimenter/experimenter/glean/tests/test_middleware.py
  experimenter/experimenter/glean/tests/test_models.py
  experimenter/experimenter/glean/tests/test_views.py
  experimenter/experimenter/glean/urls.py
  experimenter/experimenter/glean/views.py
  experimenter/experimenter/nimbus_ui/templates/common/header.html
  experimenter/experimenter/settings.py
  experimenter/experimenter/telemetry/metrics.yaml
  experimenter/experimenter/telemetry/pings.yaml
  experimenter/experimenter/urls.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add targeting for taskbar tabs background message (#13727)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add targeting for taskbar tabs background message (#13727)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add targeting for taskbar tabs background message (#13727)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): made branch values on overview page collapsible (#13602)
  experimenter/experimenter/nimbus_ui/static/js/branch_detail.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): made branch values on overview page collapsible (#13602)
  experimenter/experimenter/nimbus_ui/static/js/branch_detail.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): made branch values on overview page collapsible (#13602)
  experimenter/experimenter/nimbus_ui/static/js/branch_detail.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): added several links to common resources to sidebar
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Make home page as base url (#13739)
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/urls.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Make home page as base url (#13739)
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/urls.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Make home page as base url (#13739)
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/urls.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add sorting tests.
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add pagination to deliveries table on featues page.
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Bug 1995645 - Create advanced targeting for 144 Visual Search Messaging Experiment
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add padding on welcome banner
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

use env to pass output parameters
  .github/workflows/experimenter-mozcloud-publish.yaml
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
