Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

feat(nimbus): Add pagination to deliveries table on featues page. (#13704)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add pagination to deliveries table on featues page. (#13704)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add pagination to deliveries table on featues page. (#13704)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add pagination to deliveries table on featues page.
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add pagination to deliveries table on featues page.
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Xfeat(nimbus): Add pagination to deliveries table on featues page.
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Xfeat(nimbus): Add pagination to deliveries table on featues page.
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add sorting to deliveries table on feature health page.
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add sorting to deliveries table on feature health page.
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add Sorting to the QA Runs table on the feature health page.
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add Sorting to the QA Runs table on the feature health page.
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(Nimbus)
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Format
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Show date tooltip on i icon (#13713)
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Show date tooltip on i icon (#13713)
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Show date tooltip on i icon (#13713)
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for Accounts Adoption for Browser Milestones
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v144.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v144.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v144.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v144.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v144.1.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.1.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.1.1/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v144.1.1/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v144.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add basic feature tracking table to feature health page.
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add basic feature tracking table to feature health page.
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add object and migrations for feature changes table.
  experimenter/experimenter/features/__init__.py
  experimenter/experimenter/features/apps.py
  experimenter/experimenter/features/migrations/0001_initial.py
  experimenter/experimenter/features/migrations/__init__.py
  experimenter/experimenter/features/models.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add object and migrations for feature changes table.
  experimenter/experimenter/features/__init__.py
  experimenter/experimenter/features/apps.py
  experimenter/experimenter/features/migrations/0001_initial.py
  experimenter/experimenter/features/migrations/__init__.py
  experimenter/experimenter/features/models.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Use buttons for pagination on home page
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add targeting for taskbar tabs background message
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): make sidebar stick to top when scrolling
  experimenter/experimenter/nimbus_ui/templates/common/with_sidebar.html
  experimenter/experimenter/nimbus_ui/templates/experimenter_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Home page
  .circleci/config.yml
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/urls.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Home page
  experimenter/experimenter/urls.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for Accounts Adoption for Browser Milestones (#13705)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for Accounts Adoption for Browser Milestones (#13705)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for Accounts Adoption for Browser Milestones (#13705)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): make sidebar stick to top when scrolling (#13581)
  experimenter/experimenter/nimbus_ui/templates/common/with_sidebar.html
  experimenter/experimenter/nimbus_ui/templates/experimenter_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): make sidebar stick to top when scrolling (#13581)
  experimenter/experimenter/nimbus_ui/templates/common/with_sidebar.html
  experimenter/experimenter/nimbus_ui/templates/experimenter_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): make sidebar stick to top when scrolling (#13581)
  experimenter/experimenter/nimbus_ui/templates/common/with_sidebar.html
  experimenter/experimenter/nimbus_ui/templates/experimenter_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v144.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v144.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v144.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v144.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v144.1.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.1.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.1.1/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v144.1.1/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v144.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Use buttons for pagination on home page (#13719)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Use buttons for pagination on home page (#13719)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Use buttons for pagination on home page (#13719)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic
