Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

chore(tests): Add publish/unpublish to preview test. (#13780)
  experimenter/experimenter/kinto/client.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/kinto/client.py
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
  experimenter/tests/integration/nimbus/test_desktop_client_integrations.py
  experimenter/tests/integration/nimbus/test_experimenter_ui.py
  experimenter/tests/integration/nimbus/test_remote_settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

chore(tests): Add publish/unpublish to preview test. (#13780)
  experimenter/experimenter/kinto/client.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/kinto/client.py
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
  experimenter/tests/integration/nimbus/test_desktop_client_integrations.py
  experimenter/tests/integration/nimbus/test_experimenter_ui.py
  experimenter/tests/integration/nimbus/test_remote_settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

chore(tests): Add publish/unpublish to preview test. (#13780)
  experimenter/experimenter/kinto/client.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/kinto/client.py
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
  experimenter/tests/integration/nimbus/test_desktop_client_integrations.py
  experimenter/tests/integration/nimbus/test_experimenter_ui.py
  experimenter/tests/integration/nimbus/test_remote_settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): Add basic feature tracking table to feature health page. (#13749)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/static/assets/feature-changes.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add basic feature tracking table to feature health page. (#13749)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/static/assets/feature-changes.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add basic feature tracking table to feature health page. (#13749)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/static/assets/feature-changes.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): change manage tags css
  experimenter/experimenter/nimbus_ui/forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

[DO NOT MERGE] binary search a-s revisions
  application-services/application-services.env
Owners: none

chore(ci): Try using xvfb on circleci integration tests.
  Makefile
  experimenter/tests/nimbus_integration_tests.sh
Owners: @b4handjr

chore(ci): Try using xvfb on circleci integration tests.
  Makefile
  experimenter/tests/nimbus_integration_tests.sh
Owners: @b4handjr

Switch to using firefox release.
  .circleci/config.yml
Owners: none

Switch to using firefox release.
  .circleci/config.yml
Owners: none

feat(nimbus) - Add targeting for TOU accepted before November 12, 2025
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(ci): Switch enrollment integration tests to use Firefox Nightly.
  .circleci/config.yml
Owners: none

bug(nimbus): align branch feature value errors with the correct fields
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui/templatetags/error_helpers.py
  experimenter/experimenter/nimbus_ui/tests/test_templatetags.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Update feature changes table image.
  experimenter/experimenter/static/assets/feature-changes.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

[DO NOT MERGE] pass participation
  cirrus/server/cirrus/sdk.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(ci): Switch enrollment integration tests to use Firefox Nightly. (#13807)
  .circleci/config.yml
Owners: none

chore(ci): Switch enrollment integration tests to use Firefox Nightly. (#13807)
  .circleci/config.yml
Owners: none

chore(ci): Switch enrollment integration tests to use Firefox Nightly. (#13807)
  .circleci/config.yml
Owners: none

[DO NOT MERGE] binary search a-s revisions
  application-services/application-services.env
Owners: none

[DO NOT MERGE] binary search a-s revisions
  application-services/application-services.env
Owners: none

[DO NOT MERGE] binary search a-s revisions
  application-services/application-services.env
Owners: none

feat(nimbus): Update feature changes table image. (#13812)
  experimenter/experimenter/static/assets/feature-changes.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Update feature changes table image. (#13812)
  experimenter/experimenter/static/assets/feature-changes.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Update feature changes table image. (#13812)
  experimenter/experimenter/static/assets/feature-changes.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.0.0/release.fml.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): create new results page overview section (#13777)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/common/branch_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): create new results page overview section (#13777)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/common/branch_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): create new results page overview section (#13777)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/common/branch_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

[DO NOT MERGE] binary search a-s revisions
  application-services/application-services.env
Owners: none

[DO NOT MERGE] binary search a-s revisions
  application-services/application-services.env
Owners: none

test(nimbus): Update to use button when available
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @b4handjr

[DO NOT MERGE] binary search a-s revisions
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): align branch feature value errors with the correct fields (#13809)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui/templatetags/error_helpers.py
  experimenter/experimenter/nimbus_ui/tests/test_templatetags.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): align branch feature value errors with the correct fields (#13809)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui/templatetags/error_helpers.py
  experimenter/experimenter/nimbus_ui/tests/test_templatetags.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): align branch feature value errors with the correct fields (#13809)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui/templatetags/error_helpers.py
  experimenter/experimenter/nimbus_ui/tests/test_templatetags.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

test(nimbus): Update to use button when available
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
