Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @brennie, @mikewilli, @jrbenny35

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @brennie
/experimenter/manifesttool/ @jaredlockhart @brennie
/schemas/ @jaredlockhart @mikewilli
/experimenter/tests @jrbenny35

chore(nimbus): Update application-services (#11089)
  application-services/application-services.env
Owners: none

chore(nimbus): exclude MSIX targeting
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): exclude MSIX targeting (#11093)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): exclude MSIX targeting (#11093)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): exclude MSIX targeting (#11093)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11094)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11094)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11094)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): Only allow prefFlips feature on 128 ESR
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Fetch manifests from Desktop esr128 (#11091)
  experimenter/experimenter/features/manifests/apps.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Fetch manifests from Desktop esr128 (#11091)
  experimenter/experimenter/features/manifests/apps.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Fetch manifests from Desktop esr128 (#11091)
  experimenter/experimenter/features/manifests/apps.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.1.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.1.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.1.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.1.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11097)
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.1.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.1.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.1.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.1.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11097)
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.1.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.1.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.1.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.1.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11097)
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.1.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.1.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.1.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.1.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

Update steps.
  .circleci/config.yml
  experimenter/tests/integration/nimbus/android/build_android.sh
Owners: @jrbenny35

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update application-services (#11098)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11098)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11098)
  application-services/application-services.env
Owners: none

Fix tagging.
  .circleci/config.yml
Owners: none

chore(nimbus): Update External Configs (#11099)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11099)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11099)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

test(nimbus): Add Firefox for iOS integration tests.
  .circleci/config.yml
  experimenter/tests/integration/nimbus/ios/test_ios_integration.py
  experimenter/tests/integration/nimbus/ios/test_setup_ios_integration.py
Owners: @jrbenny35

Remove java home env variable.
  experimenter/tests/integration/nimbus/android/moz-central.test-container.Dockerfile
Owners: @jrbenny35

Change bootstrap command.
  experimenter/tests/integration/nimbus/android/build_android.sh
Owners: @jrbenny35

bug(nimbus): list page filters should fit in sidebar
  experimenter/experimenter/nimbus_ui_new/filtersets.py
  experimenter/experimenter/nimbus_ui_new/static/css/style.scss
  experimenter/experimenter/nimbus_ui_new/templates/common/sidebar_select.html
  experimenter/experimenter/nimbus_ui_new/templates/common/with_sidebar.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/list.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): Support web preview collection
  experimenter/bin/setup_kinto.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/kinto/tasks.py
  experimenter/experimenter/kinto/tests/test_tasks.py
  experimenter/experimenter/settings.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/beta.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11106)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/beta.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11106)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/beta.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11106)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/beta.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): Add changelogs to qa status and takeaways forms
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

Fixups.
  .circleci/config.yml
Owners: none

bug(nimbus): list page filters should fit in sidebar (#11102)
  experimenter/experimenter/nimbus_ui_new/filtersets.py
  experimenter/experimenter/nimbus_ui_new/static/css/style.scss
  experimenter/experimenter/nimbus_ui_new/templates/common/sidebar_select.html
  experimenter/experimenter/nimbus_ui_new/templates/common/with_sidebar.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/list.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(nimbus): list page filters should fit in sidebar (#11102)
  experimenter/experimenter/nimbus_ui_new/filtersets.py
  experimenter/experimenter/nimbus_ui_new/static/css/style.scss
  experimenter/experimenter/nimbus_ui_new/templates/common/sidebar_select.html
  experimenter/experimenter/nimbus_ui_new/templates/common/with_sidebar.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/list.html
Owners: @jaredlockhart, @yashikakhurana, @brennie
