Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

bug(nimbus): Always generate docker tags with 9 characters of the SHA (#14005)
  .circleci/config.yml
Owners: none

bug(nimbus): Always generate docker tags with 9 characters of the SHA (#14005)
  .circleci/config.yml
Owners: none

chore(nimbus): reorganize header
  experimenter/experimenter/glean/templates/glean/opt_out_button.html
  experimenter/experimenter/nimbus_ui/templates/common/header.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Remove get method
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update opt out alert
  experimenter/experimenter/glean/migrations/0002_glean_dismiss_reset.py
  experimenter/experimenter/glean/templates/glean/opt_out_alert.html
  experimenter/experimenter/glean/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update experimenter/experimenter/glean/templates/glean/opt_out_alert.html
  experimenter/experimenter/glean/templates/glean/opt_out_alert.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): reorganize header (#14008)
  experimenter/experimenter/glean/migrations/0002_glean_dismiss_reset.py
  experimenter/experimenter/glean/templates/glean/opt_out_alert.html
  experimenter/experimenter/glean/templates/glean/opt_out_button.html
  experimenter/experimenter/glean/tests/test_migrations.py
  experimenter/experimenter/nimbus_ui/templates/common/header.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): reorganize header (#14008)
  experimenter/experimenter/glean/migrations/0002_glean_dismiss_reset.py
  experimenter/experimenter/glean/templates/glean/opt_out_alert.html
  experimenter/experimenter/glean/templates/glean/opt_out_button.html
  experimenter/experimenter/glean/tests/test_migrations.py
  experimenter/experimenter/nimbus_ui/templates/common/header.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): reorganize header (#14008)
  experimenter/experimenter/glean/migrations/0002_glean_dismiss_reset.py
  experimenter/experimenter/glean/templates/glean/opt_out_alert.html
  experimenter/experimenter/glean/templates/glean/opt_out_button.html
  experimenter/experimenter/glean/tests/test_migrations.py
  experimenter/experimenter/nimbus_ui/templates/common/header.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Update advanced targeting for OLD_SIDEBAR_USERS to exclude users without a sidebar-button
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

update slug
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Use parallelism in remote settings job
  .circleci/config.yml
Owners: none

chore(nimbus): Use parallelism in remote settings job
  .circleci/config.yml
Owners: none

chore(nimbus): Use parallelism in remote settings job
  .circleci/config.yml
  experimenter/tests/integration/nimbus/test_remote_settings.py
  experimenter/tests/pytest.ini
Owners: @b4handjr

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v146.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.3.0/developer.fml.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/sponsored_tiles.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

formatting
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Use parallelism in remote settings job (#14014)
  .circleci/config.yml
  experimenter/tests/integration/nimbus/test_remote_settings.py
  experimenter/tests/pytest.ini
Owners: @b4handjr

chore(nimbus): Use parallelism in remote settings job (#14014)
  .circleci/config.yml
  experimenter/tests/integration/nimbus/test_remote_settings.py
  experimenter/tests/pytest.ini
Owners: @b4handjr

chore(nimbus): Use parallelism in remote settings job (#14014)
  .circleci/config.yml
  experimenter/tests/integration/nimbus/test_remote_settings.py
  experimenter/tests/pytest.ini
Owners: @b4handjr

feat(nimbus): Update advanced targeting for OLD_SIDEBAR_USERS to exclude users without a sidebar-button (#14012)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Update advanced targeting for OLD_SIDEBAR_USERS to exclude users without a sidebar-button (#14012)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Update advanced targeting for OLD_SIDEBAR_USERS to exclude users without a sidebar-button (#14012)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Improve qa and takeaways views (#13979)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/qa_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/qa_container_content.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/qa_edit_form.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/takeaways_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/takeaways_edit_form.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): Improve qa and takeaways views (#13979)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/qa_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/qa_container_content.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/qa_edit_form.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/takeaways_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/takeaways_edit_form.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): Improve qa and takeaways views (#13979)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/qa_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/qa_container_content.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/qa_edit_form.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/takeaways_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/takeaways_edit_form.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

bug(nimbus): version sorting performance
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/migrations/0302_nimbusexperiment_firefox_min_version_parsed.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/filtersets.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Split update firefox version by app and channel
  .circleci/config.yml
  scripts/external_integration_updater_script.sh
Owners: none

bug(nimbus): version sorting performance (#14016)
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/migrations/0302_nimbusexperiment_firefox_min_version_parsed.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/filtersets.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): version sorting performance (#14016)
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/migrations/0302_nimbusexperiment_firefox_min_version_parsed.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/filtersets.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): version sorting performance (#14016)
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/migrations/0302_nimbusexperiment_firefox_min_version_parsed.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/filtersets.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for newtab trainhop 146.0.20251107.60212 for desktop
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Split update firefox version by app and channel (#14018)
  .circleci/config.yml
  scripts/external_integration_updater_script.sh
Owners: none

chore(nimbus): Split update firefox version by app and channel (#14018)
  .circleci/config.yml
  scripts/external_integration_updater_script.sh
Owners: none

chore(nimbus): Split update firefox version by app and channel (#14018)
  .circleci/config.yml
  scripts/external_integration_updater_script.sh
Owners: none

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox iOS (Fennec) Release
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Fenix Beta
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr
