Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

chore(nimbus): Update Firefox Versions (#12303)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12303)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12303)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update application-services (#12302)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12302)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12302)
  application-services/application-services.env
Owners: none

feat(nimbus): Show takeaways section for the completed experimentes only
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

SNG-2084 - Segment Ad Blocker Traffic
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

adds new adv targeting for wbn to include an hour of inactivity
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

linting and fix overly verbose name field
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Adds new advanced targeting - Windows 10+ and backgroundTaskMode and 1hr+ of inactivity (#12314)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Adds new advanced targeting - Windows 10+ and backgroundTaskMode and 1hr+ of inactivity (#12314)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Adds new advanced targeting - Windows 10+ and backgroundTaskMode and 1hr+ of inactivity (#12314)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions (#12312)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12312)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12312)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

fix(tests): Fix archive integration test. (#12295)
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @b4handjr

fix(tests): Fix archive integration test. (#12295)
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @b4handjr

fix(tests): Fix archive integration test. (#12295)
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @b4handjr

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12320)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12320)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12320)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

feat(nimbus): Show takeaways section for the completed experimentes only (#12308)
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Show takeaways section for the completed experimentes only (#12308)
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Show takeaways section for the completed experimentes only (#12308)
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Closes #12321: Create advanced targeting for Android users using number of app launches.
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

SNG-2084 - Segment Ad Blocker Traffic (#12311)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

SNG-2084 - Segment Ad Blocker Traffic (#12311)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

SNG-2084 - Segment Ad Blocker Traffic (#12311)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Create advanced targeting for Android users depending on number of app launches (#12322)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): Create advanced targeting for Android users depending on number of app launches (#12322)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): Create advanced targeting for Android users depending on number of app launches (#12322)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v136.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12319)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v136.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12319)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v136.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12319)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v136.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

feat(nimbus): Approval flow optimization
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/constants.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/approval_rejection_controls.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic
