Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

chore(nimbus): Update External Configs (#13077)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13077)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13077)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services (#13079)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13079)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13079)
  application-services/application-services.env
Owners: none

chore(nimbus): remove slug preview from clone dialog
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/clone.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/clone_slug_field.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): remove slug preview from clone dialog (#13066)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/clone.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/clone_slug_field.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): remove slug preview from clone dialog (#13066)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/clone.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/clone_slug_field.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): remove slug preview from clone dialog (#13066)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/clone.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/clone_slug_field.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): redirect form pages to summary when not editable
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): redirect form pages to summary when not editable (#13084)
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): redirect form pages to summary when not editable (#13084)
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): redirect form pages to summary when not editable (#13084)
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add issue template for cirrus onboarding
  .github/ISSUE_TEMPLATE/cirrus-onboarding-request.md
Owners: none

Update cirrus-onboarding-request.md
  .github/ISSUE_TEMPLATE/cirrus-onboarding-request.md
Owners: none

feat(nimbus): add MOBILE_14_DAY_USER to constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update cirrus-onboarding-request.md
  .github/ISSUE_TEMPLATE/cirrus-onboarding-request.md
Owners: none

formatting
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): redirect to summary page when missing slug subpaths
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(cirrus) explicitly set uvicorn workers to 1
  cirrus/server/Dockerfile
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus) explicitly set uvicorn workers to 1 (#13094)
  cirrus/server/Dockerfile
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus) explicitly set uvicorn workers to 1 (#13094)
  cirrus/server/Dockerfile
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus) explicitly set uvicorn workers to 1 (#13094)
  cirrus/server/Dockerfile
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus) use uid and gid 10001
  cirrus/server/Dockerfile
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus) use uid and gid 10001 (#13095)
  cirrus/server/Dockerfile
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus) use uid and gid 10001 (#13095)
  cirrus/server/Dockerfile
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus) use uid and gid 10001 (#13095)
  cirrus/server/Dockerfile
Owners: @jaredlockhart, @yashikakhurana, @jeddai

feat(nimbus): redirect on save for non editable experiments
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_metrics.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add MOBILE_14_DAY_USER to constants.py (#13087)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add MOBILE_14_DAY_USER to constants.py (#13087)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add MOBILE_14_DAY_USER to constants.py (#13087)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): redirect to summary page when missing slug subpaths (#13092)
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): redirect to summary page when missing slug subpaths (#13092)
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): redirect to summary page when missing slug subpaths (#13092)
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): redirect on save for non editable experiments (#13096)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_metrics.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): redirect on save for non editable experiments (#13096)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_metrics.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): redirect on save for non editable experiments (#13096)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_metrics.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update cirrus-onboarding-request.md
  .github/ISSUE_TEMPLATE/cirrus-onboarding-request.md
Owners: none

Update cirrus-onboarding-request.md
  .github/ISSUE_TEMPLATE/cirrus-onboarding-request.md
Owners: none

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
