Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

chore(tests): Update client integration tests to work on the new UI. (#13021)
  .circleci/config.yml
  Makefile
  docker-compose-integration-test.yml
  experimenter/experimenter/nimbus_ui_new/templates/common/sidebar_link.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/approval_rejection_controls.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/takeaways_card.html
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/kinto/client.py
  experimenter/tests/integration/nimbus/pages/base.py
  experimenter/tests/integration/nimbus/pages/experimenter/audience.py
  experimenter/tests/integration/nimbus/pages/experimenter/base.py
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
  experimenter/tests/integration/nimbus/test_cirrus_integration.py
  experimenter/tests/integration/nimbus/test_remote_settings.py
  experimenter/tests/integration/nimbus/utils/helpers.py
  experimenter/tests/nimbus_integration_tests.sh
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

chore(tests): Update client integration tests to work on the new UI. (#13021)
  .circleci/config.yml
  Makefile
  docker-compose-integration-test.yml
  experimenter/experimenter/nimbus_ui_new/templates/common/sidebar_link.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/approval_rejection_controls.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/takeaways_card.html
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/kinto/client.py
  experimenter/tests/integration/nimbus/pages/base.py
  experimenter/tests/integration/nimbus/pages/experimenter/audience.py
  experimenter/tests/integration/nimbus/pages/experimenter/base.py
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
  experimenter/tests/integration/nimbus/test_cirrus_integration.py
  experimenter/tests/integration/nimbus/test_remote_settings.py
  experimenter/tests/integration/nimbus/utils/helpers.py
  experimenter/tests/nimbus_integration_tests.sh
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

chore(nimbus): Update application-services (#13034)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13034)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13034)
  application-services/application-services.env
Owners: none

feat(nimbus): use codemirror for localizations
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/static/js/edit_branches.js
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): use codemirror for localizations (#13016)
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/static/js/edit_branches.js
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): use codemirror for localizations (#13016)
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/static/js/edit_branches.js
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): use codemirror for localizations (#13016)
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/static/js/edit_branches.js
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13035)
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.1/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.1/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.1/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.1/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.1/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13035)
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.1/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.1/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.1/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.1/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.1/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13035)
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.1/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.1/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.1/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.1/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.1/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): only initialize codemirror to branch form updates
  experimenter/experimenter/nimbus_ui_new/static/js/edit_branches.js
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): only initialize codemirror to branch form updates (#13042)
  experimenter/experimenter/nimbus_ui_new/static/js/edit_branches.js
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): only initialize codemirror to branch form updates (#13042)
  experimenter/experimenter/nimbus_ui_new/static/js/edit_branches.js
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): only initialize codemirror to branch form updates (#13042)
  experimenter/experimenter/nimbus_ui_new/static/js/edit_branches.js
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/release.fml.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/firefox_suggest.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13044)
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/release.fml.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/firefox_suggest.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13044)
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/release.fml.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/firefox_suggest.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13044)
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/release.fml.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/firefox_suggest.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

update integration test paths
  .circleci/config.yml
  experimenter/experimenter/results/src/lib/constants.ts
  experimenter/experimenter/urls.py
  experimenter/tests/integration/nimbus/pages/experimenter/audience.py
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

chore(nimbus): Disable integration tests
  .circleci/config.yml
Owners: none

chore(nimbus): Disable integration tests
  .circleci/config.yml
Owners: none

chore(nimbus): Disable integration tests
  .circleci/config.yml
Owners: none

chore(nimbus): Disable integration tests
  .circleci/config.yml
Owners: none

chore(nimbus): revert disabling the integration tests
  .circleci/config.yml
Owners: none

chore(nimbus): Add viewpoint targeting for iOS and Android
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Should not show launch controls if there are errors
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Fix name of results URL in experiment table
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Fix name of results URL in experiment table (#13056)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Fix name of results URL in experiment table (#13056)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Fix name of results URL in experiment table (#13056)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Should not show launch controls if there are errors (#13055)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Should not show launch controls if there are errors (#13055)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Should not show launch controls if there are errors (#13055)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Add viewpoint targeting for iOS and Android (#13052)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Add viewpoint targeting for iOS and Android (#13052)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Add viewpoint targeting for iOS and Android (#13052)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Add esr140 to Desktop branches to fetch
  experimenter/experimenter/features/manifests/apps.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add advanced targeting for Win10 EoS Sync experiment
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
