Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @brennie, @mikewilli, @jrbenny35

chore(nimbus): Update fenix apks for testing (#11171)
  .circleci/config.yml
  experimenter/tests/integration/nimbus/android/fenix-build.env
  experimenter/tests/integration/nimbus/android/moz-central.test-container.Dockerfile
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing (#11171)
  .circleci/config.yml
  experimenter/tests/integration/nimbus/android/fenix-build.env
  experimenter/tests/integration/nimbus/android/moz-central.test-container.Dockerfile
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing (#11171)
  .circleci/config.yml
  experimenter/tests/integration/nimbus/android/fenix-build.env
  experimenter/tests/integration/nimbus/android/moz-central.test-container.Dockerfile
Owners: @jrbenny35

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11174)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11174)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11174)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(cirrus): Update preview
  .env.integration-tests
Owners: none

chore(nimbus): Update fenix apks for testing
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing (#11175)
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing (#11175)
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing (#11175)
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing (#11176)
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing (#11176)
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing (#11176)
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(cirrus): Update integration env
  .env.integration-tests
Owners: none

chore(cirrus): Update integration env
  cirrus/server/cirrus/main.py
  experimenter/tests/integration/nimbus/test_cirrus_integration.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai, @jrbenny35

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(cirrus): Update integration env
  demo-app/server/index.js
Owners: none

chore(nimbus): Update External Configs (#11182)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11182)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11182)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11183)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11183)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11183)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11184)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11184)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11184)
  application-services/application-services.env
Owners: none

chore(nimbus): Update fenix apks for testing
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing (#11185)
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing (#11185)
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing (#11185)
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(ci): Add proper branch filtering for recipe generator.
  .circleci/config.yml
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11186)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11186)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11186)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @brennie
/experimenter/manifesttool/ @jaredlockhart @brennie
/schemas/ @jaredlockhart @mikewilli
/experimenter/tests @jrbenny35
