Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

chore(nimbus): Update External Configs (#13100)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.1/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.1/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13100)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.1/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.1/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13100)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.1/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.1/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

Update circle job for creating mobile recipes.
  .circleci/config.yml
Owners: none

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13108)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13108)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13108)
  application-services/application-services.env
Owners: none

chore(cirrus): Update onboarding issue template to use new issue form syntax
  .github/ISSUE_TEMPLATE/cirrus-onboarding-request.md
  .github/ISSUE_TEMPLATE/cirrus-onboarding-request.yml
Owners: none

fix(experimenter): fix yaml syntax in targeting_request_template.yml
  .github/ISSUE_TEMPLATE/targeting_request_template.yml
Owners: none

fix(experimenter): fix yaml syntax in targeting_request_template.yml (#13115)
  .github/ISSUE_TEMPLATE/targeting_request_template.yml
Owners: none

fix(experimenter): fix yaml syntax in targeting_request_template.yml (#13115)
  .github/ISSUE_TEMPLATE/targeting_request_template.yml
Owners: none

fix(experimenter): fix yaml syntax in targeting_request_template.yml (#13115)
  .github/ISSUE_TEMPLATE/targeting_request_template.yml
Owners: none

bug(nimbus): set default values on backend, not frontend
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Home page welcome banner
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/static/assets/welcome.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Fix for upload being skipped.
  .circleci/config.yml
  experimenter/tests/integration/nimbus/pages/experimenter/overview.py
Owners: @b4handjr

fix(cirrus): use different glean data dir per pid
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/settings.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

fix(cirrus): use different glean data dir per pid (#13120)
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/settings.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

fix(cirrus): use different glean data dir per pid (#13120)
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/settings.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

fix(cirrus): use different glean data dir per pid (#13120)
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/settings.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus): Update onboarding issue template to use new issue form syntax (#13112)
  .github/ISSUE_TEMPLATE/cirrus-onboarding-request.md
  .github/ISSUE_TEMPLATE/cirrus-onboarding-request.yml
Owners: none

chore(cirrus): Update onboarding issue template to use new issue form syntax (#13112)
  .github/ISSUE_TEMPLATE/cirrus-onboarding-request.md
  .github/ISSUE_TEMPLATE/cirrus-onboarding-request.yml
Owners: none

chore(cirrus): Update onboarding issue template to use new issue form syntax (#13112)
  .github/ISSUE_TEMPLATE/cirrus-onboarding-request.md
  .github/ISSUE_TEMPLATE/cirrus-onboarding-request.yml
Owners: none

chore(nimbus): Update Firefox Versions (#13047)
  .circleci/config.yml
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
  experimenter/tests/integration/nimbus/pages/experimenter/overview.py
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13047)
  .circleci/config.yml
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
  experimenter/tests/integration/nimbus/pages/experimenter/overview.py
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13047)
  .circleci/config.yml
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
  experimenter/tests/integration/nimbus/pages/experimenter/overview.py
Owners: @b4handjr

bug(nimbus): set default values on backend, not frontend (#13116)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): set default values on backend, not frontend (#13116)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): set default values on backend, not frontend (#13116)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): Handle features without schemas in new UI
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): Handle features without schemas in new UI (#13109)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): Handle features without schemas in new UI (#13109)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): Handle features without schemas in new UI (#13109)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add advanced targeting for apple intelligence users (#13103)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): add advanced targeting for apple intelligence users (#13103)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): add advanced targeting for apple intelligence users (#13103)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): Add advanced targeting for tou users
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

Removed the redundant review checker targeting from Android
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
