Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

feat(nimbus): create new results page overview section
  experimenter/experimenter/jetstream/client.py
  experimenter/experimenter/jetstream/tests/test_tasks.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/common/branch_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): show review errors on screenshot descriptions
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(project): Clean up experimenter_test container before trying to create it
  Makefile
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add subscribers field to feature config model.
  experimenter/experimenter/experiments/migrations/0297_nimbusfeatureconfig_subscribers.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(experimenter): glean must have a unique data dir per pid
  experimenter/experimenter/settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(project): Clean up experimenter_test container before trying to create it (#13786)
  Makefile
Owners: none

bug(project): Clean up experimenter_test container before trying to create it (#13786)
  Makefile
Owners: none

bug(project): Clean up experimenter_test container before trying to create it (#13786)
  Makefile
Owners: none

bug(experimenter): give glean a unique data dir per pid (#13789)
  experimenter/experimenter/settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(experimenter): give glean a unique data dir per pid (#13789)
  experimenter/experimenter/settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(experimenter): give glean a unique data dir per pid (#13789)
  experimenter/experimenter/settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Fix merge errors.
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Manage tags
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/tags_list_partial.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/tags_manage.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Save formset
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/tags_list_partial.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/tags_manage.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Save formset
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Save formset
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Save formset
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Save formset
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Move modal
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Move modal
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): more robust archive button find
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @b4handjr

feat(nimbus): more robust archive button find
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @b4handjr

feat(nimbus): more robust archive button find
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @b4handjr

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.3/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v146.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Updates based on feedback.
  experimenter/experimenter/experiments/migrations/0297_nimbusfeatureconfig_subscribers.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): more robust archive button find
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @b4handjr

bug(nimbus): show review errors on screenshot descriptions (#13784)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): show review errors on screenshot descriptions (#13784)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): show review errors on screenshot descriptions (#13784)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add subscribers field to feature config model. (#13787)
  experimenter/experimenter/experiments/migrations/0297_nimbusfeatureconfig_subscribers.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add subscribers field to feature config model. (#13787)
  experimenter/experimenter/experiments/migrations/0297_nimbusfeatureconfig_subscribers.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add subscribers field to feature config model. (#13787)
  experimenter/experimenter/experiments/migrations/0297_nimbusfeatureconfig_subscribers.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): more robust archive button find
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @b4handjr

feat(nimbus): change manage tags css
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): change manage tags css
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @b4handjr

fix(nimbus): make boolean text more visible in dark mode in codemirror windows (#13596)
  experimenter/experimenter/nimbus_ui/static/js/branch_detail.js
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/static/package.json
  experimenter/yarn.lock
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): make boolean text more visible in dark mode in codemirror windows (#13596)
  experimenter/experimenter/nimbus_ui/static/js/branch_detail.js
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/static/package.json
  experimenter/yarn.lock
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): make boolean text more visible in dark mode in codemirror windows (#13596)
  experimenter/experimenter/nimbus_ui/static/js/branch_detail.js
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/static/package.json
  experimenter/yarn.lock
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
