Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

chore(nimbus): Update External Configs (#12566)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.2/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12566)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.2/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12566)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.2/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

Update firefox_fennec_release_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12572)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12572)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12572)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v138.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.1.0/release.fml.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/fenix/default-browser.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services (#12571)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12571)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12571)
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs (#12570)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v138.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.1.0/release.fml.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/fenix/default-browser.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12570)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v138.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.1.0/release.fml.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/fenix/default-browser.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12570)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v138.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.1.0/release.fml.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/fenix/default-browser.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update firefox_fennec_release_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12573)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12573)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12573)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs (#12574)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12574)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12574)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): End enrollment and end experiment work flow
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/constants.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/approval_rejection_controls.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(ci): Add test result and coverage file output to CI jobs. (#12531)
  .circleci/config.yml
  Makefile
  experimenter/experimenter/nimbus-ui/package.json
  experimenter/tests/pytest.ini
  experimenter/yarn.lock
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

chore(ci): Add test result and coverage file output to CI jobs. (#12531)
  .circleci/config.yml
  Makefile
  experimenter/experimenter/nimbus-ui/package.json
  experimenter/tests/pytest.ini
  experimenter/yarn.lock
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

chore(ci): Add test result and coverage file output to CI jobs. (#12531)
  .circleci/config.yml
  Makefile
  experimenter/experimenter/nimbus-ui/package.json
  experimenter/tests/pytest.ini
  experimenter/yarn.lock
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(tests): Update test result file names to match correct naming scheme.
  .circleci/config.yml
  Makefile
Owners: none

chore(nimbus): Update External Configs (#12575)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12575)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12575)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Separate end enrollment and end experiment into specific forms and views
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/static/js/review_controls.js
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/approval_rejection_controls.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): End experiment and End enrollment workflow (#12300)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/constants.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/static/js/review_controls.js
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/approval_rejection_controls.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): End experiment and End enrollment workflow (#12300)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/constants.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/static/js/review_controls.js
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/approval_rejection_controls.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): End experiment and End enrollment workflow (#12300)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/constants.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/static/js/review_controls.js
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/approval_rejection_controls.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(tests): Update test result file names to match correct naming scheme. (#12583)
  .circleci/config.yml
  Makefile
Owners: none

chore(tests): Update test result file names to match correct naming scheme. (#12583)
  .circleci/config.yml
  Makefile
Owners: none

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
