Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

chore(ci): Pin integration test image. (#13865)
  docker-compose-integration-test.yml
Owners: none

feat(nimbus): Filter by tags
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Filter by tags (#13867)
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Filter by tags (#13867)
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Filter by tags (#13867)
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v145.1.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Migrate existing projects to tags
  experimenter/experimenter/experiments/migrations/0298_convert_projects_to_tags.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Migrate existing projects to tags (#13868)
  experimenter/experimenter/experiments/migrations/0298_convert_projects_to_tags.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Migrate existing projects to tags (#13868)
  experimenter/experimenter/experiments/migrations/0298_convert_projects_to_tags.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Migrate existing projects to tags (#13868)
  experimenter/experimenter/experiments/migrations/0298_convert_projects_to_tags.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add sorting to feature changes table. (#13850)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add sorting to feature changes table. (#13850)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add sorting to feature changes table. (#13850)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): bump mozilla-nimbus-schemas to 3001.0.0 (#13853)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/tests/api/v6/test_serializers.py
  experimenter/experimenter/features/__init__.py
  experimenter/experimenter/features/management/commands/load_feature_configs.py
  experimenter/experimenter/features/tests/fixtures/valid_features/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/tests/test_features.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): bump mozilla-nimbus-schemas to 3001.0.0 (#13853)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/tests/api/v6/test_serializers.py
  experimenter/experimenter/features/__init__.py
  experimenter/experimenter/features/management/commands/load_feature_configs.py
  experimenter/experimenter/features/tests/fixtures/valid_features/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/tests/test_features.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): bump mozilla-nimbus-schemas to 3001.0.0 (#13853)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/tests/api/v6/test_serializers.py
  experimenter/experimenter/features/__init__.py
  experimenter/experimenter/features/management/commands/load_feature_configs.py
  experimenter/experimenter/features/tests/fixtures/valid_features/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/tests/test_features.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Change link name based on review feedback.
  experimenter/experimenter/nimbus_ui/templates/common/header.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(experimenter): use server-side glean
  docker-compose.yml
  experimenter/.coveragerc
  experimenter/Dockerfile
  experimenter/experimenter/glean/middleware.py
  experimenter/experimenter/glean/tests/conftest.py
  experimenter/experimenter/glean/tests/test_middleware.py
  experimenter/experimenter/glean/tests/test_utils.py
  experimenter/experimenter/glean/tests/test_views.py
  experimenter/experimenter/glean/utils.py
  experimenter/experimenter/glean/views.py
  experimenter/experimenter/settings.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): create visual layout for metric card (#13842)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/static/css/style.scss
  experimenter/experimenter/nimbus_ui/templates/common/metric_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): create visual layout for metric card (#13842)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/static/css/style.scss
  experimenter/experimenter/nimbus_ui/templates/common/metric_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): create visual layout for metric card (#13842)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/static/css/style.scss
  experimenter/experimenter/nimbus_ui/templates/common/metric_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add button to link to feature page in header. (#13856)
  experimenter/experimenter/nimbus_ui/templates/common/header.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add button to link to feature page in header. (#13856)
  experimenter/experimenter/nimbus_ui/templates/common/header.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add button to link to feature page in header. (#13856)
  experimenter/experimenter/nimbus_ui/templates/common/header.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add Subscribe button to Feature health page.
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/feature_subscribe_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add Subscribe button to Feature health page. (#13861)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/feature_subscribe_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add Subscribe button to Feature health page. (#13861)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/feature_subscribe_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add Subscribe button to Feature health page. (#13861)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/feature_subscribe_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(experimenter): use server-side glean (#13859)
  docker-compose.yml
  experimenter/.coveragerc
  experimenter/Dockerfile
  experimenter/experimenter/glean/middleware.py
  experimenter/experimenter/glean/tests/conftest.py
  experimenter/experimenter/glean/tests/test_middleware.py
  experimenter/experimenter/glean/tests/test_utils.py
  experimenter/experimenter/glean/tests/test_views.py
  experimenter/experimenter/glean/utils.py
  experimenter/experimenter/glean/views.py
  experimenter/experimenter/settings.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(experimenter): use server-side glean (#13859)
  docker-compose.yml
  experimenter/.coveragerc
  experimenter/Dockerfile
  experimenter/experimenter/glean/middleware.py
  experimenter/experimenter/glean/tests/conftest.py
  experimenter/experimenter/glean/tests/test_middleware.py
  experimenter/experimenter/glean/tests/test_utils.py
  experimenter/experimenter/glean/tests/test_views.py
  experimenter/experimenter/glean/utils.py
  experimenter/experimenter/glean/views.py
  experimenter/experimenter/settings.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(experimenter): use server-side glean (#13859)
  docker-compose.yml
  experimenter/.coveragerc
  experimenter/Dockerfile
  experimenter/experimenter/glean/middleware.py
  experimenter/experimenter/glean/tests/conftest.py
  experimenter/experimenter/glean/tests/test_middleware.py
  experimenter/experimenter/glean/tests/test_utils.py
  experimenter/experimenter/glean/tests/test_views.py
  experimenter/experimenter/glean/utils.py
  experimenter/experimenter/glean/views.py
  experimenter/experimenter/settings.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add unsubscribe button to feature health page.
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/feature_subscribe_button.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add unsubscribe button to feature health page.
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/feature_subscribe_button.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

feat(nimbus): Remove projects
  Makefile
  experimenter/experimenter/base/management/commands/load_dummy_projects.py
  experimenter/experimenter/base/management/commands/load_dummy_tags.py
  experimenter/experimenter/base/tests/test_load_dummy_projects.py
  experimenter/experimenter/base/tests/test_load_dummy_tags.py
  experimenter/experimenter/experiments/changelog_utils.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/tests/integration/nimbus/pages/experimenter/overview.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): display feature coenrollment
  experimenter/experimenter/experiments/migrations/0299_nimbusversionedschema_allow_coenrollment.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/features/management/commands/load_feature_configs.py
  experimenter/experimenter/features/tests/fixtures/valid_features/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/tests/test_features.py
  experimenter/experimenter/features/tests/test_load_feature_configs.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): display feature coenrollment
  experimenter/experimenter/experiments/migrations/0299_nimbusversionedschema_allow_coenrollment.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/features/management/commands/load_feature_configs.py
  experimenter/experimenter/features/tests/fixtures/valid_features/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/tests/test_features.py
  experimenter/experimenter/features/tests/test_load_feature_configs.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): display feature coenrollment
  experimenter/experimenter/experiments/migrations/0299_nimbusversionedschema_allow_coenrollment.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/features/management/commands/load_feature_configs.py
  experimenter/experimenter/features/tests/test_load_feature_configs.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Add non-sticky mobile new user targeting
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): Fix feature changes table data persisting on app change.
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic
