Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

Don't use docker executor.
  .circleci/config.yml
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.25.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/fxa_access_method.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12698)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.25.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/fxa_access_method.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12698)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.25.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/fxa_access_method.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12698)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.25.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/fxa_access_method.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add branch reporting to coverage reports.
  .circleci/config.yml
  Makefile
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs (#12700)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12700)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12700)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions (#12701)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12701)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12701)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v139.1.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12703)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v139.1.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12703)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v139.1.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12703)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v139.1.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12706)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12706)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12706)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
Owners: @b4handjr

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services (#12704)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12704)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12704)
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs (#12705)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12705)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12705)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Add Firefox v139.1 and v139.2
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Add Firefox v139.1 and v139.2 (#12711)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Add Firefox v139.1 and v139.2 (#12711)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Add Firefox v139.1 and v139.2 (#12711)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12720)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12720)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
