Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

fix(nimbus): fix sidebar using null values (#14305)
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix sidebar using null values (#14305)
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix sidebar using null values (#14305)
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update TOU topsites targeting (#14302)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update TOU topsites targeting (#14302)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update TOU topsites targeting (#14302)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(cirrus): use 9-character sha for docker image tag (#14308)
  .circleci/config.yml
Owners: none

bug(cirrus): use 9-character sha for docker image tag (#14308)
  .circleci/config.yml
Owners: none

bug(cirrus): use 9-character sha for docker image tag (#14308)
  .circleci/config.yml
Owners: none

chore(nimbus): reorder detail header
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/assign_tags_response.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_tags.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

fix(nimbus): make home page cards equal height
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

style(nimbus): apply formatter fixes for home cards
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

style(nimbus): add top padding above pagination
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v148.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.1/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.2.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.0/release.fml.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/fenix/pocket.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): reorder detail header (#14310)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/assign_tags_response.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_tags.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): reorder detail header (#14310)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/assign_tags_response.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_tags.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): reorder detail header (#14310)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/assign_tags_response.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_tags.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.2.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.0/release.fml.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/fenix/pocket.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): move selected options to top
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): move selected options to top (#14318)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): move selected options to top (#14318)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): move selected options to top (#14318)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Remove dounle pagination
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): make home page cards equal height (#14201)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): make home page cards equal height (#14201)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): make home page cards equal height (#14201)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): update ui to display metrics grouped by area (#14258)
  experimenter/experimenter/nimbus_ui/templates/common/sidebar_link.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): update ui to display metrics grouped by area (#14258)
  experimenter/experimenter/nimbus_ui/templates/common/sidebar_link.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): update ui to display metrics grouped by area (#14258)
  experimenter/experimenter/nimbus_ui/templates/common/sidebar_link.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): update Firefox Suggest advanced targeting
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Fix lint errors by simplifying names and strings
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

More lint fixes, improve naming
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Fix test hopefully
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Desktop Release
  experimenter/tests/firefox_desktop_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox iOS (Fennec) Release
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr
