Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

Update test_views.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): Remove space
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): move url up
  experimenter/experimenter/nimbus_ui/urls.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(tests): Update general UI tests for new UI.
  .circleci/config.yml
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/archive_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_metrics.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/models/base_dataclass.py
  experimenter/tests/integration/nimbus/pages/base.py
  experimenter/tests/integration/nimbus/pages/experimenter/audience.py
  experimenter/tests/integration/nimbus/pages/experimenter/base.py
  experimenter/tests/integration/nimbus/pages/experimenter/branches.py
  experimenter/tests/integration/nimbus/pages/experimenter/metrics.py
  experimenter/tests/integration/nimbus/pages/experimenter/overview.py
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
  experimenter/tests/integration/nimbus/test_cirrus_integration.py
  experimenter/tests/integration/nimbus/test_experimenter_ui.py
  experimenter/tests/integration/nimbus/test_remote_settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): Home page layout (#13078)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Home page layout (#13078)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Home page layout (#13078)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add advanced targeting for apple intelligence users
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

chore(nimbus): Update application-services (#13101)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13101)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13101)
  application-services/application-services.env
Owners: none

Update experimenter/experimenter/targeting/constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): test PR to observe CI
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

fix tests
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @b4handjr

Update cirrus-onboarding-request.md
  .github/ISSUE_TEMPLATE/cirrus-onboarding-request.md
Owners: none

Apply suggestions from code review
  .github/ISSUE_TEMPLATE/cirrus-onboarding-request.md
Owners: none

Apply suggestions from code review
  .github/ISSUE_TEMPLATE/cirrus-onboarding-request.md
Owners: none

docs(cirrus):update cirrus docs
  cirrus/README.md
Owners: @jaredlockhart, @yashikakhurana, @jeddai

docs(cirrus):update cirrus docs
  cirrus/README.md
Owners: @jaredlockhart, @yashikakhurana, @jeddai

docs(cirrus):update cirrus docs
  cirrus/README.md
Owners: @jaredlockhart, @yashikakhurana, @jeddai

docs(cirrus):update cirrus docs
  cirrus/README.md
Owners: @jaredlockhart, @yashikakhurana, @jeddai

Update cirrus/README.md
  cirrus/README.md
Owners: @jaredlockhart, @yashikakhurana, @jeddai

docs(cirrus): Update cirrus as a service docs (#13110)
  cirrus/README.md
Owners: @jaredlockhart, @yashikakhurana, @jeddai

docs(cirrus): Update cirrus as a service docs (#13110)
  cirrus/README.md
Owners: @jaredlockhart, @yashikakhurana, @jeddai

docs(cirrus): Update cirrus as a service docs (#13110)
  cirrus/README.md
Owners: @jaredlockhart, @yashikakhurana, @jeddai

fix(cirrus): don't require context
  cirrus/server/cirrus/main.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

Apply suggestions from code review
  .github/ISSUE_TEMPLATE/cirrus-onboarding-request.md
Owners: none

chore(tests): Update general UI tests for new UI. (#13089)
  .circleci/config.yml
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/archive_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_metrics.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/models/base_dataclass.py
  experimenter/tests/integration/nimbus/pages/base.py
  experimenter/tests/integration/nimbus/pages/experimenter/audience.py
  experimenter/tests/integration/nimbus/pages/experimenter/base.py
  experimenter/tests/integration/nimbus/pages/experimenter/branches.py
  experimenter/tests/integration/nimbus/pages/experimenter/metrics.py
  experimenter/tests/integration/nimbus/pages/experimenter/overview.py
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
  experimenter/tests/integration/nimbus/test_cirrus_integration.py
  experimenter/tests/integration/nimbus/test_experimenter_ui.py
  experimenter/tests/integration/nimbus/test_remote_settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

chore(tests): Update general UI tests for new UI. (#13089)
  .circleci/config.yml
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/archive_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_metrics.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/models/base_dataclass.py
  experimenter/tests/integration/nimbus/pages/base.py
  experimenter/tests/integration/nimbus/pages/experimenter/audience.py
  experimenter/tests/integration/nimbus/pages/experimenter/base.py
  experimenter/tests/integration/nimbus/pages/experimenter/branches.py
  experimenter/tests/integration/nimbus/pages/experimenter/metrics.py
  experimenter/tests/integration/nimbus/pages/experimenter/overview.py
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
  experimenter/tests/integration/nimbus/test_cirrus_integration.py
  experimenter/tests/integration/nimbus/test_experimenter_ui.py
  experimenter/tests/integration/nimbus/test_remote_settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

chore(tests): Update general UI tests for new UI. (#13089)
  .circleci/config.yml
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/archive_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_metrics.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/models/base_dataclass.py
  experimenter/tests/integration/nimbus/pages/base.py
  experimenter/tests/integration/nimbus/pages/experimenter/audience.py
  experimenter/tests/integration/nimbus/pages/experimenter/base.py
  experimenter/tests/integration/nimbus/pages/experimenter/branches.py
  experimenter/tests/integration/nimbus/pages/experimenter/metrics.py
  experimenter/tests/integration/nimbus/pages/experimenter/overview.py
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
  experimenter/tests/integration/nimbus/test_cirrus_integration.py
  experimenter/tests/integration/nimbus/test_experimenter_ui.py
  experimenter/tests/integration/nimbus/test_remote_settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

fix(cirrus): don't require context (#13102)
  cirrus/server/cirrus/main.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

fix(cirrus): don't require context (#13102)
  cirrus/server/cirrus/main.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

fix(cirrus): don't require context (#13102)
  cirrus/server/cirrus/main.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus): Add issue template for cirrus onboarding (#13086)
  .github/ISSUE_TEMPLATE/cirrus-onboarding-request.md
Owners: none

chore(cirrus): Add issue template for cirrus onboarding (#13086)
  .github/ISSUE_TEMPLATE/cirrus-onboarding-request.md
Owners: none

chore(cirrus): Add issue template for cirrus onboarding (#13086)
  .github/ISSUE_TEMPLATE/cirrus-onboarding-request.md
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.1/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.1/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic
