Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

fix: remove newline from image_tags value (#13286)
  .github/workflows/experimenter-mozcloud-publish.yaml
Owners: none

fix: remove newline from image_tags value (#13286)
  .github/workflows/experimenter-mozcloud-publish.yaml
Owners: none

fix: remove newline from image_tags value (#13286)
  .github/workflows/experimenter-mozcloud-publish.yaml
Owners: none

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/ads.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for ToU users who have interacted with links or remind me later option
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

formatting and unique slug
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(experimenter): require experimenter FML generated updates to be committed
  .circleci/config.yml
  experimenter/experimenter/features/manifests/apps.yaml
  experimenter/manifesttool/appconfig.py
  experimenter/manifesttool/cli.py
  experimenter/manifesttool/fetch.py
  experimenter/manifesttool/nimbus_cli.py
  experimenter/manifesttool/tests/test_nimbus_cli.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

test(nimbus): Sort test cases
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v143.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v143.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v143.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v143.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v143.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v143.0.0/release.fml.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/incrementality_sponsored_tiles.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/ads.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v143.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v143.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v143.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v143.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v143.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v143.0.0/release.fml.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/incrementality_sponsored_tiles.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/ads.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.28.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.28.0/schemas/browser/components/newtab/content-src/asrouter/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.28.0/schemas/browser/components/newtab/content-src/asrouter/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.28.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.3.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.3.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.3.0/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.3.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.3.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.0/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

feat(nimbus): Move headers to a static method
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Sort my deliveries columns (#13277)
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Sort my deliveries columns (#13277)
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Sort my deliveries columns (#13277)
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v142.0.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v142.0.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v142.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v142.0.1/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v142.0.1/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.14.1/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.14.1/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.14.1/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.14.1/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.14.1/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.1/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.1/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.1/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.1/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.1/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.0.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.0.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.0.1/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.1/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v143.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Pin debian version for Fenix builder.
  experimenter/tests/integration/nimbus/android/moz-central.test-container.Dockerfile
Owners: @b4handjr

feat(nimbus): support channels in review serializer
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(experimenter): require experimenter FML generated updates to be committed
  .circleci/config.yml
  experimenter/experimenter/features/manifests/apps.yaml
  experimenter/manifesttool/appconfig.py
  experimenter/manifesttool/cli.py
  experimenter/manifesttool/fetch.py
  experimenter/manifesttool/nimbus_cli.py
  experimenter/manifesttool/tests/test_nimbus_cli.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.2/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): support channels in review serializer (#13306)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): support channels in review serializer (#13306)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): support channels in review serializer (#13306)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add validation for Firefox Labs fields
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/api/v6/serializers.py
  experimenter/experimenter/experiments/api/v8/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0288_nimbusexperiment_firefox_labs_description_links_text_field.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/api/v6/test_serializers.py
  experimenter/experimenter/experiments/tests/api/v8/test_serializers.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add validation for Firefox Labs fields (#13313)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/api/v6/serializers.py
  experimenter/experimenter/experiments/api/v8/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0288_nimbusexperiment_firefox_labs_description_links_text_field.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/api/v6/test_serializers.py
  experimenter/experimenter/experiments/tests/api/v8/test_serializers.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add validation for Firefox Labs fields (#13313)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/api/v6/serializers.py
  experimenter/experimenter/experiments/api/v8/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0288_nimbusexperiment_firefox_labs_description_links_text_field.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/api/v6/test_serializers.py
  experimenter/experimenter/experiments/tests/api/v8/test_serializers.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add validation for Firefox Labs fields (#13313)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/api/v6/serializers.py
  experimenter/experimenter/experiments/api/v8/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0288_nimbusexperiment_firefox_labs_description_links_text_field.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/api/v6/test_serializers.py
  experimenter/experimenter/experiments/tests/api/v8/test_serializers.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add support for new groups in Firefox Labs
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0289_alter_nimbusexperiment_firefox_labs_group.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic
