Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

chore(nimbus): Update Firefox Versions (#12720)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

feature(cirrus): Add Cirrus Load tests.
  cirrus/server/tests/load/Dockerfile
  cirrus/server/tests/load/locustfile.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

feature(cirrus): Add Cirrus Load tests.
  cirrus/server/tests/load/Dockerfile
  cirrus/server/tests/load/locustfile.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.2.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v139.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.2.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services (#12719)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12719)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12719)
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs (#12718)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.2.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v139.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.2.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12718)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.2.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v139.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.2.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12718)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.2.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v139.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.2.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

adding a targeting rule for low-memory devices (in 2025)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Including missing closing bracket
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12726)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12726)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12726)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

Add 4GB of RAM or more target (#12723)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add 4GB of RAM or more target (#12723)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add 4GB of RAM or more target (#12723)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Update advanced targeting expression for TOU_NOT_ACCEPTED_ADS_ENABLED_MAC_OR_WIN
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services (#12725)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12725)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12725)
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs (#12724)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12724)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12724)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.4/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update experimenter/experimenter/targeting/constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Rollout workflow
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/constants.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12730)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12730)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12730)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

featurea(project): Add uploading of test results files to GCP for our Looker Dashboard.
  .circleci/config.yml
  Makefile
Owners: none

feat(nimbus): Rollout workflow
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.4/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic
