Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

chore(nimbus): Run sdk targeting tests parallely (#14067)
  experimenter/tests/nimbus_rust_tests.sh
Owners: @b4handjr

feat(nimbus): Support pausing Firefox Labs deliveries
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Fix saving changesets via NimbusExperimentChangeLogInlineAdmin (#14066)
  experimenter/experimenter/experiments/admin.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Fix saving changesets via NimbusExperimentChangeLogInlineAdmin (#14066)
  experimenter/experimenter/experiments/admin.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Fix saving changesets via NimbusExperimentChangeLogInlineAdmin (#14066)
  experimenter/experimenter/experiments/admin.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Support pausing enrollment for Firefox Labs deliveries (#14065)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Support pausing enrollment for Firefox Labs deliveries (#14065)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Support pausing enrollment for Firefox Labs deliveries (#14065)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox iOS (Fennec) Release
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Desktop Release
  experimenter/tests/firefox_desktop_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

feat(nimbus): Remove home directory
  experimenter/experimenter/experiments/tests/jexl_utils.py
  experimenter/tests/integration/nimbus/app_contexts.json
  experimenter/tests/integration/nimbus/models/base_app_context_dataclass.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
  experimenter/tests/tools/example_app_context.json
  experimenter/tests/tools/sdk_eval_check.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

bug(nimbus): Improve performance of NimbusExperiment.computed_enrollment_days
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Improve performance of NimbusExperiment.computed_enrollment_days (#14075)
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Improve performance of NimbusExperiment.computed_enrollment_days (#14075)
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Improve performance of NimbusExperiment.computed_enrollment_days (#14075)
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Fenix Beta
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

feat(nimbus): Improve desktop targeting tests
  experimenter/tests/integration/nimbus/test_desktop_targeting.py
  experimenter/tests/integration/nimbus/utils/filter_expression.js
Owners: @b4handjr

feat(nimbus): Improve desktop targeting tests
  experimenter/tests/integration/nimbus/test_desktop_targeting.py
  experimenter/tests/integration/nimbus/utils/filter_expression.js
Owners: @b4handjr

feat(nimbus): Improve desktop targeting tests
  experimenter/tests/integration/nimbus/test_desktop_targeting.py
Owners: @b4handjr

feat(nimbus): Improve desktop targeting tests
  experimenter/tests/integration/nimbus/test_desktop_targeting.py
Owners: @b4handjr

feat(nimbus): Improve desktop targeting tests
  experimenter/tests/integration/nimbus/test_desktop_targeting.py
Owners: @b4handjr

feat(nimbus): Improve desktop targeting tests
  experimenter/tests/integration/nimbus/test_desktop_targeting.py
Owners: @b4handjr

feat(nimbus): Improve desktop targeting tests
  experimenter/tests/integration/nimbus/test_desktop_targeting.py
Owners: @b4handjr

feat(nimbus): Improve desktop targeting tests
  experimenter/tests/integration/nimbus/test_desktop_targeting.py
Owners: @b4handjr

feat(nimbus): Improve desktop targeting tests
  experimenter/tests/integration/nimbus/test_desktop_targeting.py
Owners: @b4handjr

feat(nimbus): Improve desktop targeting tests
  experimenter/tests/integration/nimbus/test_desktop_targeting.py
Owners: @b4handjr

feat(nimbus): Improve desktop targeting tests
  experimenter/tests/integration/nimbus/test_desktop_targeting.py
Owners: @b4handjr

feat(nimbus): Improve desktop targeting tests
  experimenter/tests/integration/nimbus/test_desktop_targeting.py
Owners: @b4handjr

feat(nimbus): Improve desktop targeting tests
  experimenter/tests/integration/nimbus/test_desktop_targeting.py
  experimenter/tests/integration/nimbus/utils/filter_expression.js
Owners: @b4handjr

feat(nimbus): Improve desktop targeting tests
  experimenter/tests/integration/nimbus/test_desktop_targeting.py
  experimenter/tests/integration/nimbus/utils/filter_expression.js
Owners: @b4handjr

feat(nimbus): Improve desktop targeting tests
  experimenter/experimenter/experiments/api/v5/types.py
  experimenter/tests/integration/nimbus/test_desktop_targeting.py
  experimenter/tests/integration/nimbus/utils/helpers.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): Improve desktop targeting tests
  experimenter/experimenter/experiments/api/v5/types.py
  experimenter/tests/integration/nimbus/test_desktop_targeting.py
  experimenter/tests/integration/nimbus/utils/helpers.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): Improve desktop targeting tests
  experimenter/experimenter/results/schema.graphql
  experimenter/tests/integration/nimbus/test_desktop_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): Improve desktop targeting tests
  experimenter/experimenter/results/schema.graphql
  experimenter/tests/integration/nimbus/test_desktop_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): Reduce queries in send_emails task
  experimenter/experimenter/kinto/tasks.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Improve desktop targeting tests
  experimenter/tests/integration/nimbus/test_desktop_targeting.py
  experimenter/tests/integration/nimbus/utils/filter_expression.js
Owners: @b4handjr
