Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

style(nimbus): turn collapsible elements inside modals static
  experimenter/experimenter/nimbus_ui/templates/common/branch_card.html
  experimenter/experimenter/nimbus_ui/templates/common/edit_outcome_summary_form.html
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
  cirrus/server/cirrus/sdk.py
  cirrus/server/tests/conftest.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(experimenter): test experimenter on change to a-s
  .circleci/config.yml
Owners: none

chore(application-services): improve application services docker image layer caching
  application-services/Dockerfile
Owners: none

chore(application-services): improve application services docker image layer caching (#14491)
  application-services/Dockerfile
Owners: none

chore(application-services): improve application services docker image layer caching (#14491)
  application-services/Dockerfile
Owners: none

chore(application-services): improve application services docker image layer caching (#14491)
  application-services/Dockerfile
Owners: none

chore(experimenter): test experimenter on change to a-s (#14490)
  .circleci/config.yml
Owners: none

chore(experimenter): test experimenter on change to a-s (#14490)
  .circleci/config.yml
Owners: none

chore(experimenter): test experimenter on change to a-s (#14490)
  .circleci/config.yml
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.3/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services (#14489)
  application-services/application-services.env
  cirrus/server/cirrus/sdk.py
  cirrus/server/tests/conftest.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(nimbus): Update application-services (#14489)
  application-services/application-services.env
  cirrus/server/cirrus/sdk.py
  cirrus/server/tests/conftest.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(nimbus): Update application-services (#14489)
  application-services/application-services.env
  cirrus/server/cirrus/sdk.py
  cirrus/server/tests/conftest.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

feat(nimbus): Create celery tasks to check analysis and results ready
  experimenter/experimenter/settings.py
  experimenter/experimenter/slack/tasks.py
  experimenter/experimenter/slack/tests/test_tasks.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

style(nimbus): wording changes to error card on new results page
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

style(nimbus): update new results page filters ui
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): reduce weekly range end dates in metric popout by 1
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Desktop Release
  experimenter/tests/firefox_desktop_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox iOS (Fennec) Release
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): remove vpn
  docs/experimenter/openapi-schema.json
  docs/experimenter/swagger-ui.html
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0318_alter_nimbusexperiment_application_and_more.py
  experimenter/experimenter/features/manifests/apps.yaml
  experimenter/experimenter/features/manifests/vpn-web/experimenter.yaml
  experimenter/experimenter/features/manifests/vpn-web/production.fml.yaml
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): reduce weekly range end dates in metric popout by 1 (#14496)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): reduce weekly range end dates in metric popout by 1 (#14496)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): reduce weekly range end dates in metric popout by 1 (#14496)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): remove vpn (#14498)
  docs/experimenter/openapi-schema.json
  docs/experimenter/swagger-ui.html
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0318_alter_nimbusexperiment_application_and_more.py
  experimenter/experimenter/features/manifests/apps.yaml
  experimenter/experimenter/features/manifests/vpn-web/experimenter.yaml
  experimenter/experimenter/features/manifests/vpn-web/production.fml.yaml
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): remove vpn (#14498)
  docs/experimenter/openapi-schema.json
  docs/experimenter/swagger-ui.html
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0318_alter_nimbusexperiment_application_and_more.py
  experimenter/experimenter/features/manifests/apps.yaml
  experimenter/experimenter/features/manifests/vpn-web/experimenter.yaml
  experimenter/experimenter/features/manifests/vpn-web/production.fml.yaml
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): remove vpn (#14498)
  docs/experimenter/openapi-schema.json
  docs/experimenter/swagger-ui.html
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0318_alter_nimbusexperiment_application_and_more.py
  experimenter/experimenter/features/manifests/apps.yaml
  experimenter/experimenter/features/manifests/vpn-web/experimenter.yaml
  experimenter/experimenter/features/manifests/vpn-web/production.fml.yaml
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add results indicator next to metric slug in metric area headers
  experimenter/experimenter/jetstream/results_manager.py
  experimenter/experimenter/jetstream/tests/test_results_manager.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(cirrus): report fewer remote settings errors
  cirrus/README.md
  cirrus/server/cirrus/experiment_recipes.py
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/settings.py
  cirrus/server/tests/test_experiment_recipes.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v149.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Use computed days
  experimenter/experimenter/settings.py
  experimenter/experimenter/slack/tasks.py
  experimenter/experimenter/slack/tests/test_tasks.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Fenix Beta
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

style(nimbus): update new results page filters ui (#14471)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

style(nimbus): update new results page filters ui (#14471)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

style(nimbus): update new results page filters ui (#14471)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): fix indonesian language code
  experimenter/experimenter/base/fixtures/languages.json
  experimenter/experimenter/base/migrations/0006_fix_indonesian_language_code.py
  experimenter/experimenter/base/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic
