Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12690)
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12690)
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12690)
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Fix missed target update + formatting
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(project): Update external Firefox tracking script for iOS. (#12688)
  scripts/external_integration_updater_script.sh
Owners: none

chore(project): Update external Firefox tracking script for iOS. (#12688)
  scripts/external_integration_updater_script.sh
Owners: none

chore(project): Update external Firefox tracking script for iOS. (#12688)
  scripts/external_integration_updater_script.sh
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(project): Fix the Firefox tracking script variable assignments.
  scripts/external_integration_updater_script.sh
Owners: none

feat(nimbus): add proposed release date to audience form (#12679)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add proposed release date to audience form (#12679)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add proposed release date to audience form (#12679)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12691)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12691)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12691)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Advanced targeting for users who have not accepted ToU yet, have not disabled ads, and are on Mac or Win (#12596)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Advanced targeting for users who have not accepted ToU yet, have not disabled ads, and are on Mac or Win (#12596)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Advanced targeting for users who have not accepted ToU yet, have not disabled ads, and are on Mac or Win (#12596)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(project): Fix the Firefox tracking script variable assignments. (#12695)
  scripts/external_integration_updater_script.sh
Owners: none

chore(project): Fix the Firefox tracking script variable assignments. (#12695)
  scripts/external_integration_updater_script.sh
Owners: none

chore(project): Fix the Firefox tracking script variable assignments. (#12695)
  scripts/external_integration_updater_script.sh
Owners: none

feat(nimbus): Show rejection message (#12646)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Show rejection message (#12646)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Show rejection message (#12646)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services (#12692)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12692)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12692)
  application-services/application-services.env
Owners: none

chore(nimbus): Fix firefox-ios tag format
  experimenter/experimenter/features/manifests/apps.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v131.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v131.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v131.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v137.2.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/release.fml.yaml
  experimenter/manifesttool/tests/test_version.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12699)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12699)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12699)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Fix firefox-ios tag format (#12697)
  experimenter/experimenter/features/manifests/apps.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v131.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v131.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v131.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v137.2.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/release.fml.yaml
  experimenter/manifesttool/tests/test_version.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Fix firefox-ios tag format (#12697)
  experimenter/experimenter/features/manifests/apps.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v131.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v131.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v131.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v137.2.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/release.fml.yaml
  experimenter/manifesttool/tests/test_version.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Fix firefox-ios tag format (#12697)
  experimenter/experimenter/features/manifests/apps.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v131.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v131.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v131.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v137.2.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/release.fml.yaml
  experimenter/manifesttool/tests/test_version.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add back JEST file uploads.
  .circleci/config.yml
Owners: none

Try docker executor.
  .circleci/config.yml
Owners: none
