Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

test(nimbus): Test feature collab views and forms
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Disable slack notifications toggle (#14236)
  experimenter/experimenter/experiments/migrations/0309_nimbusexperiment_enable_review_slack_notifications.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Disable slack notifications toggle (#14236)
  experimenter/experimenter/experiments/migrations/0309_nimbusexperiment_enable_review_slack_notifications.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Disable slack notifications toggle (#14236)
  experimenter/experimenter/experiments/migrations/0309_nimbusexperiment_enable_review_slack_notifications.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add fallback text when segments are missing (#14260)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add fallback text when segments are missing (#14260)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add fallback text when segments are missing (#14260)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix absolute value being called on None
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add experiment error ui to new results page
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): bump minimum version to 105 (#14271)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/api/v7/test_serializers.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): bump minimum version to 105 (#14271)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/api/v7/test_serializers.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): bump minimum version to 105 (#14271)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/api/v7/test_serializers.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add experiment error ui to new results page (#14265)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add experiment error ui to new results page (#14265)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add experiment error ui to new results page (#14265)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix results page throwing error for delivery w/o results
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): stricter status transitions
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

feat(nimbus): stricter status transitions (#14266)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): stricter status transitions (#14266)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): stricter status transitions (#14266)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(cirrus): add nimbus user id as separate metric for shredder
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/sdk.py
  cirrus/server/telemetry/metrics.yaml
  cirrus/server/tests/test_telemetry.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

feat(nimbus): Combine subscribe and collabs section
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/feature_subscribe_button.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): fix broken preview states
  experimenter/experimenter/experiments/migrations/0310_fix_preview_states.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

feat(nimbus): Combine subscribe and collabs section
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/feature_subscribers.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix results page throwing error for delivery w/o results (#14259)
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix results page throwing error for delivery w/o results (#14259)
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix results page throwing error for delivery w/o results (#14259)
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): fix broken preview states (#14289)
  experimenter/experimenter/experiments/migrations/0310_fix_preview_states.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): fix broken preview states (#14289)
  experimenter/experimenter/experiments/migrations/0310_fix_preview_states.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): fix broken preview states (#14289)
  experimenter/experimenter/experiments/migrations/0310_fix_preview_states.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(cirrus): switch from black to ruff format
  Makefile
  cirrus/server/cirrus/feature_manifest.py
  cirrus/server/cirrus/generate_docs.py
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/sdk.py
  cirrus/server/poetry.lock
  cirrus/server/pyproject.toml
  cirrus/server/tests/conftest.py
  cirrus/server/tests/test_main.py
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @jeddai

feat(nimbus): Add collaborators management to feature pages (#14278)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/feature_subscribe_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/feature_subscribers.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add collaborators management to feature pages (#14278)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/feature_subscribe_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/feature_subscribers.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add collaborators management to feature pages (#14278)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/feature_subscribe_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/feature_subscribers.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(cirrus): switch from black to ruff format (#14287)
  Makefile
  cirrus/server/cirrus/feature_manifest.py
  cirrus/server/cirrus/generate_docs.py
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/sdk.py
  cirrus/server/poetry.lock
  cirrus/server/pyproject.toml
  cirrus/server/tests/conftest.py
  cirrus/server/tests/test_main.py
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus): switch from black to ruff format (#14287)
  Makefile
  cirrus/server/cirrus/feature_manifest.py
  cirrus/server/cirrus/generate_docs.py
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/sdk.py
  cirrus/server/poetry.lock
  cirrus/server/pyproject.toml
  cirrus/server/tests/conftest.py
  cirrus/server/tests/test_main.py
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus): switch from black to ruff format (#14287)
  Makefile
  cirrus/server/cirrus/feature_manifest.py
  cirrus/server/cirrus/generate_docs.py
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/sdk.py
  cirrus/server/poetry.lock
  cirrus/server/pyproject.toml
  cirrus/server/tests/conftest.py
  cirrus/server/tests/test_main.py
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @jeddai

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
