Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @brennie, @mikewilli, @jrbenny35

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @brennie
/experimenter/manifesttool/ @jaredlockhart @brennie
/schemas/ @jaredlockhart @mikewilli
/experimenter/tests @jrbenny35

feat(nimbus): push docker image with the short git sha as the tag (#11016)
  .circleci/config.yml
Owners: none

bug(nimbus): Don't throw in NimbusExperiment.review_url (#10997)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_queries.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(nimbus): Don't throw in NimbusExperiment.review_url (#10997)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_queries.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(nimbus): Don't throw in NimbusExperiment.review_url (#10997)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_queries.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): move hamburger button to header
  experimenter/experimenter/nimbus_ui_new/templates/common/header.html
  experimenter/experimenter/nimbus_ui_new/templates/common/with_sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): move hamburger button to header (#11018)
  experimenter/experimenter/nimbus_ui_new/templates/common/header.html
  experimenter/experimenter/nimbus_ui_new/templates/common/with_sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): move hamburger button to header (#11018)
  experimenter/experimenter/nimbus_ui_new/templates/common/header.html
  experimenter/experimenter/nimbus_ui_new/templates/common/with_sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): move hamburger button to header (#11018)
  experimenter/experimenter/nimbus_ui_new/templates/common/header.html
  experimenter/experimenter/nimbus_ui_new/templates/common/with_sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(cirrus): Update remote settings
  cirrus/README.md
  cirrus/server/cirrus/docs/apidoc.html
  cirrus/server/cirrus/docs/openapi.json
  cirrus/server/cirrus/experiment_recipes.py
  cirrus/server/cirrus/main.py
  cirrus/server/tests/conftest.py
  cirrus/server/tests/test_experiment_recipes.py
  cirrus/server/tests/test_main.py
  cirrus/server/tests/test_telemetry.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11020)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11020)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11020)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update fenix apk build decision script.
  experimenter/tests/integration/nimbus/android/update-fenix-apks.sh
Owners: @jrbenny35

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

Fix fenix apk update script (#11031)
  experimenter/tests/integration/nimbus/android/update-fenix-apks.sh
Owners: @jrbenny35

Fix fenix apk update script (#11031)
  experimenter/tests/integration/nimbus/android/update-fenix-apks.sh
Owners: @jrbenny35

Fix fenix apk update script (#11031)
  experimenter/tests/integration/nimbus/android/update-fenix-apks.sh
Owners: @jrbenny35

chore(nimbus): Update External Configs (#11032)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11032)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11032)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11033)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11033)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11033)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): use offcanvas sidebar for narrow screens
  experimenter/experimenter/nimbus_ui_new/static/css/style.scss
  experimenter/experimenter/nimbus_ui_new/templates/common/header.html
  experimenter/experimenter/nimbus_ui_new/templates/common/list_tab.html
  experimenter/experimenter/nimbus_ui_new/templates/common/with_sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Fix fenix apk updater circleci logic.
  .circleci/config.yml
Owners: none

test(cirrus): Update url
  Makefile
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

test(cirrus): Update url
  Makefile
Owners: none

test(cirrus): Update url
  Makefile
Owners: none

feat(nimbus): use offcanvas sidebar for narrow screens (#11035)
  experimenter/experimenter/nimbus_ui_new/static/css/style.scss
  experimenter/experimenter/nimbus_ui_new/templates/common/header.html
  experimenter/experimenter/nimbus_ui_new/templates/common/list_tab.html
  experimenter/experimenter/nimbus_ui_new/templates/common/with_sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): use offcanvas sidebar for narrow screens (#11035)
  experimenter/experimenter/nimbus_ui_new/static/css/style.scss
  experimenter/experimenter/nimbus_ui_new/templates/common/header.html
  experimenter/experimenter/nimbus_ui_new/templates/common/list_tab.html
  experimenter/experimenter/nimbus_ui_new/templates/common/with_sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): use offcanvas sidebar for narrow screens (#11035)
  experimenter/experimenter/nimbus_ui_new/static/css/style.scss
  experimenter/experimenter/nimbus_ui_new/templates/common/header.html
  experimenter/experimenter/nimbus_ui_new/templates/common/list_tab.html
  experimenter/experimenter/nimbus_ui_new/templates/common/with_sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Fix fenix apk updater circleci logic. (#11037)
  .circleci/config.yml
Owners: none

chore(nimbus): Fix fenix apk updater circleci logic. (#11037)
  .circleci/config.yml
Owners: none

chore(nimbus): Fix fenix apk updater circleci logic. (#11037)
  .circleci/config.yml
Owners: none

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update fenix apks for testing
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

bug(nimbus): Rename ja-JP-mac locale to ja-JP-macos
  experimenter/experimenter/base/fixtures/locales.json
  experimenter/experimenter/base/migrations/0005_jajpmacos.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update fenix apks for testing (#11042)
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35
