Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

feat(nimbus): Filter by date (#13481)
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/common/date_filter_dropdown.html
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(project): Update settings.py to have defaults for github variables. (#13488)
  experimenter/experimenter/klaatu/tasks.py
  experimenter/experimenter/klaatu/tests/test_tasks.py
  experimenter/experimenter/settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(project): Update settings.py to have defaults for github variables. (#13488)
  experimenter/experimenter/klaatu/tasks.py
  experimenter/experimenter/klaatu/tests/test_tasks.py
  experimenter/experimenter/settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(project): Update settings.py to have defaults for github variables. (#13488)
  experimenter/experimenter/klaatu/tasks.py
  experimenter/experimenter/klaatu/tests/test_tasks.py
  experimenter/experimenter/settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

style(nimbus): small code style changes
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add statsd metrics for user interaction counts and review timing
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add statsd metrics for user interaction counts and review timing (#13412)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add statsd metrics for user interaction counts and review timing (#13412)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add statsd metrics for user interaction counts and review timing (#13412)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Update padding
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

style(nimbus): small code style chages
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add clear visual indication of future states while organizing experiment (#13486)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/timeline.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add clear visual indication of future states while organizing experiment (#13486)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/timeline.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add clear visual indication of future states while organizing experiment (#13486)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/timeline.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v143.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v143.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v143.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v143.2.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v143.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v143.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v143.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v143.2.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.29.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.29.0/schemas/browser/components/newtab/content-src/asrouter/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.29.0/schemas/browser/components/newtab/content-src/asrouter/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.29.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.4.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.4.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.4.0/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.4.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.4.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.0/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v143.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v143.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v143.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v143.2.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v143.0.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v143.0.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v143.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v143.0.1/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v143.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v143.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v143.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v143.2.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

test(nimbus): Update integration tests url
  .circleci/config.yml
Owners: none

test(nimbus): add test for timeline status indicator
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.1/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.1/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.1/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.1/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.1/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.1/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.1/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add Win10 EoS Reminder message targeting
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

formatting
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Address JEXL error
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Remove trailing whitespace
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Tags model
  experimenter/experimenter/experiments/migrations/0293_tag_nimbusexperiment_tags.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for users who have and have not … (#13479)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for users who have and have not … (#13479)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for users who have and have not … (#13479)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add advanced targeting for Win10 EoS Reminder messages experiment (#13507)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add advanced targeting for Win10 EoS Reminder messages experiment (#13507)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add advanced targeting for Win10 EoS Reminder messages experiment (#13507)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

disable new unpacking rule
  experimenter/pyproject.toml
Owners: none

test(nimbus): update tests for timeline to include rollout
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): Update related name to experiments
  experimenter/experimenter/experiments/migrations/0293_tag_nimbusexperiment_tags.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

test(nimbus): add test for timeline status indicator (#13493)
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

test(nimbus): add test for timeline status indicator (#13493)
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

test(nimbus): add test for timeline status indicator (#13493)
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Tags model (#13508)
  experimenter/experimenter/experiments/migrations/0293_tag_nimbusexperiment_tags.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
