Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @brennie, @mikewilli, @jrbenny35

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @brennie
/experimenter/manifesttool/ @jaredlockhart @brennie
/schemas/ @jaredlockhart @mikewilli
/experimenter/tests @jrbenny35

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/experimenter.yaml
  experimenter/experimenter/features/manifests/monitor-web/local.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/production.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10987)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/experimenter.yaml
  experimenter/experimenter/features/manifests/monitor-web/local.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/production.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10987)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/experimenter.yaml
  experimenter/experimenter/features/manifests/monitor-web/local.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/production.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10987)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/experimenter.yaml
  experimenter/experimenter/features/manifests/monitor-web/local.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/production.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update application-services (#10988)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#10988)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#10988)
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(nimbus): consistent counts for new list page filters
  experimenter/experimenter/nimbus_ui_new/filtersets.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(nimbus): update ruff fix command
  Makefile
Owners: none

feat(nimbus): enable new nimbus list page
  experimenter/experimenter/nimbus-ui/src/components/App/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/App/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/AppLayoutSidebarLaunched/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/AppLayoutWithSidebar/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/AppLayoutWithSidebar/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageNew/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageNew/index.tsx
  experimenter/experimenter/nimbus_ui_new/templates/common/header.html
  experimenter/experimenter/nimbus_ui_new/templates/experimenter_base.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/list.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/urls.py
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/pages/experimenter/home.py
  experimenter/tests/integration/nimbus/test_cirrus_integration.py
  experimenter/tests/integration/nimbus/test_experimenter_ui.py
  experimenter/tests/integration/nimbus/test_remote_settings.py
Owners: @jaredlockhart, @yashikakhurana, @brennie, @jrbenny35

chore(nimbus): Update External Configs (#10992)
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10992)
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10992)
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(nimbus): update ruff fix command (#10993)
  Makefile
Owners: none

bug(nimbus): update ruff fix command (#10993)
  Makefile
Owners: none

bug(nimbus): update ruff fix command (#10993)
  Makefile
Owners: none

feat(nimbus): enable new nimbus list page (#10885)
  experimenter/experimenter/nimbus-ui/src/components/App/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/App/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/AppLayoutSidebarLaunched/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/AppLayoutWithSidebar/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/AppLayoutWithSidebar/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageNew/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageNew/index.tsx
  experimenter/experimenter/nimbus_ui_new/templates/common/header.html
  experimenter/experimenter/nimbus_ui_new/templates/experimenter_base.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/list.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/urls.py
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/pages/experimenter/home.py
  experimenter/tests/integration/nimbus/test_cirrus_integration.py
  experimenter/tests/integration/nimbus/test_experimenter_ui.py
  experimenter/tests/integration/nimbus/test_remote_settings.py
Owners: @jaredlockhart, @yashikakhurana, @brennie, @jrbenny35

feat(nimbus): enable new nimbus list page (#10885)
  experimenter/experimenter/nimbus-ui/src/components/App/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/App/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/AppLayoutSidebarLaunched/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/AppLayoutWithSidebar/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/AppLayoutWithSidebar/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageNew/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageNew/index.tsx
  experimenter/experimenter/nimbus_ui_new/templates/common/header.html
  experimenter/experimenter/nimbus_ui_new/templates/experimenter_base.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/list.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/urls.py
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/pages/experimenter/home.py
  experimenter/tests/integration/nimbus/test_cirrus_integration.py
  experimenter/tests/integration/nimbus/test_experimenter_ui.py
  experimenter/tests/integration/nimbus/test_remote_settings.py
Owners: @jaredlockhart, @yashikakhurana, @brennie, @jrbenny35

feat(nimbus): enable new nimbus list page (#10885)
  experimenter/experimenter/nimbus-ui/src/components/App/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/App/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/AppLayoutSidebarLaunched/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/AppLayoutWithSidebar/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/AppLayoutWithSidebar/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageNew/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageNew/index.tsx
  experimenter/experimenter/nimbus_ui_new/templates/common/header.html
  experimenter/experimenter/nimbus_ui_new/templates/experimenter_base.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/list.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/urls.py
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/pages/experimenter/home.py
  experimenter/tests/integration/nimbus/test_cirrus_integration.py
  experimenter/tests/integration/nimbus/test_experimenter_ui.py
  experimenter/tests/integration/nimbus/test_remote_settings.py
Owners: @jaredlockhart, @yashikakhurana, @brennie, @jrbenny35

bug(nimbus): consistent counts for new list page filters (#10991)
  experimenter/experimenter/nimbus_ui_new/filtersets.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(nimbus): consistent counts for new list page filters (#10991)
  experimenter/experimenter/nimbus_ui_new/filtersets.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(nimbus): consistent counts for new list page filters (#10991)
  experimenter/experimenter/nimbus_ui_new/filtersets.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): disable PageHome tests
  experimenter/experimenter/nimbus-ui/package.json
  experimenter/experimenter/nimbus-ui/src/components/PageHome/DirectoryTable/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageHome/FilterBar/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageHome/SearchBar/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageHome/index.test.tsx
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): disable PageHome tests (#10995)
  experimenter/experimenter/nimbus-ui/package.json
  experimenter/experimenter/nimbus-ui/src/components/PageHome/DirectoryTable/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageHome/FilterBar/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageHome/SearchBar/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageHome/index.test.tsx
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): disable PageHome tests (#10995)
  experimenter/experimenter/nimbus-ui/package.json
  experimenter/experimenter/nimbus-ui/src/components/PageHome/DirectoryTable/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageHome/FilterBar/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageHome/SearchBar/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageHome/index.test.tsx
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): disable PageHome tests (#10995)
  experimenter/experimenter/nimbus-ui/package.json
  experimenter/experimenter/nimbus-ui/src/components/PageHome/DirectoryTable/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageHome/FilterBar/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageHome/SearchBar/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageHome/index.test.tsx
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(nimbus): Don't throw in NimbusExperiment.review_url
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_queries.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(cirrus): Nimbus preview flag to return features based on preview experiments
  .env.integration-tests
  .env.sample
  .env.test
  Makefile
  cirrus/README.md
  cirrus/server/cirrus/docs/apidoc.html
  cirrus/server/cirrus/docs/openapi.json
  cirrus/server/cirrus/experiment_recipes.py
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/settings.py
  cirrus/server/tests/conftest.py
  cirrus/server/tests/test_experiment_recipes.py
  cirrus/server/tests/test_main.py
  cirrus/server/tests/test_telemetry.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(nimbus): keep create experiment button right on small displays
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): keep create experiment button right on small displays (#10999)
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): keep create experiment button right on small displays (#10999)
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): keep create experiment button right on small displays (#10999)
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(cirrus): Rename sdk variables
  cirrus/server/cirrus/experiment_recipes.py
  cirrus/server/cirrus/main.py
  cirrus/server/tests/conftest.py
  cirrus/server/tests/test_main.py
  cirrus/server/tests/test_sdk.py
  cirrus/server/tests/test_telemetry.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

feat(cirrus): Rename sdk variables
  cirrus/server/cirrus/experiment_recipes.py
  cirrus/server/cirrus/main.py
  cirrus/server/tests/test_experiment_recipes.py
  cirrus/server/tests/test_telemetry.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update application-services (#11001)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11001)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11001)
  application-services/application-services.env
Owners: none
