Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @brennie, @mikewilli, @jrbenny35

test(nimbus): Add Firefox for iOS integration tests. (#11029)
  .circleci/config.yml
  experimenter/tests/integration/nimbus/ios/test_ios_integration.py
  experimenter/tests/integration/nimbus/ios/test_setup_ios_integration.py
Owners: @jrbenny35

test(nimbus): Add Firefox for iOS integration tests. (#11029)
  .circleci/config.yml
  experimenter/tests/integration/nimbus/ios/test_ios_integration.py
  experimenter/tests/integration/nimbus/ios/test_setup_ios_integration.py
Owners: @jrbenny35

test(nimbus): Add Firefox for iOS integration tests. (#11029)
  .circleci/config.yml
  experimenter/tests/integration/nimbus/ios/test_ios_integration.py
  experimenter/tests/integration/nimbus/ios/test_setup_ios_integration.py
Owners: @jrbenny35

feat(nimbus): add targeting for early day and existing users who have set default
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11139)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11139)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11139)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): Warn about prefFlips that could use setPref variables
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update application-services (#11138)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11138)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11138)
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v129.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v129.1.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11144)
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v129.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v129.1.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11144)
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v129.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v129.1.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11144)
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v129.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v129.1.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

WIP
  experimenter/experimenter/experiments/api/v5/types.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/components/PageSummary/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageSummary/index.tsx
  experimenter/experimenter/nimbus-ui/src/gql/experiments.ts
  experimenter/experimenter/nimbus-ui/src/lib/constants.ts
  experimenter/experimenter/nimbus-ui/src/lib/mocks.tsx
  experimenter/experimenter/nimbus-ui/src/types/getExperiment.ts
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): Warn about prefFlips that could use setPref variables (#11143)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): Warn about prefFlips that could use setPref variables (#11143)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): Warn about prefFlips that could use setPref variables (#11143)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.15.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.15.0/schemas/browser/components/newtab/content-src/asrouter/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.15.0/schemas/browser/components/newtab/content-src/asrouter/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.15.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.2.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.2.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.2.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.2.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v131.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v131.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v131.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v131.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v131.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v131.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): add targeting for early day and existing windows 10 users who have set default
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11147)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.15.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.15.0/schemas/browser/components/newtab/content-src/asrouter/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.15.0/schemas/browser/components/newtab/content-src/asrouter/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.15.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.2.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.2.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.2.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.2.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v131.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v131.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v131.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v131.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v131.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v131.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11147)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.15.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.15.0/schemas/browser/components/newtab/content-src/asrouter/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.15.0/schemas/browser/components/newtab/content-src/asrouter/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.15.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.2.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.2.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.2.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.2.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v131.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v131.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v131.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v131.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v131.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v131.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11147)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v131.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.15.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.15.0/schemas/browser/components/newtab/content-src/asrouter/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.15.0/schemas/browser/components/newtab/content-src/asrouter/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.15.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.2.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.2.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.2.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.2.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v131.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v131.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v131.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v131.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v131.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v131.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update application-services (#11145)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11145)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11145)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update fenix apks for testing
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

Update fenix apk builder resource size.
  .circleci/config.yml
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.1/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.1/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.1/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.1/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.1/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.1/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update application-services (#11159)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11159)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11159)
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs (#11162)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.1/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.1/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.1/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.1/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.1/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.1/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11162)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.1/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.1/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.1/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.1/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.1/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.1/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11162)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.1/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.1/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.1/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.1/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.1/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.1/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @brennie
/experimenter/manifesttool/ @jaredlockhart @brennie
/schemas/ @jaredlockhart @mikewilli
/experimenter/tests @jrbenny35
