Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

feat: updated mozcloud-publish workflow to use 'pr-preview' label instead of 'preview' (#14113)
  .github/workflows/experimenter-mozcloud-publish.yaml
Owners: none

feat: updated mozcloud-publish workflow to use 'pr-preview' label instead of 'preview' (#14113)
  .github/workflows/experimenter-mozcloud-publish.yaml
Owners: none

feat(nimbus): Improve desktop targeting tests (#14084)
  experimenter/tests/integration/nimbus/test_desktop_targeting.py
  experimenter/tests/integration/nimbus/utils/filter_expression.js
Owners: @b4handjr

feat(nimbus): Improve desktop targeting tests (#14084)
  experimenter/tests/integration/nimbus/test_desktop_targeting.py
  experimenter/tests/integration/nimbus/utils/filter_expression.js
Owners: @b4handjr

feat(nimbus): Improve desktop targeting tests (#14084)
  experimenter/tests/integration/nimbus/test_desktop_targeting.py
  experimenter/tests/integration/nimbus/utils/filter_expression.js
Owners: @b4handjr

chore(project): update circleci/github-cli orb to 2.7.2 (#14110)
  .circleci/config.yml
Owners: none

chore(project): update circleci/github-cli orb to 2.7.2 (#14110)
  .circleci/config.yml
Owners: none

chore(project): update circleci/github-cli orb to 2.7.2 (#14110)
  .circleci/config.yml
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v146.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v146.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v146.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v146.1.0/release.fml.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

feat(nimbus): Add advanced targeting for newtab trainhop 147.0.20251114.194929 for desktop
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Send slack notification
  .env.sample
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/email.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/slack.py
  experimenter/experimenter/experiments/tests/test_email.py
  experimenter/experimenter/experiments/tests/test_slack.py
  experimenter/experimenter/kinto/tasks.py
  experimenter/experimenter/kinto/tests/test_tasks.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/settings.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Send slack notification
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fixup! feat(nimbus): Add advanced targeting for newtab trainhop 147.0.20251114.194929 for desktop
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Send slack notification
  experimenter/experimenter/experiments/tests/test_email.py
  experimenter/experimenter/kinto/tests/test_tasks.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Send slack notification
  experimenter/experimenter/experiments/tests/test_email.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): create timeline view for experiments in enrollment and observation phases
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/templates/common/cancel_review_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/approval_rejection_controls.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_progress_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for newtab trainhop 147.0.20251114.194929 for desktop (#14118)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for newtab trainhop 147.0.20251114.194929 for desktop (#14118)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for newtab trainhop 147.0.20251114.194929 for desktop (#14118)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

feat(nimbus): Set QA date
  experimenter/experimenter/experiments/migrations/0303_backfill_qa_run_date_from_changelog.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
  experimenter/experimenter/segments/metric-hub-main/jetstream/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v146.0.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v146.0.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v146.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v146.0.1/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add application and features in a path
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add application and features in a path
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add application and features in a path (#14124)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add application and features in a path (#14124)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add application and features in a path (#14124)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Fix tooltip and button styling
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Fix tooltip and button styling (#14126)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Fix tooltip and button styling (#14126)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Fix tooltip and button styling (#14126)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox iOS (Fennec) Release
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox iOS (Fennec) Release
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v148.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v148.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v148.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v148.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v148.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.32.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.32.0/schemas/browser/components/newtab/content-src/asrouter/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.32.0/schemas/browser/components/newtab/content-src/asrouter/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.32.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.7.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.7.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.7.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.7.0/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.7.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.7.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v148.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v148.0.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v148.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v148.0.0/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v148.0.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v148.0.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Move slack into its own app
  experimenter/experimenter/experiments/email.py
  experimenter/experimenter/experiments/tests/test_email.py
  experimenter/experimenter/kinto/tasks.py
  experimenter/experimenter/kinto/tests/test_tasks.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/settings.py
  experimenter/experimenter/slack/__init__.py
  experimenter/experimenter/slack/notification.py
  experimenter/experimenter/slack/tasks.py
  experimenter/experimenter/slack/tests/__init__.py
  experimenter/experimenter/slack/tests/test_notification.py
  experimenter/experimenter/slack/tests/test_tasks.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Use emojis
  experimenter/experimenter/experiments/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
