Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

chore(nimbus): Update Firefox Versions (#13163)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13163)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update application-services (#13162)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13162)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13162)
  application-services/application-services.env
Owners: none

Update integration tests
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
  experimenter/tests/integration/nimbus/test_remote_settings.py
Owners: @b4handjr

chore(nimbus): remove duplicate end rollout logic
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

End rollout when rollout is dirty
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Parameterize end view tests for experiments/rollouts
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): always show control branch first on detail page
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(cirrus): clean up fetch_schedule_recipes tests (#13160)
  cirrus/server/tests/conftest.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus): clean up fetch_schedule_recipes tests (#13160)
  cirrus/server/tests/conftest.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus): clean up fetch_schedule_recipes tests (#13160)
  cirrus/server/tests/conftest.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(nimbus): remove duplicate end rollout logic (#13156)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
  experimenter/tests/integration/nimbus/test_remote_settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

chore(nimbus): remove duplicate end rollout logic (#13156)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
  experimenter/tests/integration/nimbus/test_remote_settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

chore(nimbus): remove duplicate end rollout logic (#13156)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
  experimenter/tests/integration/nimbus/test_remote_settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

bug(nimbus): targeting config drop down is too wide
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/static/css/style.scss
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add missing details to sidebar
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): targeting config drop down is too wide (#13167)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/static/css/style.scss
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): targeting config drop down is too wide (#13167)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/static/css/style.scss
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): targeting config drop down is too wide (#13167)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/static/css/style.scss
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): always show control branch first on detail page (#13166)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): always show control branch first on detail page (#13166)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): always show control branch first on detail page (#13166)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add missing details to sidebar (#13168)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add missing details to sidebar (#13168)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add missing details to sidebar (#13168)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): make slug and preview url click copy to clipboard
  experimenter/experimenter/nimbus_ui/static/js/experiment_detail.js
  experimenter/experimenter/nimbus_ui/static/js/index.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(experimenter): integrate with cirrus
  .env.sample
  docker-compose.yml
  docs/experimenter/openapi-schema.json
  docs/experimenter/swagger-ui.html
  experimenter/experimenter/cirrus/__init__.py
  experimenter/experimenter/cirrus/context_processors.py
  experimenter/experimenter/cirrus/middleware.py
  experimenter/experimenter/cirrus/tests/__init__.py
  experimenter/experimenter/cirrus/tests/test_middleware.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0286_alter_nimbusexperiment_application_and_more.py
  experimenter/experimenter/features/manifests/experimenter/developer.fml.yaml
  experimenter/experimenter/features/manifests/experimenter/nimbus.fml.yaml
  experimenter/experimenter/nimbus-ui-old/schema.graphql
  experimenter/experimenter/nimbus-ui-old/src/types/globalTypes.ts
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/list.html
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
  experimenter/experimenter/settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): make slug and preview url click copy to clipboard (#13169)
  experimenter/experimenter/nimbus_ui/static/js/experiment_detail.js
  experimenter/experimenter/nimbus_ui/static/js/index.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): make slug and preview url click copy to clipboard (#13169)
  experimenter/experimenter/nimbus_ui/static/js/experiment_detail.js
  experimenter/experimenter/nimbus_ui/static/js/index.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): make slug and preview url click copy to clipboard (#13169)
  experimenter/experimenter/nimbus_ui/static/js/experiment_detail.js
  experimenter/experimenter/nimbus_ui/static/js/index.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

use empty context
  experimenter/experimenter/cirrus/middleware.py
  experimenter/experimenter/cirrus/tests/test_middleware.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(experimenter): integrate with cirrus (#12972)
  .env.sample
  docker-compose.yml
  docs/experimenter/openapi-schema.json
  docs/experimenter/swagger-ui.html
  experimenter/experimenter/cirrus/__init__.py
  experimenter/experimenter/cirrus/context_processors.py
  experimenter/experimenter/cirrus/middleware.py
  experimenter/experimenter/cirrus/tests/__init__.py
  experimenter/experimenter/cirrus/tests/test_middleware.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0286_alter_nimbusexperiment_application_and_more.py
  experimenter/experimenter/features/manifests/experimenter/developer.fml.yaml
  experimenter/experimenter/features/manifests/experimenter/nimbus.fml.yaml
  experimenter/experimenter/nimbus-ui-old/schema.graphql
  experimenter/experimenter/nimbus-ui-old/src/types/globalTypes.ts
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/list.html
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
  experimenter/experimenter/settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(experimenter): integrate with cirrus (#12972)
  .env.sample
  docker-compose.yml
  docs/experimenter/openapi-schema.json
  docs/experimenter/swagger-ui.html
  experimenter/experimenter/cirrus/__init__.py
  experimenter/experimenter/cirrus/context_processors.py
  experimenter/experimenter/cirrus/middleware.py
  experimenter/experimenter/cirrus/tests/__init__.py
  experimenter/experimenter/cirrus/tests/test_middleware.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0286_alter_nimbusexperiment_application_and_more.py
  experimenter/experimenter/features/manifests/experimenter/developer.fml.yaml
  experimenter/experimenter/features/manifests/experimenter/nimbus.fml.yaml
  experimenter/experimenter/nimbus-ui-old/schema.graphql
  experimenter/experimenter/nimbus-ui-old/src/types/globalTypes.ts
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/list.html
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
  experimenter/experimenter/settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(experimenter): integrate with cirrus (#12972)
  .env.sample
  docker-compose.yml
  docs/experimenter/openapi-schema.json
  docs/experimenter/swagger-ui.html
  experimenter/experimenter/cirrus/__init__.py
  experimenter/experimenter/cirrus/context_processors.py
  experimenter/experimenter/cirrus/middleware.py
  experimenter/experimenter/cirrus/tests/__init__.py
  experimenter/experimenter/cirrus/tests/test_middleware.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0286_alter_nimbusexperiment_application_and_more.py
  experimenter/experimenter/features/manifests/experimenter/developer.fml.yaml
  experimenter/experimenter/features/manifests/experimenter/nimbus.fml.yaml
  experimenter/experimenter/nimbus-ui-old/schema.graphql
  experimenter/experimenter/nimbus-ui-old/src/types/globalTypes.ts
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/list.html
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
  experimenter/experimenter/settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): only highlight one timeline state at a time
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(UI): Add Tooltip to draft/preview card on the new homepage.
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(experimenter): integrate with Glean
  experimenter/experimenter/glean/__init__.py
  experimenter/experimenter/glean/middleware.py
  experimenter/experimenter/glean/tests/__init__.py
  experimenter/experimenter/glean/tests/test_middleware.py
  experimenter/experimenter/settings.py
  experimenter/experimenter/telemetry/metrics.yaml
  experimenter/experimenter/telemetry/pings.yaml
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic
