Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

bug(nimbus): remove duplicate dom ids for collapsible json (#14396)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_audience.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): remove duplicate dom ids for collapsible json (#14396)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_audience.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): remove duplicate dom ids for collapsible json (#14396)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_audience.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Fenix Beta
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

fix(nimbus): fix absolute value called on nonexistent points (#14397)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix absolute value called on nonexistent points (#14397)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix absolute value called on nonexistent points (#14397)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): handle v2 results data in new results page
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): handle v2 results data in new results page
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

feat(nimbus): link contact experimenter support button to ask-experimenter slack channel
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): migrate v3 results data overall to empty dict
  experimenter/experimenter/experiments/migrations/0315_results_v3_overall_dict.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add export metric areas feature
  experimenter/experimenter/nimbus_ui/static/js/results_data_actions.js
  experimenter/experimenter/nimbus_ui/static/webpack.config.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): migrate v3 results data overall to empty dict (#14414)
  experimenter/experimenter/experiments/migrations/0315_results_v3_overall_dict.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): migrate v3 results data overall to empty dict (#14414)
  experimenter/experimenter/experiments/migrations/0315_results_v3_overall_dict.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): migrate v3 results data overall to empty dict (#14414)
  experimenter/experimenter/experiments/migrations/0315_results_v3_overall_dict.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

refactor(nimbus): move all results processing methods and tests into separate files
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/jetstream/results_manager.py
  experimenter/experimenter/jetstream/tests/test_results_manager.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): link contact experimenter support button to ask-experimenter slack channel (#14384)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): link contact experimenter support button to ask-experimenter slack channel (#14384)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): link contact experimenter support button to ask-experimenter slack channel (#14384)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

refactor(nimbus): move all results processing methods and tests into separate files (#14415)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/jetstream/results_manager.py
  experimenter/experimenter/jetstream/tests/test_results_manager.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

refactor(nimbus): move all results processing methods and tests into separate files (#14415)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/jetstream/results_manager.py
  experimenter/experimenter/jetstream/tests/test_results_manager.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

refactor(nimbus): move all results processing methods and tests into separate files (#14415)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/jetstream/results_manager.py
  experimenter/experimenter/jetstream/tests/test_results_manager.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): set broken preview experiments back to draft
  experimenter/experimenter/experiments/migrations/0316_fix_publish_status_preview.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): set broken preview experiments back to draft (#14393)
  experimenter/experimenter/experiments/migrations/0316_fix_publish_status_preview.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): set broken preview experiments back to draft (#14393)
  experimenter/experimenter/experiments/migrations/0316_fix_publish_status_preview.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): set broken preview experiments back to draft (#14393)
  experimenter/experimenter/experiments/migrations/0316_fix_publish_status_preview.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): use readonly codemirror for jexl targeting
  experimenter/experimenter/experiments/jexl_utils.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_jexl_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/static/js/codemirror_utils.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_audience.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): use readonly codemirror for jexl targeting (#14427)
  experimenter/experimenter/experiments/jexl_utils.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_jexl_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/static/js/codemirror_utils.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_audience.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): use readonly codemirror for jexl targeting (#14427)
  experimenter/experimenter/experiments/jexl_utils.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_jexl_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/static/js/codemirror_utils.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_audience.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): use readonly codemirror for jexl targeting (#14427)
  experimenter/experimenter/experiments/jexl_utils.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_jexl_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/static/js/codemirror_utils.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_audience.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
