Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

feat(nimbus): Update targeting for non_sidebar_users to include addons and button usage (#12243)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Update targeting for non_sidebar_users to include addons and button usage (#12243)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions (#12246)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12246)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12246)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

feat(nimbus): Improve python performance for splitting start/end dates and fix intermittent test failure (#12238)
  experimenter/experimenter/experiments/migrations/0279_nimbusexperiment__computed_end_date.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/kinto/tasks.py
  experimenter/experimenter/kinto/tests/test_tasks.py
  experimenter/experimenter/nimbus_ui_new/filtersets.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Improve python performance for splitting start/end dates and fix intermittent test failure (#12238)
  experimenter/experimenter/experiments/migrations/0279_nimbusexperiment__computed_end_date.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/kinto/tasks.py
  experimenter/experimenter/kinto/tests/test_tasks.py
  experimenter/experimenter/nimbus_ui_new/filtersets.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Improve python performance for splitting start/end dates and fix intermittent test failure (#12238)
  experimenter/experimenter/experiments/migrations/0279_nimbusexperiment__computed_end_date.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/kinto/tasks.py
  experimenter/experimenter/kinto/tests/test_tasks.py
  experimenter/experimenter/nimbus_ui_new/filtersets.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12245)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12245)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12245)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): ingest linear model mean to show covariate adjusted metrics when available (#12220)
  experimenter/experimenter/jetstream/client.py
  experimenter/experimenter/jetstream/models.py
  experimenter/experimenter/jetstream/tests/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): ingest linear model mean to show covariate adjusted metrics when available (#12220)
  experimenter/experimenter/jetstream/client.py
  experimenter/experimenter/jetstream/models.py
  experimenter/experimenter/jetstream/tests/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): ingest linear model mean to show covariate adjusted metrics when available (#12220)
  experimenter/experimenter/jetstream/client.py
  experimenter/experimenter/jetstream/models.py
  experimenter/experimenter/jetstream/tests/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12250)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12250)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12250)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v136.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/release.fml.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/fenix.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_ios.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): Review status on timeline
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui_new/forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services (#12249)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12249)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12249)
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs (#12248)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v136.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/release.fml.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/fenix.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_ios.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12248)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v136.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/release.fml.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/fenix.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_ios.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12248)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v136.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/release.fml.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/fenix.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_ios.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): change to correct monitoring url
  experimenter/experimenter/nimbus-ui/src/lib/mocks.tsx
  experimenter/experimenter/settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Approval and rejection flow (#12090)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/static/js/review_controls.js
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui_new/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Approval and rejection flow (#12090)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/static/js/review_controls.js
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui_new/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Approval and rejection flow (#12090)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/static/js/review_controls.js
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui_new/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): change to correct monitoring url (#12253)
  experimenter/experimenter/nimbus-ui/src/lib/mocks.tsx
  experimenter/experimenter/settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): change to correct monitoring url (#12253)
  experimenter/experimenter/nimbus-ui/src/lib/mocks.tsx
  experimenter/experimenter/settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): change to correct monitoring url (#12253)
  experimenter/experimenter/nimbus-ui/src/lib/mocks.tsx
  experimenter/experimenter/settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12256)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12256)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12256)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none
