Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

feat(nimbus): Ready for attention section
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/static/assets/empty-attention.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

feat(nimbus): Add advanced targeting for tou users with no sponsored content or Adjust opt outs
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/experimenter/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(UI): Add Tooltip to draft/preview card on the new homepage. (#13175)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(UI): Add Tooltip to draft/preview card on the new homepage. (#13175)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(UI): Add Tooltip to draft/preview card on the new homepage. (#13175)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions (#13179)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13179)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13179)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs (#13177)
  experimenter/experimenter/features/manifests/experimenter/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13177)
  experimenter/experimenter/features/manifests/experimenter/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13177)
  experimenter/experimenter/features/manifests/experimenter/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

bug(nimbus): only highlight one timeline state at a time (#13176)
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): only highlight one timeline state at a time (#13176)
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): only highlight one timeline state at a time (#13176)
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): copy icon should copy slug
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services (#13178)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13178)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13178)
  application-services/application-services.env
Owners: none

bug(nimbus): copy icon should copy slug (#13183)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): copy icon should copy slug (#13183)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): copy icon should copy slug (#13183)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): only show missing details for draft
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): only show missing details for draft (#13185)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): only show missing details for draft (#13185)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): only show missing details for draft (#13185)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

test(nimbus): Test ready for attention logic
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

test(nimbus): Test ready for attention logic
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Ready for attention section (#13187)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/static/assets/empty-attention.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Ready for attention section (#13187)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/static/assets/empty-attention.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Ready for attention section (#13187)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/static/assets/empty-attention.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13189)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13189)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13189)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none
