Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @brennie, @mikewilli, @jrbenny35

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @brennie
/experimenter/manifesttool/ @jaredlockhart @brennie
/schemas/ @jaredlockhart @mikewilli
/experimenter/tests @jrbenny35

feat(cirrus): Format remote settings
  cirrus/server/cirrus/experiment_recipes.py
  cirrus/server/cirrus/main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

feat(nimbus): UI fixes
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/takeaways_card.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update application-services (#11055)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11055)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11055)
  application-services/application-services.env
Owners: none

chore(nimbus): Update fenix apks for testing
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing (#11056)
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing (#11056)
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing (#11056)
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update fenix apks for testing
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v128.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v128.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update application-services (#11059)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11059)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11059)
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs (#11054)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v128.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v128.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11054)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v128.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v128.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11054)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v128.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v128.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11062)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11062)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11062)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11063)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11063)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11063)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v128.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v128.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/local.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/production.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11069)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v128.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v128.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/local.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/production.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11069)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v128.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v128.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/local.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/production.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11069)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v128.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v128.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/local.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/production.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(cirrus): handle multiple fetches
  cirrus/server/cirrus/main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

feat(nimbus): Move forms
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/takeaways_card.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): New summary page takeaways (#11051)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/forms.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/takeaways_card.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): New summary page takeaways (#11051)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/forms.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/takeaways_card.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): New summary page takeaways (#11051)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/forms.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/takeaways_card.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

feat(cirrus): Handle fetch recipes call
  cirrus/server/cirrus/main.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

feat(cirrus): Handle fetch recipes call
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(nimbus): Update application-services (#11074)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11074)
  application-services/application-services.env
Owners: none
