Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

Update constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(ci): Bump iOS version for iOS tests.
  .circleci/config.yml
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/integration/nimbus/ios/xcodebuild.py
  scripts/external_integration_updater_script.sh
Owners: @b4handjr

fix(nimbus): Update the `TOU_TARGETING_ANDROID_NOT_ACCEPTED_AND_NO_SPONSORED_OPT_OUTS` configuration to be first run (#13681)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): Update the `TOU_TARGETING_ANDROID_NOT_ACCEPTED_AND_NO_SPONSORED_OPT_OUTS` configuration to be first run (#13681)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): Update the `TOU_TARGETING_ANDROID_NOT_ACCEPTED_AND_NO_SPONSORED_OPT_OUTS` configuration to be first run (#13681)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

formatting
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(ci): Bump iOS version for iOS tests. (#13669)
  .circleci/config.yml
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/integration/nimbus/ios/xcodebuild.py
  scripts/external_integration_updater_script.sh
Owners: @b4handjr

chore(ci): Bump iOS version for iOS tests. (#13669)
  .circleci/config.yml
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/integration/nimbus/ios/xcodebuild.py
  scripts/external_integration_updater_script.sh
Owners: @b4handjr

chore(ci): Bump iOS version for iOS tests. (#13669)
  .circleci/config.yml
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/integration/nimbus/ios/xcodebuild.py
  scripts/external_integration_updater_script.sh
Owners: @b4handjr

feat(nimbus) Make SPONSORED_SEARCH_SUGGESTIONS_DISABLED region agnostic (#13661)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus) Make SPONSORED_SEARCH_SUGGESTIONS_DISABLED region agnostic (#13661)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus) Make SPONSORED_SEARCH_SUGGESTIONS_DISABLED region agnostic (#13661)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

remove new rule
  experimenter/pyproject.toml
Owners: none

feat(nimbus): Push filter params in url (#13667)
  experimenter/experimenter/nimbus_ui/templates/common/date_filter_dropdown.html
  experimenter/experimenter/nimbus_ui/templates/common/filter_dropdown.html
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Push filter params in url (#13667)
  experimenter/experimenter/nimbus_ui/templates/common/date_filter_dropdown.html
  experimenter/experimenter/nimbus_ui/templates/common/filter_dropdown.html
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Push filter params in url (#13667)
  experimenter/experimenter/nimbus_ui/templates/common/date_filter_dropdown.html
  experimenter/experimenter/nimbus_ui/templates/common/filter_dropdown.html
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus) Make SPONSORED_SEARCH_SUGGESTIONS_DISABLED region agnostic
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus) Make SPONSORED_SEARCH_SUGGESTIONS_DISABLED region agnostic
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/monitor-web/experimenter.yaml
  experimenter/experimenter/features/manifests/monitor-web/local.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/production.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Remove redundant advanced targeting configs from constants.py (#13664)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Remove redundant advanced targeting configs from constants.py (#13664)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Remove redundant advanced targeting configs from constants.py (#13664)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus) Use conditionals to determine TOU experience points
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(ci): Upload built android apk files as artifacts.
  .circleci/config.yml
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v146.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus) Use conditionals to determine TOU experience points (#13684)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus) Use conditionals to determine TOU experience points (#13684)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus) Use conditionals to determine TOU experience points (#13684)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(ci): Upload built android apk files as artifacts. (#13657)
  .circleci/config.yml
Owners: none

chore(ci): Upload built android apk files as artifacts. (#13657)
  .circleci/config.yml
Owners: none

chore(ci): Upload built android apk files as artifacts. (#13657)
  .circleci/config.yml
Owners: none

feat(nimbus): ToU advance targeting
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update experimenter/experimenter/targeting/constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): ToU advance targeting
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): ToU advance targeting (#13689)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): ToU advance targeting (#13689)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): ToU advance targeting (#13689)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add QA Runs table to feature health page.
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
