Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

chore(nimbus): Update application-services (#12323)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12323)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12323)
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12325)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12325)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12325)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

Add Fx 136.0.2 as a targetable dot release
  experimenter/experimenter/experiments/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update constants.py
  experimenter/experimenter/experiments/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update schema.graphql
  experimenter/experimenter/nimbus-ui/schema.graphql
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update globalTypes.ts
  experimenter/experimenter/nimbus-ui/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

run generate_types
  experimenter/experimenter/nimbus-ui/schema.graphql
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add Fx 136.0.2 as a targetable dot release (#12327)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add Fx 136.0.2 as a targetable dot release (#12327)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add Fx 136.0.2 as a targetable dot release (#12327)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update application-services (#12328)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12328)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12328)
  application-services/application-services.env
Owners: none

chore(schemas): Release v3000 (#12290)
  schemas/README.md
  schemas/VERSION
  schemas/package.json
  schemas/pyproject.toml
  scripts/set_schemas_version.sh
Owners: @jaredlockhart, @mikewilli, @freshstrangemusic

chore(schemas): Release v3000 (#12290)
  schemas/README.md
  schemas/VERSION
  schemas/package.json
  schemas/pyproject.toml
  scripts/set_schemas_version.sh
Owners: @jaredlockhart, @mikewilli, @freshstrangemusic

chore(schemas): Release v3000 (#12290)
  schemas/README.md
  schemas/VERSION
  schemas/package.json
  schemas/pyproject.toml
  scripts/set_schemas_version.sh
Owners: @jaredlockhart, @mikewilli, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12330)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12330)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12330)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(schemas): Fix string formatting in experimenter_apis/
  schemas/index.d.ts
  schemas/mozilla_nimbus_schemas/experimenter_apis/common.py
  schemas/mozilla_nimbus_schemas/experimenter_apis/experiments/experiments.py
  schemas/mozilla_nimbus_schemas/experimenter_apis/experiments_v7/experiments_v7.py
  schemas/schemas/DesktopAllVersionsNimbusExperiment.schema.json
  schemas/schemas/DesktopNimbusExperiment.schema.json
  schemas/schemas/ExperimentBucketConfig.schema.json
  schemas/schemas/NimbusExperimentV7.schema.json
  schemas/schemas/SdkNimbusExperiment.schema.json
Owners: @jaredlockhart, @mikewilli, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions (#12329)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12329)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12329)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs (#12331)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12331)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12331)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(schemas): Fix string formatting in experimenter_apis/ (#12341)
  schemas/index.d.ts
  schemas/mozilla_nimbus_schemas/experimenter_apis/common.py
  schemas/mozilla_nimbus_schemas/experimenter_apis/experiments/experiments.py
  schemas/mozilla_nimbus_schemas/experimenter_apis/experiments_v7/experiments_v7.py
  schemas/schemas/DesktopAllVersionsNimbusExperiment.schema.json
  schemas/schemas/DesktopNimbusExperiment.schema.json
  schemas/schemas/ExperimentBucketConfig.schema.json
  schemas/schemas/NimbusExperimentV7.schema.json
  schemas/schemas/SdkNimbusExperiment.schema.json
Owners: @jaredlockhart, @mikewilli, @freshstrangemusic

chore(schemas): Fix string formatting in experimenter_apis/ (#12341)
  schemas/index.d.ts
  schemas/mozilla_nimbus_schemas/experimenter_apis/common.py
  schemas/mozilla_nimbus_schemas/experimenter_apis/experiments/experiments.py
  schemas/mozilla_nimbus_schemas/experimenter_apis/experiments_v7/experiments_v7.py
  schemas/schemas/DesktopAllVersionsNimbusExperiment.schema.json
  schemas/schemas/DesktopNimbusExperiment.schema.json
  schemas/schemas/ExperimentBucketConfig.schema.json
  schemas/schemas/NimbusExperimentV7.schema.json
  schemas/schemas/SdkNimbusExperiment.schema.json
Owners: @jaredlockhart, @mikewilli, @freshstrangemusic

chore(schemas): Fix string formatting in experimenter_apis/ (#12341)
  schemas/index.d.ts
  schemas/mozilla_nimbus_schemas/experimenter_apis/common.py
  schemas/mozilla_nimbus_schemas/experimenter_apis/experiments/experiments.py
  schemas/mozilla_nimbus_schemas/experimenter_apis/experiments_v7/experiments_v7.py
  schemas/schemas/DesktopAllVersionsNimbusExperiment.schema.json
  schemas/schemas/DesktopNimbusExperiment.schema.json
  schemas/schemas/ExperimentBucketConfig.schema.json
  schemas/schemas/NimbusExperimentV7.schema.json
  schemas/schemas/SdkNimbusExperiment.schema.json
Owners: @jaredlockhart, @mikewilli, @freshstrangemusic
