Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

use env to pass output parameters (#13748)
  .github/workflows/experimenter-mozcloud-publish.yaml
Owners: none

use env to pass output parameters (#13748)
  .github/workflows/experimenter-mozcloud-publish.yaml
Owners: none

use env to pass output parameters (#13748)
  .github/workflows/experimenter-mozcloud-publish.yaml
Owners: none

feat(nimbus): Add padding on welcome banner (#13747)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add padding on welcome banner (#13747)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add padding on welcome banner (#13747)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Break long names on home page
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Bug 1995645 - Create advanced targeting for 144 Visual Search Messaging Experiment (#13746)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Bug 1995645 - Create advanced targeting for 144 Visual Search Messaging Experiment (#13746)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Bug 1995645 - Create advanced targeting for 144 Visual Search Messaging Experiment (#13746)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): added several links to common resources to sidebar (#13691)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): added several links to common resources to sidebar (#13691)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): added several links to common resources to sidebar (#13691)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Break long names on home page (#13750)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Break long names on home page (#13750)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Break long names on home page (#13750)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Remove date tooltip.
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add sorting to deliveries table on featues page. (#13711)
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add sorting to deliveries table on featues page. (#13711)
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add sorting to deliveries table on featues page. (#13711)
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): exclude language/locale/country
  experimenter/experimenter/experiments/migrations/0295_nimbusexperiment_exclude_countries_and_more.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(experimenter): fix experimenter app id to use . not -
  experimenter/experimenter/glean/middleware.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Update Learn More URL on feature health page.
  experimenter/experimenter/nimbus_ui/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(experimenter): fix experimenter app id to use . not - (#13755)
  experimenter/experimenter/glean/middleware.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(experimenter): fix experimenter app id to use . not - (#13755)
  experimenter/experimenter/glean/middleware.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(experimenter): fix experimenter app id to use . not - (#13755)
  experimenter/experimenter/glean/middleware.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Update Learn More URL on feature health page. (#13757)
  experimenter/experimenter/nimbus_ui/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Update Learn More URL on feature health page. (#13757)
  experimenter/experimenter/nimbus_ui/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Update Learn More URL on feature health page. (#13757)
  experimenter/experimenter/nimbus_ui/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

feat(nimbus): Add tooltip to deliveries table on feature health page.
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Update foxy image for Deliveries table on the feature health page.
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/static/assets/feature-deliveries.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v146.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v144.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Slight jexl refactor
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): exclude language/locale/country (#13753)
  experimenter/experimenter/experiments/migrations/0295_nimbusexperiment_exclude_countries_and_more.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): exclude language/locale/country (#13753)
  experimenter/experimenter/experiments/migrations/0295_nimbusexperiment_exclude_countries_and_more.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): exclude language/locale/country (#13753)
  experimenter/experimenter/experiments/migrations/0295_nimbusexperiment_exclude_countries_and_more.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix detailed analysis link
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(cirrus): update readme to clearly differentiate v1 and v2 api outputs
  cirrus/README.md
Owners: @jaredlockhart, @yashikakhurana, @jeddai

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
