Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

feat(nimbus): My stuff layout
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/static/assets/my-stuff.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): My stuff layout
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): My stuff layout
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(UI): Add tooltip to 'Ready for Attention' card. (#13211)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(UI): Add tooltip to 'Ready for Attention' card. (#13211)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(UI): Add tooltip to 'Ready for Attention' card. (#13211)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): My stuff layout (#13214)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/static/assets/my-stuff.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): My stuff layout (#13214)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/static/assets/my-stuff.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): My stuff layout (#13214)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/static/assets/my-stuff.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.4/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.4/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.4/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.4/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.4/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services (#13217)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13217)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13217)
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions (#13218)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13218)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13218)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs (#13216)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.4/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.4/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.4/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.4/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.4/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13216)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.4/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.4/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.4/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.4/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.4/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13216)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.4/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.4/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.4/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.4/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.4/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.4/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add channels field to nimbus experiment
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/migrations/0287_nimbusexperiment_channels.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Rename from experiments to deliveries
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/static/assets/my-deliveries.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Make channels optional in review serializer
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Rename from experiments to deliveries (#13229)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/static/assets/my-deliveries.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Rename from experiments to deliveries (#13229)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/static/assets/my-deliveries.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Rename from experiments to deliveries (#13229)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/static/assets/my-deliveries.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add channels field to nimbus experiment (#13221)
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/migrations/0287_nimbusexperiment_channels.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add channels field to nimbus experiment (#13221)
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/migrations/0287_nimbusexperiment_channels.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add channels field to nimbus experiment (#13221)
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/migrations/0287_nimbusexperiment_channels.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13227)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13227)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13227)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add channels to jexl targeting
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v6/test_serializers.py
  experimenter/experimenter/experiments/tests/api/v7/test_serializers.py
  experimenter/experimenter/experiments/tests/api/v8/test_serializers.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(UI): Add tooltip for My Stuff section.
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add correct text and delay for tooltip.
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(UI): Add tooltip for My Stuff section. (#13225)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(UI): Add tooltip for My Stuff section. (#13225)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(UI): Add tooltip for My Stuff section. (#13225)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic
