Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

bug(nimbus): fix intermittent rollout test (#12961)
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): fix intermittent rollout test (#12961)
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): fix intermittent rollout test (#12961)
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Create default branches on experiment creation
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12957)
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12957)
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12957)
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add screenshots to branches form (#12958)
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add screenshots to branches form (#12958)
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add screenshots to branches form (#12958)
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions (#12847)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
  experimenter/tests/integration/nimbus/utils/filter_expression.js
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12847)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
  experimenter/tests/integration/nimbus/utils/filter_expression.js
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12847)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
  experimenter/tests/integration/nimbus/utils/filter_expression.js
Owners: @b4handjr

feat(nimbus): Support multi-feature publishing to alternate collections
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(cirrus): only deploy cirrus when the image might have changed
  .circleci/config.yml
Owners: none

test ci change for deploy_cirrus
  .circleci/config.yml
Owners: none

Revert "test ci change for deploy_cirrus"
  .circleci/config.yml
Owners: none

chore(cirrus): only deploy cirrus when the image might have changed (#12963)
  .circleci/config.yml
Owners: none

chore(cirrus): only deploy cirrus when the image might have changed (#12963)
  .circleci/config.yml
Owners: none

chore(cirrus): only deploy cirrus when the image might have changed (#12963)
  .circleci/config.yml
Owners: none

chore(cirrus): only deploy cirrus when the image might have changed (#12963)
  .circleci/config.yml
Owners: none

chore(nimbus): Update Firefox Versions (#12847)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
  experimenter/tests/integration/nimbus/utils/filter_expression.js
Owners: @b4handjr

chore(nimbus): Update External Configs (#12957)
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add screenshots to branches form (#12958)
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add advanced targeting for desktop users with 0 pinned tabs
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add huggingchat chatbot targeting
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(ui): Add capability to navigate to summary page by slug to new ui
  experimenter/experimenter/nimbus_ui_new/urls.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(ui): Add capability to navigate to summary page by slug to new ui
  experimenter/experimenter/nimbus_ui_new/urls.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Move logic to forms
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
Owners: @b4handjr

chore(ci): Skip gcloud login on PRs from forks.
  .circleci/config.yml
Owners: none

chore(ci): Skip gcloud login on PRs from forks. (#12971)
  .circleci/config.yml
Owners: none

chore(ci): Skip gcloud login on PRs from forks. (#12971)
  .circleci/config.yml
Owners: none

chore(ci): Skip gcloud login on PRs from forks. (#12971)
  .circleci/config.yml
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions (#12975)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12975)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12975)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
Owners: @b4handjr

feature(nimbus): add codemirror editor to new nimbus ui
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui_new/static/js/validator.js
  experimenter/experimenter/nimbus_ui_new/static/package.json
  experimenter/experimenter/nimbus_ui_new/static/webpack.config.js
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_branches.html
  experimenter/yarn.lock
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12973)
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
