Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @brennie, @mikewilli, @jrbenny35

bug(nimbus): use docker-selenium 0.27.0
  .circleci/config.yml
Owners: none

is comparison for type constants
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/tests/integration/nimbus/pages/browser/__init__.py
Owners: @jaredlockhart, @yashikakhurana, @brennie, @jrbenny35

bug(nimbus): Correctly publish and reject recipes for applications with multiple kinto collections (#10906)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_experiment_serializer.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/kinto/tasks.py
  experimenter/experimenter/kinto/tests/test_tasks.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(nimbus): Correctly publish and reject recipes for applications with multiple kinto collections (#10906)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_experiment_serializer.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/kinto/tasks.py
  experimenter/experimenter/kinto/tests/test_tasks.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(nimbus): Correctly publish and reject recipes for applications with multiple kinto collections (#10906)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_experiment_serializer.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/kinto/tasks.py
  experimenter/experimenter/kinto/tests/test_tasks.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): QA card
  experimenter/experimenter/experiments/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/qa_card.html
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update application-services (#10950)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#10950)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#10950)
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs (#10951)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10951)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10951)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(nimbus): use docker-selenium 0.27.0 (#10948)
  .circleci/config.yml
Owners: none

bug(nimbus): use docker-selenium 0.27.0 (#10948)
  .circleci/config.yml
Owners: none

bug(nimbus): use docker-selenium 0.27.0 (#10948)
  .circleci/config.yml
Owners: none

test(nimbus): QA form test
  experimenter/experimenter/experiments/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/experimenter_base.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/qa_card.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): Rename to edit button
  experimenter/experimenter/nimbus_ui_new/templates/experimenter_base.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/qa_card.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v128.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v128.1.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10954)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v128.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v128.1.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10954)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v128.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v128.1.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10954)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v128.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v128.1.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): Separate view for update qa status
  experimenter/experimenter/experiments/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/qa_card.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(project): install poetry with install script
  experimenter/tests/experimenter_legacy_tests.sh
  experimenter/tests/nimbus_integration_tests.sh
Owners: @jrbenny35

bug(project): install poetry with install script (#10959)
  experimenter/tests/experimenter_legacy_tests.sh
  experimenter/tests/nimbus_integration_tests.sh
Owners: @jrbenny35

bug(project): install poetry with install script (#10959)
  experimenter/tests/experimenter_legacy_tests.sh
  experimenter/tests/nimbus_integration_tests.sh
Owners: @jrbenny35

bug(project): install poetry with install script (#10959)
  experimenter/tests/experimenter_legacy_tests.sh
  experimenter/tests/nimbus_integration_tests.sh
Owners: @jrbenny35

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.14.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.14.0/schemas/browser/components/newtab/content-src/asrouter/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.14.0/schemas/browser/components/newtab/content-src/asrouter/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.14.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10956)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.14.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.14.0/schemas/browser/components/newtab/content-src/asrouter/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.14.0/schemas/browser/components/newtab/content-src/asrouter/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.14.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10956)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.14.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.14.0/schemas/browser/components/newtab/content-src/asrouter/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.14.0/schemas/browser/components/newtab/content-src/asrouter/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.14.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10956)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.14.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.14.0/schemas/browser/components/newtab/content-src/asrouter/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.14.0/schemas/browser/components/newtab/content-src/asrouter/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.14.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): handle 'all' for countries and user type (#10942)
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/FormAudience/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/FormAudience/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/PopulationSizing/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/PopulationSizing/index.tsx
  experimenter/experimenter/nimbus-ui/src/lib/visualization/mocks.tsx
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): handle 'all' for countries and user type (#10942)
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/FormAudience/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/FormAudience/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/PopulationSizing/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/PopulationSizing/index.tsx
  experimenter/experimenter/nimbus-ui/src/lib/visualization/mocks.tsx
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): handle 'all' for countries and user type (#10942)
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/FormAudience/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/FormAudience/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/PopulationSizing/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/PopulationSizing/index.tsx
  experimenter/experimenter/nimbus-ui/src/lib/visualization/mocks.tsx
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.1/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.1/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.1/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.1/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.1/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.1/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10970)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.1/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.1/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.1/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.1/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.1/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.1/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10970)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.1/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.1/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.1/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.1/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.1/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.1/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10970)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.1/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.1/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.1/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.1/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.1/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.1/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @brennie
/experimenter/manifesttool/ @jaredlockhart @brennie
/schemas/ @jaredlockhart @mikewilli
/experimenter/tests @jrbenny35
