Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

feat(nimbus): add icons to experiment timeline
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/timeline.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix misaligned screenshot fields on invalid input
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): remove jquery dependency from list page script
  experimenter/experimenter/nimbus_ui/static/js/experiment_list.js
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix misaligned delete icon next to add link
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add icons to experiment timeline (#13515)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/timeline.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add icons to experiment timeline (#13515)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/timeline.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add icons to experiment timeline (#13515)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/timeline.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix misaligned screenshot fields on invalid input (#13573)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix misaligned screenshot fields on invalid input (#13573)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix misaligned screenshot fields on invalid input (#13573)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): remove jquery dependency from list page script (#13574)
  experimenter/experimenter/nimbus_ui/static/js/experiment_list.js
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): remove jquery dependency from list page script (#13574)
  experimenter/experimenter/nimbus_ui/static/js/experiment_list.js
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): remove jquery dependency from list page script (#13574)
  experimenter/experimenter/nimbus_ui/static/js/experiment_list.js
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for TOU experiences in users who have not accepted TOU
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix misaligned delete icon next to add link (#13576)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix misaligned delete icon next to add link (#13576)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix misaligned delete icon next to add link (#13576)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

formatting
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for terms of use users (#13568)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): Add advanced targeting for terms of use users (#13568)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): Add advanced targeting for terms of use users (#13568)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

remove stray commas
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for TOU experiences in users who… (#13572)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for TOU experiences in users who… (#13572)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for TOU experiences in users who… (#13572)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update Win10 EoS Sync Toast rollout advanced targeting
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

feat(nimbus): Tag forms
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/tag_form.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/tag_manage_form.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/tags_section.html
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Tag forms
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/tag_form.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/tag_manage_form.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/tags_section.html
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add create experiment button to header
  experimenter/experimenter/nimbus_ui/templates/common/header.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/table.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for Windows 10+ and Mac signed out users
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/firefox_suggest.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): format feature config as list
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update Win10 EoS Sync Toast rollout advanced targeting (#13578)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update Win10 EoS Sync Toast rollout advanced targeting (#13578)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update Win10 EoS Sync Toast rollout advanced targeting (#13578)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(experimenter): integrate with Glean
  Makefile
  experimenter/Dockerfile
  experimenter/experimenter/cirrus/middleware.py
  experimenter/experimenter/cirrus/tests/test_middleware.py
  experimenter/experimenter/glean/__init__.py
  experimenter/experimenter/glean/admin.py
  experimenter/experimenter/glean/middleware.py
  experimenter/experimenter/glean/migrations/0001_initial.py
  experimenter/experimenter/glean/migrations/__init__.py
  experimenter/experimenter/glean/models.py
  experimenter/experimenter/glean/templates/glean/opt_out_alert.html
  experimenter/experimenter/glean/templates/glean/opt_out_button.html
  experimenter/experimenter/glean/tests/__init__.py
  experimenter/experimenter/glean/tests/conftest.py
  experimenter/experimenter/glean/tests/factories.py
  experimenter/experimenter/glean/tests/test_middleware.py
  experimenter/experimenter/glean/tests/test_models.py
  experimenter/experimenter/glean/tests/test_views.py
  experimenter/experimenter/glean/urls.py
  experimenter/experimenter/glean/views.py
  experimenter/experimenter/nimbus_ui/templates/common/header.html
  experimenter/experimenter/settings.py
  experimenter/experimenter/telemetry/metrics.yaml
  experimenter/experimenter/telemetry/pings.yaml
  experimenter/experimenter/urls.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Remove targetting for Fakespot
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr
