Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

fix(nimbus): Requested changes fix
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(experimenter): integrate with Glean
  Makefile
  experimenter/Dockerfile
  experimenter/experimenter/glean/__init__.py
  experimenter/experimenter/glean/admin.py
  experimenter/experimenter/glean/middleware.py
  experimenter/experimenter/glean/migrations/0001_initial.py
  experimenter/experimenter/glean/migrations/__init__.py
  experimenter/experimenter/glean/models.py
  experimenter/experimenter/glean/templates/glean/opt_out_alert.html
  experimenter/experimenter/glean/templates/glean/opt_out_button.html
  experimenter/experimenter/glean/tests/__init__.py
  experimenter/experimenter/glean/tests/conftest.py
  experimenter/experimenter/glean/tests/factories.py
  experimenter/experimenter/glean/tests/test_middleware.py
  experimenter/experimenter/glean/tests/test_models.py
  experimenter/experimenter/glean/tests/test_views.py
  experimenter/experimenter/glean/urls.py
  experimenter/experimenter/glean/views.py
  experimenter/experimenter/nimbus_ui/templates/common/header.html
  experimenter/experimenter/settings.py
  experimenter/experimenter/telemetry/metrics.yaml
  experimenter/experimenter/telemetry/pings.yaml
  experimenter/experimenter/urls.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feature(nimbus): Add form for selecting a feature on the feature page.
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): trim whitespace from copied slugs
  experimenter/experimenter/nimbus_ui/static/js/index.js
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): repair autocomplete in feature value editor
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): Avoid circular imports
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): trim whitespace from copied slugs (#13381)
  experimenter/experimenter/nimbus_ui/static/js/index.js
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): trim whitespace from copied slugs (#13381)
  experimenter/experimenter/nimbus_ui/static/js/index.js
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): trim whitespace from copied slugs (#13381)
  experimenter/experimenter/nimbus_ui/static/js/index.js
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): Avoid circular imports
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

bug(nimbus): repair autocomplete in feature value editor (#13385)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): repair autocomplete in feature value editor (#13385)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): repair autocomplete in feature value editor (#13385)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Require Firefox Labs fields in factory (#13333)
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Require Firefox Labs fields in factory (#13333)
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Require Firefox Labs fields in factory (#13333)
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): prevent wrong channel(s) from being set in NimbusExperimentFactory
  Makefile
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_experiment_serializer.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/api/v6/test_serializers.py
  experimenter/experimenter/experiments/tests/api/v7/test_serializers.py
  experimenter/experimenter/experiments/tests/api/v8/test_serializers.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/monitor-web/experimenter.yaml
  experimenter/experimenter/features/manifests/monitor-web/local.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/production.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): prevent wrong channel(s) from being set in NimbusExperimentFactory (#13377)
  Makefile
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_experiment_serializer.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/api/v6/test_serializers.py
  experimenter/experimenter/experiments/tests/api/v7/test_serializers.py
  experimenter/experimenter/experiments/tests/api/v8/test_serializers.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): prevent wrong channel(s) from being set in NimbusExperimentFactory (#13377)
  Makefile
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_experiment_serializer.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/api/v6/test_serializers.py
  experimenter/experimenter/experiments/tests/api/v7/test_serializers.py
  experimenter/experimenter/experiments/tests/api/v8/test_serializers.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): prevent wrong channel(s) from being set in NimbusExperimentFactory (#13377)
  Makefile
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_experiment_serializer.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/api/v6/test_serializers.py
  experimenter/experimenter/experiments/tests/api/v7/test_serializers.py
  experimenter/experimenter/experiments/tests/api/v8/test_serializers.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): use or (||) for required experiments
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): use or (||) for required experiments (#13380)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): use or (||) for required experiments (#13380)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): use or (||) for required experiments (#13380)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): use application
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): use application
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Channel filters (#13370)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/common/filter_dropdown.html
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Channel filters (#13370)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/common/filter_dropdown.html
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Channel filters (#13370)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/common/filter_dropdown.html
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v143.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v143.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v143.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Fix Windows 10 Firefox VPN advanced targeting
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Filter by application
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Filter by application
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic
