Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

chore(nimbus): Update application-services (#12421)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

fix(nimbus): ensure analysis results branches are in experiment config
  experimenter/experimenter/nimbus-ui/src/components/PageResults/index.tsx
  experimenter/experimenter/nimbus-ui/src/lib/mocks.tsx
  experimenter/experimenter/nimbus-ui/src/lib/visualization/utils.test.ts
  experimenter/experimenter/nimbus-ui/src/lib/visualization/utils.tsx
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Update tests
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions (#12436)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12436)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12436)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update application-services (#12435)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12435)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12435)
  application-services/application-services.env
Owners: none

feat(nimbus): Advanced targeting for users signed out of fxa and are early day/existing (#12426)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Advanced targeting for users signed out of fxa and are early day/existing (#12426)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Advanced targeting for users signed out of fxa and are early day/existing (#12426)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Hide launch controls on summary page (#12410)
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Hide launch controls on summary page (#12410)
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Hide launch controls on summary page (#12410)
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12434)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12434)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12434)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(project): Remove circleci firefox docker builds and update test steps in Makefile.
  .circleci/config.yml
  Makefile
  README.md
  docker-compose-integration-test.yml
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/nimbus_integration_tests.sh
Owners: @b4handjr

feat(nimbus): Add archive/clone functionality to new UI
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix
  experimenter/experimenter/features/tests/test_features.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Add 137.1 and 137.2
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Try updating machine versions as well as machine size.
  .circleci/config.yml
Owners: none

chore(nimbus): Add 137.1 and 137.2 (#12440)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Add 137.1 and 137.2 (#12440)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Add 137.1 and 137.2 (#12440)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Try the release version of docker-selenium
  docker-compose-integration-test.yml
Owners: none

Fix driver fixture.
  experimenter/tests/integration/nimbus/conftest.py
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Fix driver fixture.
  experimenter/tests/integration/nimbus/conftest.py
Owners: @b4handjr

feat(nimbus): Add archive/clone functionality to new UI (#12359)
  experimenter/experimenter/nimbus_ui_new/constants.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/common/sidebar_link.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/archive_button.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/clone.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/clone_slug_field.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add archive/clone functionality to new UI (#12359)
  experimenter/experimenter/nimbus_ui_new/constants.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/common/sidebar_link.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/archive_button.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/clone.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/clone_slug_field.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add archive/clone functionality to new UI (#12359)
  experimenter/experimenter/nimbus_ui_new/constants.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/common/sidebar_link.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/archive_button.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/clone.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/clone_slug_field.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): ensure analysis results branches are in experiment config (#12437)
  experimenter/experimenter/nimbus-ui/src/components/PageResults/index.tsx
  experimenter/experimenter/nimbus-ui/src/lib/mocks.tsx
  experimenter/experimenter/nimbus-ui/src/lib/visualization/utils.test.ts
  experimenter/experimenter/nimbus-ui/src/lib/visualization/utils.tsx
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): ensure analysis results branches are in experiment config (#12437)
  experimenter/experimenter/nimbus-ui/src/components/PageResults/index.tsx
  experimenter/experimenter/nimbus-ui/src/lib/mocks.tsx
  experimenter/experimenter/nimbus-ui/src/lib/visualization/utils.test.ts
  experimenter/experimenter/nimbus-ui/src/lib/visualization/utils.tsx
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): ensure analysis results branches are in experiment config (#12437)
  experimenter/experimenter/nimbus-ui/src/components/PageResults/index.tsx
  experimenter/experimenter/nimbus-ui/src/lib/mocks.tsx
  experimenter/experimenter/nimbus-ui/src/lib/visualization/utils.test.ts
  experimenter/experimenter/nimbus-ui/src/lib/visualization/utils.tsx
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12441)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
