Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

chore(nimbus): use cached dates in csv reports
  docs/experimenter/openapi-schema.json
  docs/experimenter/swagger-ui.html
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_experiment_csv_serializer.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Create new tag or edit the existing tag (#13791)
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/tags_list_partial.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/tags_manage.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): Create new tag or edit the existing tag (#13791)
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/tags_list_partial.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/tags_manage.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): Create new tag or edit the existing tag (#13791)
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/tags_list_partial.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/tags_manage.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

bug(nimbus): display branch name validation errors
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add feature schema data to feature changes table.
  experimenter/experimenter/nimbus_ui/static/css/style.scss
  experimenter/experimenter/nimbus_ui/static/js/features_page.js
  experimenter/experimenter/nimbus_ui/static/package.json
  experimenter/experimenter/nimbus_ui/static/webpack.config.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): use cached dates in csv reports (#13818)
  docs/experimenter/openapi-schema.json
  docs/experimenter/swagger-ui.html
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_experiment_csv_serializer.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): use cached dates in csv reports (#13818)
  docs/experimenter/openapi-schema.json
  docs/experimenter/swagger-ui.html
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_experiment_csv_serializer.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): use cached dates in csv reports (#13818)
  docs/experimenter/openapi-schema.json
  docs/experimenter/swagger-ui.html
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_experiment_csv_serializer.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Updates based on review feedback.
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/static/js/features_page.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/poetry.lock
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v146.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Create badge mapping.
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): use fml linter in branches form
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/static/js/validator.js
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): display branch name validation errors (#13819)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): display branch name validation errors (#13819)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): display branch name validation errors (#13819)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add localizations to summary page
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): use fml linter in branches form (#13826)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/static/js/validator.js
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): use fml linter in branches form (#13826)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/static/js/validator.js
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): use fml linter in branches form (#13826)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/static/js/validator.js
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(experimenter): send glean opt outs in custom ping
  experimenter/experimenter/glean/views.py
  experimenter/experimenter/telemetry/metrics.yaml
  experimenter/experimenter/telemetry/pings.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add loading screen to review controls
  experimenter/experimenter/nimbus_ui/static/js/review_controls.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(experimenter): send glean opt outs in custom ping (#13829)
  experimenter/experimenter/glean/views.py
  experimenter/experimenter/telemetry/metrics.yaml
  experimenter/experimenter/telemetry/pings.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(experimenter): send glean opt outs in custom ping (#13829)
  experimenter/experimenter/glean/views.py
  experimenter/experimenter/telemetry/metrics.yaml
  experimenter/experimenter/telemetry/pings.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(experimenter): send glean opt outs in custom ping (#13829)
  experimenter/experimenter/glean/views.py
  experimenter/experimenter/telemetry/metrics.yaml
  experimenter/experimenter/telemetry/pings.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Switch variables.
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): revamp sidebar view for results page
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/templates/common/sidebar_link.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): revamp sidebar view for results page
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/templates/common/sidebar_link.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Assign tags
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/assign_tags_dropdown.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add localizations to summary page (#13827)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add localizations to summary page (#13827)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add localizations to summary page (#13827)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

feat(nimbus): Add feature schema data to feature changes table. (#13799)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/static/css/style.scss
  experimenter/experimenter/nimbus_ui/static/js/features_page.js
  experimenter/experimenter/nimbus_ui/static/package.json
  experimenter/experimenter/nimbus_ui/static/webpack.config.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add feature schema data to feature changes table. (#13799)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/static/css/style.scss
  experimenter/experimenter/nimbus_ui/static/js/features_page.js
  experimenter/experimenter/nimbus_ui/static/package.json
  experimenter/experimenter/nimbus_ui/static/webpack.config.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add feature schema data to feature changes table. (#13799)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/static/css/style.scss
  experimenter/experimenter/nimbus_ui/static/js/features_page.js
  experimenter/experimenter/nimbus_ui/static/package.json
  experimenter/experimenter/nimbus_ui/static/webpack.config.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add loading screen to review controls (#13831)
  experimenter/experimenter/nimbus_ui/static/js/review_controls.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add loading screen to review controls (#13831)
  experimenter/experimenter/nimbus_ui/static/js/review_controls.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic
