Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @brennie, @mikewilli, @jrbenny35

Fix tagging.
  .circleci/config.yml
Owners: none

Increase resource size.
  .circleci/config.yml
  experimenter/tests/integration/nimbus/android/build_android.sh
  experimenter/tests/integration/nimbus/android/moz-central.test-container.Dockerfile
Owners: @jrbenny35

Final updates.
  .circleci/config.yml
Owners: none

chore(nimbus): Update fenix apks for testing (#11117)
  .circleci/config.yml
  experimenter/tests/integration/nimbus/android/build_android.sh
  experimenter/tests/integration/nimbus/android/fenix-build.env
  experimenter/tests/integration/nimbus/android/moz-central.test-container.Dockerfile
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing (#11117)
  .circleci/config.yml
  experimenter/tests/integration/nimbus/android/build_android.sh
  experimenter/tests/integration/nimbus/android/fenix-build.env
  experimenter/tests/integration/nimbus/android/moz-central.test-container.Dockerfile
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing (#11117)
  .circleci/config.yml
  experimenter/tests/integration/nimbus/android/build_android.sh
  experimenter/tests/integration/nimbus/android/fenix-build.env
  experimenter/tests/integration/nimbus/android/moz-central.test-container.Dockerfile
Owners: @jrbenny35

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11124)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11124)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11124)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11125)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11125)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11125)
  application-services/application-services.env
Owners: none

feat(cirrus): Fetch resources if url is provided
  cirrus/server/cirrus/main.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

feat(cirrus): Update check method
  cirrus/server/cirrus/main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

feat(cirrus): Fetch resources if url is provided (#11129)
  cirrus/server/cirrus/main.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

feat(cirrus): Fetch resources if url is provided (#11129)
  cirrus/server/cirrus/main.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

feat(cirrus): Fetch resources if url is provided (#11129)
  cirrus/server/cirrus/main.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11127)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11127)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11127)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(cirrus): Update sample rate
  cirrus/server/cirrus/main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11131)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11131)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11131)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(cirrus): Update sentry sample rate (#11130)
  cirrus/server/cirrus/main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus): Update sentry sample rate (#11130)
  cirrus/server/cirrus/main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus): Update sentry sample rate (#11130)
  cirrus/server/cirrus/main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11132)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11132)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11132)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): add mac and linux targeting
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

Add comments to overriding fixtures.
  experimenter/tests/integration/nimbus/ios/test_ios_integration.py
Owners: @jrbenny35

feat(nimbus): add mac and linux targeting (#11133)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): add mac and linux targeting (#11133)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): add mac and linux targeting (#11133)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @brennie
/experimenter/manifesttool/ @jaredlockhart @brennie
/schemas/ @jaredlockhart @mikewilli
/experimenter/tests @jrbenny35
