Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @brennie, @mikewilli, @jrbenny35

chore(nimbus): Update External Configs (#11000)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11000)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11000)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v129.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): add link to matching audiences
  experimenter/experimenter/experiments/api/v5/types.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/components/AppLayoutWithExperiment/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/Summary/TableAudience/index.tsx
  experimenter/experimenter/nimbus-ui/src/gql/experiments.ts
  experimenter/experimenter/nimbus-ui/src/types/getExperiment.ts
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): add link to matching audiences (#10996)
  experimenter/experimenter/experiments/api/v5/types.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/components/AppLayoutWithExperiment/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/Summary/TableAudience/index.tsx
  experimenter/experimenter/nimbus-ui/src/gql/experiments.ts
  experimenter/experimenter/nimbus-ui/src/types/getExperiment.ts
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): add link to matching audiences (#10996)
  experimenter/experimenter/experiments/api/v5/types.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/components/AppLayoutWithExperiment/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/Summary/TableAudience/index.tsx
  experimenter/experimenter/nimbus-ui/src/gql/experiments.ts
  experimenter/experimenter/nimbus-ui/src/types/getExperiment.ts
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): add link to matching audiences (#10996)
  experimenter/experimenter/experiments/api/v5/types.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/components/AppLayoutWithExperiment/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/Summary/TableAudience/index.tsx
  experimenter/experimenter/nimbus-ui/src/gql/experiments.ts
  experimenter/experimenter/nimbus-ui/src/types/getExperiment.ts
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11003)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11003)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11003)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v130.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(nimbus): tabs should fill full table width on new list page
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(nimbus): tabs should fill full table width on new list page (#11007)
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(nimbus): tabs should fill full table width on new list page (#11007)
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(nimbus): tabs should fill full table width on new list page (#11007)
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): Takeaways form
  experimenter/experimenter/experiments/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/takeaways_card.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): live recipes
  cirrus/server/cirrus/experiment_recipes.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(nimbus): prevent tabs from wrapping on new list page
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): prevent tabs from wrapping on new list page (#11009)
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): prevent tabs from wrapping on new list page (#11009)
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): prevent tabs from wrapping on new list page (#11009)
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): remove feature config and version from audience url
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11013)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11013)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11013)
  application-services/application-services.env
Owners: none

feat(nimbus): collapse sidebar into hamburger menu in new nimbus ui
  experimenter/experimenter/nimbus_ui_new/templates/common/with_sidebar.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): remove feature config and version from audience url (#11012)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): remove feature config and version from audience url (#11012)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): remove feature config and version from audience url (#11012)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/monitor-web/experimenter.yaml
  experimenter/experimenter/features/manifests/monitor-web/local.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/production.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): push docker image with the short git sha as the tag
  .circleci/config.yml
Owners: none

chore(nimbus): Update External Configs (#11014)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/monitor-web/experimenter.yaml
  experimenter/experimenter/features/manifests/monitor-web/local.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/production.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11014)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/monitor-web/experimenter.yaml
  experimenter/experimenter/features/manifests/monitor-web/local.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/production.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11014)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/monitor-web/experimenter.yaml
  experimenter/experimenter/features/manifests/monitor-web/local.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/production.fml.yaml
  experimenter/experimenter/features/manifests/monitor-web/staging.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): collapse sidebar into hamburger menu in new nimbus ui (#11015)
  experimenter/experimenter/nimbus_ui_new/templates/common/with_sidebar.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): collapse sidebar into hamburger menu in new nimbus ui (#11015)
  experimenter/experimenter/nimbus_ui_new/templates/common/with_sidebar.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): collapse sidebar into hamburger menu in new nimbus ui (#11015)
  experimenter/experimenter/nimbus_ui_new/templates/common/with_sidebar.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): push docker image with the short git sha as the tag (#11016)
  .circleci/config.yml
Owners: none

feat(nimbus): push docker image with the short git sha as the tag (#11016)
  .circleci/config.yml
Owners: none

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @brennie
/experimenter/manifesttool/ @jaredlockhart @brennie
/schemas/ @jaredlockhart @mikewilli
/experimenter/tests @jrbenny35
