Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/release.fml.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/serp.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services (#13188)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13188)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13188)
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions (#13198)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13198)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13198)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

feat(nimbus): add advanced targeting for users who cannot use apple intelligence
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

chore(nimbus): Update External Configs (#13191)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/release.fml.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/serp.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13191)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/release.fml.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/serp.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13191)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v142.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/release.fml.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/serp.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

formatting
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): Align welcome message to center
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for tou users with no sponsored content or Adjust opt outs (#13180)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): Add advanced targeting for tou users with no sponsored content or Adjust opt outs (#13180)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): Add advanced targeting for tou users with no sponsored content or Adjust opt outs (#13180)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v141.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Align welcome message to center (#13204)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Align welcome message to center (#13204)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Align welcome message to center (#13204)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13205)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v141.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13205)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v141.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13205)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v141.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13208)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13208)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13208)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

feat(UI): Add tooltip for 'Ready for Attention' card.
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add advanced targeting for users who cannot use apple intelligence (#13199)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): add advanced targeting for users who cannot use apple intelligence (#13199)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): add advanced targeting for users who cannot use apple intelligence (#13199)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

add win10 eos toast targeting config
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13207)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13207)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13207)
  application-services/application-services.env
Owners: none

add win10 eos toast targeting config (#13212)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

add win10 eos toast targeting config (#13212)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

add win10 eos toast targeting config (#13212)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic
