Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @brennie, @mikewilli, @jrbenny35

docs(cirrus): Cirrus QA strategy (#10902)
  docs/adrs/0015-webapps-qa-strategy.md
Owners: none

docs(cirrus): Cirrus QA strategy (#10902)
  docs/adrs/0015-webapps-qa-strategy.md
Owners: none

docs(cirrus): Cirrus QA strategy (#10902)
  docs/adrs/0015-webapps-qa-strategy.md
Owners: none

chore(nimbus): Update External Configs (#10937)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10937)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10937)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

Correctly build the image and run it.
  .circleci/config.yml
Owners: none

Add fenix storage dockerfile.
  .circleci/config.yml
  experimenter/tests/integration/nimbus/android/fenix-apk-store.Dockerfile
Owners: @jrbenny35

Fixups.
  .circleci/config.yml
Owners: none

feat(nimbus): upgrade to latest nimbus schemas (#10936)
  experimenter/package.json
  experimenter/poetry.lock
  experimenter/pyproject.toml
  experimenter/yarn.lock
Owners: none

feat(nimbus): upgrade to latest nimbus schemas (#10936)
  experimenter/package.json
  experimenter/poetry.lock
  experimenter/pyproject.toml
  experimenter/yarn.lock
Owners: none

feat(nimbus): upgrade to latest nimbus schemas (#10936)
  experimenter/package.json
  experimenter/poetry.lock
  experimenter/pyproject.toml
  experimenter/yarn.lock
Owners: none

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): handle 'all' for countries and user type
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/FormAudience/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/PopulationSizing/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/PopulationSizing/index.tsx
Owners: @jaredlockhart, @yashikakhurana, @brennie

update tests
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/FormAudience/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/PopulationSizing/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/PopulationSizing/index.tsx
  experimenter/experimenter/nimbus-ui/src/lib/visualization/mocks.tsx
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10938)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10938)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10938)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update application-services (#10939)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#10939)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#10939)
  application-services/application-services.env
Owners: none

bug(nimbus): fix the @mozilla/nimbus-schemas package update
  experimenter/experimenter/nimbus-ui/package.json
  experimenter/package.json
  experimenter/yarn.lock
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(nimbus): fix the @mozilla/nimbus-schemas package update (#10944)
  experimenter/experimenter/nimbus-ui/package.json
  experimenter/package.json
  experimenter/yarn.lock
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(nimbus): fix the @mozilla/nimbus-schemas package update (#10944)
  experimenter/experimenter/nimbus-ui/package.json
  experimenter/package.json
  experimenter/yarn.lock
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(nimbus): fix the @mozilla/nimbus-schemas package update (#10944)
  experimenter/experimenter/nimbus-ui/package.json
  experimenter/package.json
  experimenter/yarn.lock
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10945)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10945)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#10945)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Fix fenix integration tests to not use circleci cache. (#10934)
  .circleci/config.yml
  experimenter/tests/integration/nimbus/android/build_android.sh
  experimenter/tests/integration/nimbus/android/fenix-apk-store.Dockerfile
Owners: @jrbenny35

chore(nimbus): Fix fenix integration tests to not use circleci cache. (#10934)
  .circleci/config.yml
  experimenter/tests/integration/nimbus/android/build_android.sh
  experimenter/tests/integration/nimbus/android/fenix-apk-store.Dockerfile
Owners: @jrbenny35

chore(nimbus): Fix fenix integration tests to not use circleci cache. (#10934)
  .circleci/config.yml
  experimenter/tests/integration/nimbus/android/build_android.sh
  experimenter/tests/integration/nimbus/android/fenix-apk-store.Dockerfile
Owners: @jrbenny35

update ruff commands
  Makefile
Owners: none

fix tests
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/FormAudience/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/PopulationSizing/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageEditAudience/PopulationSizing/index.tsx
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): QA card
  experimenter/experimenter/experiments/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/experimenter_base.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/qa_card.html
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(nimbus): Correctly publish and reject recipes for applications with multiple kinto collections
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_experiment_serializer.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/kinto/tasks.py
  experimenter/experimenter/kinto/tests/test_tasks.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

More descriptive test names
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

Add for_collection manager method
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

One more test name
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @brennie
/experimenter/manifesttool/ @jaredlockhart @brennie
/schemas/ @jaredlockhart @mikewilli
/experimenter/tests @jrbenny35
