Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @brennie, @mikewilli, @jrbenny35

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @brennie
/experimenter/manifesttool/ @jaredlockhart @brennie
/schemas/ @jaredlockhart @mikewilli
/experimenter/tests @jrbenny35

chore(nimbus): Update fenix apks for testing (#11042)
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing (#11042)
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/monitor-web/local.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update application-services (#11039)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11039)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11039)
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs (#11038)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/monitor-web/local.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11038)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/monitor-web/local.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11038)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v128.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/monitor-web/local.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(nimbus): Rename ja-JP-mac locale to ja-JP-macos (#11043)
  experimenter/experimenter/base/fixtures/locales.json
  experimenter/experimenter/base/migrations/0005_jajpmacos.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(nimbus): Rename ja-JP-mac locale to ja-JP-macos (#11043)
  experimenter/experimenter/base/fixtures/locales.json
  experimenter/experimenter/base/migrations/0005_jajpmacos.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

bug(nimbus): Rename ja-JP-mac locale to ja-JP-macos (#11043)
  experimenter/experimenter/base/fixtures/locales.json
  experimenter/experimenter/base/migrations/0005_jajpmacos.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Hardcode experimenter docker repo in fenix integration tests.
  .circleci/config.yml
Owners: none

chore(nimbus): Update External Configs (#11044)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11044)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11044)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.0/experimenter.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): Prevent launching prefFlips experiments to preview
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/api/v5/types.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_queries.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_experiment_serializer.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/components/PageSummary/FormLaunchDraftToReview.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageSummary/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageSummary/index.tsx
  experimenter/experimenter/nimbus-ui/src/gql/experiments.ts
  experimenter/experimenter/nimbus-ui/src/lib/mocks.tsx
  experimenter/experimenter/nimbus-ui/src/types/getExperiment.ts
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): Prevent launching prefFlips experiments to preview (#11027)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/api/v5/types.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_queries.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_experiment_serializer.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/components/PageSummary/FormLaunchDraftToReview.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageSummary/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageSummary/index.tsx
  experimenter/experimenter/nimbus-ui/src/gql/experiments.ts
  experimenter/experimenter/nimbus-ui/src/lib/mocks.tsx
  experimenter/experimenter/nimbus-ui/src/types/getExperiment.ts
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): Prevent launching prefFlips experiments to preview (#11027)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/api/v5/types.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_queries.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_experiment_serializer.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/components/PageSummary/FormLaunchDraftToReview.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageSummary/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageSummary/index.tsx
  experimenter/experimenter/nimbus-ui/src/gql/experiments.ts
  experimenter/experimenter/nimbus-ui/src/lib/mocks.tsx
  experimenter/experimenter/nimbus-ui/src/types/getExperiment.ts
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): Prevent launching prefFlips experiments to preview (#11027)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/api/v5/types.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_queries.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_experiment_serializer.py
  experimenter/experimenter/experiments/tests/factories.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/components/PageSummary/FormLaunchDraftToReview.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageSummary/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageSummary/index.tsx
  experimenter/experimenter/nimbus-ui/src/gql/experiments.ts
  experimenter/experimenter/nimbus-ui/src/lib/mocks.tsx
  experimenter/experimenter/nimbus-ui/src/types/getExperiment.ts
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Hard code experimenter docker repo in fenix integration tests. (#11046)
  .circleci/config.yml
Owners: none

chore(nimbus): Hard code experimenter docker repo in fenix integration tests. (#11046)
  .circleci/config.yml
Owners: none

chore(nimbus): Hard code experimenter docker repo in fenix integration tests. (#11046)
  .circleci/config.yml
Owners: none

chore(nimbus): reduce number of remote settings integration tests
  .circleci/config.yml
  experimenter/tests/integration/nimbus/test_remote_settings.py
  experimenter/tests/pytest.ini
Owners: @jrbenny35

chore(nimbus): reduce number of remote settings integration tests (#11048)
  .circleci/config.yml
  experimenter/tests/integration/nimbus/test_remote_settings.py
  experimenter/tests/pytest.ini
Owners: @jrbenny35

chore(nimbus): reduce number of remote settings integration tests (#11048)
  .circleci/config.yml
  experimenter/tests/integration/nimbus/test_remote_settings.py
  experimenter/tests/pytest.ini
Owners: @jrbenny35

chore(nimbus): reduce number of remote settings integration tests (#11048)
  .circleci/config.yml
  experimenter/tests/integration/nimbus/test_remote_settings.py
  experimenter/tests/pytest.ini
Owners: @jrbenny35

feat(cirrus): Update main
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/settings.py
  cirrus/server/poetry.lock
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.2.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v128.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v128.2.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11049)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.2.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v128.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v128.2.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11049)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.2.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v128.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v128.2.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11049)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v128.2.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v128.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v128.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v128.2.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update application-services (#11050)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11050)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11050)
  application-services/application-services.env
Owners: none

feat(nimbus): Update conclusion recommendations
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/takeaways_card.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @brennie

feat(nimbus): Update placeholder
  experimenter/experimenter/experiments/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/takeaways_card.html
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none
