Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v144.1.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): make sidebar stick to top when scrolling
  experimenter/experimenter/nimbus_ui/templates/common/with_sidebar.html
  experimenter/experimenter/nimbus_ui/templates/experimenter_base.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add 145.0a1
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add 145.0a1 (#13631)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add 145.0a1 (#13631)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add 145.0a1 (#13631)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add targeting for buildid 20251006095753
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add 143.1.1
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add targeting for buildid 20251006095753 (#13638)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add targeting for buildid 20251006095753 (#13638)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add targeting for buildid 20251006095753 (#13638)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add 143.1.1 (#13640)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add 143.1.1 (#13640)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add 143.1.1 (#13640)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus) Fix advanced targeting for TOU experiences
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus) Fix advanced targeting for TOU experiences
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus) Fix advanced targeting for TOU experiences (#13652)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus) Fix advanced targeting for TOU experiences (#13652)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus) Fix advanced targeting for TOU experiences (#13652)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.1.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(ci): Upload built android apk files as artifacts.
  .circleci/config.yml
Owners: none

chore(ci): Bump iOS version for iOS tests.
  .circleci/config.yml
Owners: none

feat(nimbus) Make SPONSORED_SEARCH_SUGGESTIONS_DISABLED region agnostic
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus) Make SPONSORED_SEARCH_SUGGESTIONS_DISABLED region agnostic
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus) Make SPONSORED_SEARCH_SUGGESTIONS_DISABLED region agnostic
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Show selected features
  experimenter/experimenter/nimbus_ui/templates/common/filter_dropdown.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Show selected features (#13662)
  experimenter/experimenter/nimbus_ui/templates/common/filter_dropdown.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Show selected features (#13662)
  experimenter/experimenter/nimbus_ui/templates/common/filter_dropdown.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Show selected features (#13662)
  experimenter/experimenter/nimbus_ui/templates/common/filter_dropdown.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): update to datadog 0.52.1
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: none

bug(nimbus): update to datadog 0.52.1
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: none

feat(nimbus): Push filter params in url
  experimenter/experimenter/nimbus_ui/templates/common/date_filter_dropdown.html
  experimenter/experimenter/nimbus_ui/templates/common/filter_dropdown.html
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v144.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v144.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v144.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v144.2.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v144.0.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.0.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v144.0.1/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v144.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v144.2.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

Update constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic
