Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

chore(cirrus): make sentry sample rate configurable (#13259)
  .env.sample
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/settings.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

feat(nimbus): My deliveries filter (#13245)
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): My deliveries filter (#13245)
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): My deliveries filter (#13245)
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Prevent publishing recipes containing secure features to preview
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Prevent publishing recipes containing secure features to… (#13260)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Prevent publishing recipes containing secure features to… (#13260)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Prevent publishing recipes containing secure features to… (#13260)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Use correct repository URL in our CircleCI configuration
  .circleci/config.yml
Owners: none

bug(nimbus): Use correct repository URL in our CircleCI configuration (#13269)
  .circleci/config.yml
Owners: none

bug(nimbus): Use correct repository URL in our CircleCI configuration (#13269)
  .circleci/config.yml
Owners: none

bug(nimbus): Use correct repository URL in our CircleCI configuration (#13269)
  .circleci/config.yml
Owners: none

chore(cirrus): standardize on poetry 2.1.1; add a dev image to Cirrus
  Makefile
  cirrus/server/Dockerfile
  cirrus/server/poetry.lock
  cirrus/server/pyproject.toml
  experimenter/pyproject.toml
  schemas/Dockerfile
  schemas/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @jeddai, @mikewilli, @freshstrangemusic

chore(cirrus): standardize on poetry 2.1.1; add a dev image to Cirrus (#13274)
  Makefile
  cirrus/server/Dockerfile
  cirrus/server/poetry.lock
  cirrus/server/pyproject.toml
  experimenter/pyproject.toml
  schemas/Dockerfile
  schemas/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @jeddai, @mikewilli, @freshstrangemusic

chore(cirrus): standardize on poetry 2.1.1; add a dev image to Cirrus (#13274)
  Makefile
  cirrus/server/Dockerfile
  cirrus/server/poetry.lock
  cirrus/server/pyproject.toml
  experimenter/pyproject.toml
  schemas/Dockerfile
  schemas/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @jeddai, @mikewilli, @freshstrangemusic

chore(cirrus): standardize on poetry 2.1.1; add a dev image to Cirrus (#13274)
  Makefile
  cirrus/server/Dockerfile
  cirrus/server/poetry.lock
  cirrus/server/pyproject.toml
  experimenter/pyproject.toml
  schemas/Dockerfile
  schemas/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @jeddai, @mikewilli, @freshstrangemusic

feat(experimenter): added GitHub action CI workflow for experimenter
  .github/workflows/experimenter-mozcloud-publish.yaml
Owners: none

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for Windows 10 Firefox VPN eligibility
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Sort my deliveries column
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/common/home_sortable_header.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(experimenter): added GitHub action CI workflow for experimenter (#13275)
  .github/workflows/experimenter-mozcloud-publish.yaml
Owners: none

feat(experimenter): added GitHub action CI workflow for experimenter (#13275)
  .github/workflows/experimenter-mozcloud-publish.yaml
Owners: none

feat(experimenter): added GitHub action CI workflow for experimenter (#13275)
  .github/workflows/experimenter-mozcloud-publish.yaml
Owners: none

feat(nimbus): Add advanced targeting for Windows 10 Firefox VPN eligibility (#13276)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for Windows 10 Firefox VPN eligibility (#13276)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for Windows 10 Firefox VPN eligibility (#13276)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

fix(ui): build outcome doc links correctly
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(ui): build outcome doc links correctly (#13280)
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(ui): build outcome doc links correctly (#13280)
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(ui): build outcome doc links correctly (#13280)
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.1.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(experimenter): re-worked mozcloud-publish workflow to reuse existing make configuration, using shared docker-push workflow to push to GAR
  .github/workflows/experimenter-mozcloud-publish.yaml
Owners: none

feat(nimbus): Move headers
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(experimenter): added missing workflow permissions
  .github/workflows/experimenter-mozcloud-publish.yaml
Owners: none

fix(experimenter): added missing package: write permission for mozcloud-publish action (#13281)
  .github/workflows/experimenter-mozcloud-publish.yaml
Owners: none

fix(experimenter): added missing package: write permission for mozcloud-publish action (#13281)
  .github/workflows/experimenter-mozcloud-publish.yaml
Owners: none

fix(experimenter): added missing package: write permission for mozcloud-publish action (#13281)
  .github/workflows/experimenter-mozcloud-publish.yaml
Owners: none

fix: remove newline from image_tags value
  .github/workflows/experimenter-mozcloud-publish.yaml
Owners: none
