Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

Add archive/clone functionality
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/clone.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add archive/clone functionality to new UI
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/clone.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add archive/clone functionality to new UI
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/clone.html
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

adding advanced targeting for profiles between 10 minutes and 2 days old to be used for in-product HB surveys
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

adding trailing comma
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

shortening the lines
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

SNG-2338 - Segment Ad Blocker Traffic for into two targets and with bing as default engine
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services (#12357)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12357)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12357)
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions (#12358)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12358)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12358)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
Owners: @b4handjr

SNG-2338 - Segment Ad Blocker Traffic for into two targets and with bing as default engine (#12351)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

SNG-2338 - Segment Ad Blocker Traffic for into two targets and with bing as default engine (#12351)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

SNG-2338 - Segment Ad Blocker Traffic for into two targets and with bing as default engine (#12351)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

added the 10 min to 2 day old profile targeting (#12356)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

added the 10 min to 2 day old profile targeting (#12356)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

added the 10 min to 2 day old profile targeting (#12356)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12353)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12353)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12353)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): Update review request message for experiment enrollment
  experimenter/experimenter/nimbus-ui/src/components/ChangeApprovalOperations/index.tsx
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12360)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12360)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12360)
  application-services/application-services.env
Owners: none

fix(nimbus): Show username
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/approval_rejection_controls.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): Show username
  experimenter/experimenter/nimbus_ui_new/constants.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/approval_rejection_controls.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): Show username
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): Show username
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/approval_rejection_controls.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore: fetch results every 2 hours
  experimenter/experimenter/settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): timezone-aware fetch error time
  experimenter/experimenter/jetstream/client.py
  experimenter/experimenter/jetstream/tests/test_tasks.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

use django timezone
  experimenter/experimenter/jetstream/client.py
  experimenter/experimenter/jetstream/tests/test_tasks.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
