Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

chore(nimbus): remove check and report
  .circleci/config.yml
Owners: none

chore(nimbus): remove check and report
  .circleci/config.yml
Owners: none

Test splitting pytest
  .circleci/config.yml
  Makefile
  docker-compose-integration-test.yml
  docker-compose.yml
  experimenter/tests/integration/nimbus/app_contexts.json
  experimenter/tests/nimbus_rust_tests.sh
  experimenter/tests/poetry.lock
  experimenter/tests/pyproject.toml
Owners: @b4handjr

Test splitting pytest
  .circleci/config.yml
  Makefile
  docker-compose-integration-test.yml
  docker-compose.yml
  experimenter/tests/integration/nimbus/app_contexts.json
  experimenter/tests/nimbus_rust_tests.sh
  experimenter/tests/poetry.lock
  experimenter/tests/pyproject.toml
Owners: @b4handjr

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

Update constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox iOS (Fennec) Release
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

fix(nimbus): hide weekly metrics from displaying on results page popout card if not available
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v149.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Update the advanced targeting config for ANDROID_EXISTING_USERS_NOT_ACCEPTED_TERMS_OF_USE_OVER_ONE_POINT (#14355)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Update the advanced targeting config for ANDROID_EXISTING_USERS_NOT_ACCEPTED_TERMS_OF_USE_OVER_ONE_POINT (#14355)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): Update the advanced targeting config for ANDROID_EXISTING_USERS_NOT_ACCEPTED_TERMS_OF_USE_OVER_ONE_POINT (#14355)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): fix show more/less buttons on readonly json
  experimenter/experimenter/nimbus_ui/static/js/codemirror_utils.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_localizations.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

fix(nimbus): hide weekly metrics from displaying on results page popout card if not available (#14261)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): hide weekly metrics from displaying on results page popout card if not available (#14261)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): hide weekly metrics from displaying on results page popout card if not available (#14261)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): fix show more/less buttons on readonly json (#14359)
  experimenter/experimenter/nimbus_ui/static/js/codemirror_utils.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_localizations.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): fix show more/less buttons on readonly json (#14359)
  experimenter/experimenter/nimbus_ui/static/js/codemirror_utils.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_localizations.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): fix show more/less buttons on readonly json (#14359)
  experimenter/experimenter/nimbus_ui/static/js/codemirror_utils.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_localizations.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(cirrus): use remote settings changset api
  .env.sample
  cirrus/README.md
  cirrus/server/cirrus/experiment_recipes.py
  cirrus/server/tests/test_experiment_recipes.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

feat(nimbus): add sidebar quicklinks to results page metric areas
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Fenix Beta
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/firefox_backup.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): use callable default values
  experimenter/experimenter/experiments/migrations/0313_alter_nimbusexperiment__firefox_min_version_parsed.py
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix styles on new results page
  experimenter/experimenter/nimbus_ui/templates/common/metric_card.html
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(cirrus): use remote settings changeset api (#14362)
  .env.sample
  cirrus/README.md
  cirrus/server/cirrus/experiment_recipes.py
  cirrus/server/tests/test_experiment_recipes.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus): use remote settings changeset api (#14362)
  .env.sample
  cirrus/README.md
  cirrus/server/cirrus/experiment_recipes.py
  cirrus/server/tests/test_experiment_recipes.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus): use remote settings changeset api (#14362)
  .env.sample
  cirrus/README.md
  cirrus/server/cirrus/experiment_recipes.py
  cirrus/server/tests/test_experiment_recipes.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

feat(cirrus): Add type hints for SDK.compute_enrollments
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/sdk.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

fix(nimbus): fix styles on new results page (#14372)
  experimenter/experimenter/nimbus_ui/templates/common/metric_card.html
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix styles on new results page (#14372)
  experimenter/experimenter/nimbus_ui/templates/common/metric_card.html
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix styles on new results page (#14372)
  experimenter/experimenter/nimbus_ui/templates/common/metric_card.html
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add sidebar quicklinks to results page metric areas (#14367)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add sidebar quicklinks to results page metric areas (#14367)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add sidebar quicklinks to results page metric areas (#14367)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

ip
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
