Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @eliserichards, @brennie, @mikewilli, @jrbenny35

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @eliserichards, @brennie

chore(nimbus): Update External Configs (#9629)
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @eliserichards, @brennie

chore(nimbus): Update External Configs (#9629)
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @eliserichards, @brennie

chore(nimbus): Update External Configs (#9629)
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @eliserichards, @brennie

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
Owners: @jaredlockhart, @yashikakhurana, @eliserichards, @brennie

chore(nimbus): Update External Configs (#9630)
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
Owners: @jaredlockhart, @yashikakhurana, @eliserichards, @brennie

chore(nimbus): Update External Configs (#9630)
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
Owners: @jaredlockhart, @yashikakhurana, @eliserichards, @brennie

chore(nimbus): Update External Configs (#9630)
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
Owners: @jaredlockhart, @yashikakhurana, @eliserichards, @brennie

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @eliserichards, @brennie

chore(nimbus): Update External Configs (#9631)
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @eliserichards, @brennie

chore(nimbus): Update External Configs (#9631)
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @eliserichards, @brennie

chore(nimbus): Update External Configs (#9631)
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @eliserichards, @brennie

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @eliserichards, @brennie

chore(nimbus): Update External Configs (#9632)
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @eliserichards, @brennie

chore(nimbus): Update External Configs (#9632)
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @eliserichards, @brennie

chore(nimbus): Update External Configs (#9632)
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @eliserichards, @brennie

fix #9609 fix(cirrus): Remove dockerchanges
  cirrus/server/Dockerfile
Owners: @jaredlockhart, @yashikakhurana, @jeddai

fix #9609 fix(cirrus): Remove dockerchanges
  cirrus/server/Dockerfile
  docker-compose-test.yml
  docker-compose.yml
Owners: @jaredlockhart, @yashikakhurana, @jeddai

fix #9609 fix(cirrus): Remove dockerchanges
  docker-compose-test.yml
Owners: none

fix #9271 chore(project): dockerize schemas
  .circleci/config.yml
  Makefile
  schemas/.dockerignore
  schemas/Dockerfile
  schemas/VERSION
  schemas/package.json
  schemas/pyproject.toml
Owners: @jaredlockhart, @mikewilli

fix #9633 feat(project): push docker images to gcr
  .circleci/config.yml
Owners: none

fix #9633 feat(project): push docker images to gcr (#9634)
  .circleci/config.yml
Owners: none

fix #9633 feat(project): push docker images to gcr (#9634)
  .circleci/config.yml
Owners: none

fix #9633 feat(project): push docker images to gcr (#9634)
  .circleci/config.yml
Owners: none

remove poetry run
  Makefile
Owners: none

remove postgres
  schemas/Dockerfile
Owners: @jaredlockhart, @mikewilli

fix #9271 chore(project): dockerize schemas (#9616)
  .circleci/config.yml
  Makefile
  schemas/.dockerignore
  schemas/Dockerfile
  schemas/VERSION
  schemas/package.json
  schemas/pyproject.toml
Owners: @jaredlockhart, @mikewilli

fix #9271 chore(project): dockerize schemas (#9616)
  .circleci/config.yml
  Makefile
  schemas/.dockerignore
  schemas/Dockerfile
  schemas/VERSION
  schemas/package.json
  schemas/pyproject.toml
Owners: @jaredlockhart, @mikewilli

fix #9271 chore(project): dockerize schemas (#9616)
  .circleci/config.yml
  Makefile
  schemas/.dockerignore
  schemas/Dockerfile
  schemas/VERSION
  schemas/package.json
  schemas/pyproject.toml
Owners: @jaredlockhart, @mikewilli

.github/CODEOWNERS:

cirrus/ @jaredlockhart @yashikakhurana @jeddai
experimenter/experimenter/ @jaredlockhart @yashikakhurana @eliserichards @brennie
experimenter/manifesttool/ @jaredlockhart @brennie
schemas/ @jaredlockhart @mikewilli
experimenter/tests @jrbenny35
