Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

chore(nimbus): Update External Configs (#12441)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12441)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(tests): Update integration tests to use built in telemetry tools.
  docker-compose-integration-test.yml
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/pages/base.py
  experimenter/tests/integration/nimbus/pages/experimenter/base.py
  experimenter/tests/integration/nimbus/test_desktop_client_integrations.py
Owners: @b4handjr

chore(nimbus): Update External Configs (#12446)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12446)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12446)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(tests): Update integration tests to use built in telemetry tools. (#12449)
  docker-compose-integration-test.yml
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/pages/base.py
  experimenter/tests/integration/nimbus/pages/experimenter/base.py
  experimenter/tests/integration/nimbus/test_desktop_client_integrations.py
Owners: @b4handjr

chore(tests): Update integration tests to use built in telemetry tools. (#12449)
  docker-compose-integration-test.yml
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/pages/base.py
  experimenter/tests/integration/nimbus/pages/experimenter/base.py
  experimenter/tests/integration/nimbus/test_desktop_client_integrations.py
Owners: @b4handjr

chore(tests): Update integration tests to use built in telemetry tools. (#12449)
  docker-compose-integration-test.yml
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/pages/base.py
  experimenter/tests/integration/nimbus/pages/experimenter/base.py
  experimenter/tests/integration/nimbus/test_desktop_client_integrations.py
Owners: @b4handjr

chore(project): Remove circleci firefox docker builds and update test steps in Makefile. (#12438)
  .circleci/config.yml
  Makefile
  README.md
  docker-compose-integration-test.yml
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/nimbus_integration_tests.sh
Owners: @b4handjr

chore(project): Remove circleci firefox docker builds and update test steps in Makefile. (#12438)
  .circleci/config.yml
  Makefile
  README.md
  docker-compose-integration-test.yml
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/nimbus_integration_tests.sh
Owners: @b4handjr

chore(project): Remove circleci firefox docker builds and update test steps in Makefile. (#12438)
  .circleci/config.yml
  Makefile
  README.md
  docker-compose-integration-test.yml
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/nimbus_integration_tests.sh
Owners: @b4handjr

feat(nimbus): add version 138.0b3 to version list
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(tests): Add chown command to fix integration tests docker permission error.
  docker-compose-integration-test.yml
  experimenter/tests/nimbus_integration_tests.sh
Owners: @b4handjr

feat(nimbus): Add 138b3 to version list
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(tests): Add chown command to fix integration tests docker permission error. (#12460)
  docker-compose-integration-test.yml
  experimenter/tests/nimbus_integration_tests.sh
Owners: @b4handjr

chore(tests): Add chown command to fix integration tests docker permission error. (#12460)
  docker-compose-integration-test.yml
  experimenter/tests/nimbus_integration_tests.sh
Owners: @b4handjr

chore(tests): Add chown command to fix integration tests docker permission error. (#12460)
  docker-compose-integration-test.yml
  experimenter/tests/nimbus_integration_tests.sh
Owners: @b4handjr

feat(nimbus): Add 138b3 to version list (#12462)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add 138b3 to version list (#12462)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add 138b3 to version list (#12462)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12447)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12447)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12447)
  application-services/application-services.env
Owners: none

feat(nimbus): Specify a User-Agent when fetching manifests
  experimenter/manifesttool/download.py
  experimenter/manifesttool/github_api.py
  experimenter/manifesttool/hgmo_api.py
  experimenter/manifesttool/http.py
Owners: @jaredlockhart, @freshstrangemusic

feat(nimbus): Specify a User-Agent when fetching manifests (#12465)
  experimenter/manifesttool/download.py
  experimenter/manifesttool/github_api.py
  experimenter/manifesttool/hgmo_api.py
  experimenter/manifesttool/http.py
Owners: @jaredlockhart, @freshstrangemusic

feat(nimbus): Specify a User-Agent when fetching manifests (#12465)
  experimenter/manifesttool/download.py
  experimenter/manifesttool/github_api.py
  experimenter/manifesttool/hgmo_api.py
  experimenter/manifesttool/http.py
Owners: @jaredlockhart, @freshstrangemusic

feat(nimbus): Specify a User-Agent when fetching manifests (#12465)
  experimenter/manifesttool/download.py
  experimenter/manifesttool/github_api.py
  experimenter/manifesttool/hgmo_api.py
  experimenter/manifesttool/http.py
Owners: @jaredlockhart, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/webcompat.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12457)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/webcompat.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12457)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/webcompat.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12457)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v137.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v139.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v138.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/webcompat.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(ci): Remove docker login from fenix builder job.
  .circleci/config.yml
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v139.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(ci): Remove docker login from fenix builder job. (#12466)
  .circleci/config.yml
Owners: none
