Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Fenix Beta
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

bug(nimbus): handle bucketsample targeting strings
  experimenter/experimenter/experiments/jexl_utils.py
  experimenter/experimenter/experiments/tests/test_jexl_utils.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix exposures being defaulted to for experiments w/o that data
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix dbz errors on results page
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): handle bucketsample targeting strings (#14434)
  experimenter/experimenter/experiments/jexl_utils.py
  experimenter/experimenter/experiments/tests/test_jexl_utils.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): handle bucketsample targeting strings (#14434)
  experimenter/experimenter/experiments/jexl_utils.py
  experimenter/experimenter/experiments/tests/test_jexl_utils.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): handle bucketsample targeting strings (#14434)
  experimenter/experimenter/experiments/jexl_utils.py
  experimenter/experimenter/experiments/tests/test_jexl_utils.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add targeting for Windows 11 only
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

lint
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): require min 148+ for ai experiments
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add targeting for Windows 11 only (#14441)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add targeting for Windows 11 only (#14441)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add targeting for Windows 11 only (#14441)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): require min 148+ for ai experiments (#14437)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): require min 148+ for ai experiments (#14437)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): require min 148+ for ai experiments (#14437)
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix custom metrics being grouped under None
  experimenter/experimenter/jetstream/results_manager.py
  experimenter/experimenter/jetstream/tests/test_results_manager.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(cirrus): Add type hints for SDK.compute_enrollments
  cirrus/server/Dockerfile
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/sdk.py
  cirrus/server/poetry.lock
  cirrus/server/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @jeddai

fix(nimbus): fix dbz errors on results page (#14439)
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix dbz errors on results page (#14439)
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix dbz errors on results page (#14439)
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for VPN Early Access
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

feat(nimbus): Add advanced targeting for VPN Early Access (#14445)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for VPN Early Access (#14445)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for VPN Early Access (#14445)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.1/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.1/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.4.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): consistent table widths on detail page
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_signoff.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/qa_container_content.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/signoff_card.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix null window access for older experiments
  experimenter/experimenter/jetstream/results_manager.py
  experimenter/experimenter/jetstream/tests/test_results_manager.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(cirrus): Add type hints for SDK.compute_enrollments (#14361)
  cirrus/server/Dockerfile
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/sdk.py
  cirrus/server/poetry.lock
  cirrus/server/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @jeddai

feat(cirrus): Add type hints for SDK.compute_enrollments (#14361)
  cirrus/server/Dockerfile
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/sdk.py
  cirrus/server/poetry.lock
  cirrus/server/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @jeddai

feat(cirrus): Add type hints for SDK.compute_enrollments (#14361)
  cirrus/server/Dockerfile
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/sdk.py
  cirrus/server/poetry.lock
  cirrus/server/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @jeddai

fix(nimbus): fix null window access for older experiments (#14448)
  experimenter/experimenter/jetstream/results_manager.py
  experimenter/experimenter/jetstream/tests/test_results_manager.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix null window access for older experiments (#14448)
  experimenter/experimenter/jetstream/results_manager.py
  experimenter/experimenter/jetstream/tests/test_results_manager.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix null window access for older experiments (#14448)
  experimenter/experimenter/jetstream/results_manager.py
  experimenter/experimenter/jetstream/tests/test_results_manager.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): use readonly json for labs fields
  experimenter/experimenter/nimbus_ui/templates/common/readonly_json.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_firefox_labs.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_localizations.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Manage alerts model
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/migrations/0317_nimbusalert.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
