Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

chore(nimbus): Update application-services (#13006)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13006)
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions (#13011)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13011)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13011)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

feat(nimbus): Show branch pages error
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): remove
  experimenter/experimenter/nimbus_ui_new/forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Test cases
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Maintain the error on creation and deletion
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_branches.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Maintain the error on creation and deletion
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_branches.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add firefox labs to branches page
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): use codemirror for localizations
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/static/js/edit_branches.js
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Maintain the error on creation and deletion
  experimenter/experimenter/nimbus_ui_new/forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): show screenshots error per row
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13019)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13019)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13019)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update application-services (#13018)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13018)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13018)
  application-services/application-services.env
Owners: none

chore(tests): Update client integration tests to work on the new UI.
  .circleci/config.yml
  Makefile
  docker-compose-integration-test.yml
  experimenter/experimenter/nimbus_ui_new/templates/common/sidebar_link.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/approval_rejection_controls.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/takeaways_card.html
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/pages/base.py
  experimenter/tests/integration/nimbus/pages/experimenter/audience.py
  experimenter/tests/integration/nimbus/pages/experimenter/base.py
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
  experimenter/tests/integration/nimbus/test_cirrus_integration.py
  experimenter/tests/integration/nimbus/test_remote_settings.py
  experimenter/tests/integration/nimbus/utils/helpers.py
  experimenter/tests/nimbus_integration_tests.sh
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13017)
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13017)
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13017)
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(experimenter): integrate with cirrus
  .env.sample
  docker-compose.yml
  docs/experimenter/openapi-schema.json
  docs/experimenter/swagger-ui.html
  experimenter/experimenter/cirrus/__init__.py
  experimenter/experimenter/cirrus/context_processors.py
  experimenter/experimenter/cirrus/middleware.py
  experimenter/experimenter/cirrus/tests/__init__.py
  experimenter/experimenter/cirrus/tests/test_middleware.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0286_alter_nimbusexperiment_application_and_more.py
  experimenter/experimenter/features/manifests/experimenter/dev.fml.yaml
  experimenter/experimenter/features/manifests/experimenter/nimbus.fml.yaml
  experimenter/experimenter/glean/__init__.py
  experimenter/experimenter/glean/middleware.py
  experimenter/experimenter/glean/tests/__init__.py
  experimenter/experimenter/glean/tests/test_middleware.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/types/globalTypes.ts
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/list.html
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
  experimenter/experimenter/settings.py
  experimenter/experimenter/telemetry/metrics.yaml
  experimenter/experimenter/telemetry/pings.yaml
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Updates from review.
  .circleci/config.yml
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
  experimenter/tests/integration/nimbus/test_remote_settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

Try backing down kinto request frequency
  experimenter/tests/integration/nimbus/kinto/client.py
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13022)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13022)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13022)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

Update base.py page.
  experimenter/tests/integration/nimbus/pages/base.py
Owners: @b4handjr

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.27.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.27.0/schemas/browser/components/newtab/content-src/asrouter/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.27.0/schemas/browser/components/newtab/content-src/asrouter/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.27.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.14.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v128.14.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.14.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.14.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v128.14.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/developer.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic
