Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

chore(nimbus): Update Firefox iOS (Fennec) Release
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.33.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.33.0/schemas/browser/components/newtab/content-src/asrouter/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.33.0/schemas/browser/components/newtab/content-src/asrouter/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.33.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.8.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.8.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.8.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.8.0/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.8.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.8.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v149.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v149.0.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v149.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v149.0.0/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v149.0.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v149.0.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.0/developer.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): update Firefox Suggest advanced targeting (#14320)
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): update Firefox Suggest advanced targeting (#14320)
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): update Firefox Suggest advanced targeting (#14320)
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(cirrus): always make nimbus_nimbus_user_id a string
  cirrus/server/cirrus/sdk.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

bug(cirrus): always make nimbus_nimbus_user_id a string (#14326)
  cirrus/server/cirrus/sdk.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

bug(cirrus): always make nimbus_nimbus_user_id a string (#14326)
  cirrus/server/cirrus/sdk.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

bug(cirrus): always make nimbus_nimbus_user_id a string (#14326)
  cirrus/server/cirrus/sdk.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(nimbus): remove focus/klar
  docs/experimenter/openapi-schema.json
  docs/experimenter/swagger-ui.html
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0311_alter_nimbusexperiment_application_and_more.py
  experimenter/experimenter/experiments/tests/api/v5/test_queries.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/api/v6/test_views.py
  experimenter/experimenter/experiments/tests/api/v7/test_views.py
  experimenter/experimenter/experiments/tests/api/v8/test_views.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/features/manifests/apps.yaml
  experimenter/experimenter/kinto/tests/test_tasks.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/lib/constants.ts
  experimenter/experimenter/results/src/types/globalTypes.ts
  experimenter/experimenter/targeting/constants.py
  experimenter/manifesttool/tests/test_version.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add copy button to readonly json
  experimenter/experimenter/nimbus_ui/static/js/codemirror_utils.js
  experimenter/experimenter/nimbus_ui/templates/common/readonly_json.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_localizations.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add copy button to readonly json (#14330)
  experimenter/experimenter/nimbus_ui/static/js/codemirror_utils.js
  experimenter/experimenter/nimbus_ui/templates/common/readonly_json.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_localizations.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add copy button to readonly json (#14330)
  experimenter/experimenter/nimbus_ui/static/js/codemirror_utils.js
  experimenter/experimenter/nimbus_ui/templates/common/readonly_json.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_localizations.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add copy button to readonly json (#14330)
  experimenter/experimenter/nimbus_ui/static/js/codemirror_utils.js
  experimenter/experimenter/nimbus_ui/templates/common/readonly_json.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_card_localizations.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Bug 2009357 - Fixing terms of use targeting with installed addons
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v149.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Fenix Beta
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.1/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.1/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.1/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.1/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.1/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.1/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.1/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.2.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): remove focus/klar (#14328)
  docs/experimenter/openapi-schema.json
  docs/experimenter/swagger-ui.html
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0311_alter_nimbusexperiment_application_and_more.py
  experimenter/experimenter/experiments/tests/api/v5/test_queries.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/api/v6/test_views.py
  experimenter/experimenter/experiments/tests/api/v7/test_views.py
  experimenter/experimenter/experiments/tests/api/v8/test_views.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/features/manifests/apps.yaml
  experimenter/experimenter/kinto/tests/test_tasks.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/lib/constants.ts
  experimenter/experimenter/results/src/types/globalTypes.ts
  experimenter/experimenter/targeting/constants.py
  experimenter/manifesttool/tests/test_version.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): remove focus/klar (#14328)
  docs/experimenter/openapi-schema.json
  docs/experimenter/swagger-ui.html
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0311_alter_nimbusexperiment_application_and_more.py
  experimenter/experimenter/experiments/tests/api/v5/test_queries.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/api/v6/test_views.py
  experimenter/experimenter/experiments/tests/api/v7/test_views.py
  experimenter/experimenter/experiments/tests/api/v8/test_views.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/features/manifests/apps.yaml
  experimenter/experimenter/kinto/tests/test_tasks.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/lib/constants.ts
  experimenter/experimenter/results/src/types/globalTypes.ts
  experimenter/experimenter/targeting/constants.py
  experimenter/manifesttool/tests/test_version.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): remove focus/klar (#14328)
  docs/experimenter/openapi-schema.json
  docs/experimenter/swagger-ui.html
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0311_alter_nimbusexperiment_application_and_more.py
  experimenter/experimenter/experiments/tests/api/v5/test_queries.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/api/v6/test_views.py
  experimenter/experimenter/experiments/tests/api/v7/test_views.py
  experimenter/experimenter/experiments/tests/api/v8/test_views.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/features/manifests/apps.yaml
  experimenter/experimenter/kinto/tests/test_tasks.py
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/lib/constants.ts
  experimenter/experimenter/results/src/types/globalTypes.ts
  experimenter/experimenter/targeting/constants.py
  experimenter/manifesttool/tests/test_version.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): display when secure collection reviewers required
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/approval_rejection_controls.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): display when secure collection reviewers required (#14342)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/approval_rejection_controls.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): display when secure collection reviewers required (#14342)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/approval_rejection_controls.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): display when secure collection reviewers required (#14342)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/approval_rejection_controls.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add export metric areas feature
  experimenter/experimenter/nimbus_ui/static/js/results_data_actions.js
  experimenter/experimenter/nimbus_ui/static/webpack.config.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): delete focus/klar experiments/features/isolation groups
  experimenter/experimenter/experiments/migrations/0312_delete_focus_klar_features.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): delete focus/klar experiments/features/isolation groups (#14345)
  experimenter/experimenter/experiments/migrations/0312_delete_focus_klar_features.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): delete focus/klar experiments/features/isolation groups (#14345)
  experimenter/experimenter/experiments/migrations/0312_delete_focus_klar_features.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): delete focus/klar experiments/features/isolation groups (#14345)
  experimenter/experimenter/experiments/migrations/0312_delete_focus_klar_features.py
  experimenter/experimenter/experiments/tests/test_migrations.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): update to live to complete to support paused
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Bug 2009357 - Fixing terms of use targeting with installed addons (#14327)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Bug 2009357 - Fixing terms of use targeting with installed addons (#14327)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Bug 2009357 - Fixing terms of use targeting with installed addons (#14327)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): update to live to complete to support paused (#14347)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): update to live to complete to support paused (#14347)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): update to live to complete to support paused (#14347)
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic
