Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @brennie, @mikewilli, @jrbenny35

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11187)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11187)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#11187)
  application-services/application-services.env
Owners: none

chore(nimbus): Update fenix apks for testing
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing (#11189)
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing (#11189)
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing (#11189)
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v129.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.2.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11190)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v129.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.2.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11190)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v129.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.2.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11190)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v129.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.2.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(ci): Add proper branch filtering for recipe generator. (#11188)
  .circleci/config.yml
Owners: none

chore(ci): Add proper branch filtering for recipe generator. (#11188)
  .circleci/config.yml
Owners: none

chore(ci): Add proper branch filtering for recipe generator. (#11188)
  .circleci/config.yml
Owners: none

chore(nimbus): Update fenix apks for testing
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing (#11191)
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing (#11191)
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(nimbus): Update fenix apks for testing (#11191)
  experimenter/tests/integration/nimbus/android/fenix-build.env
Owners: @jrbenny35

chore(project): switch to STORAGES setting for storage providers
  .env.integration-tests
  .env.sample
  .env.test
  experimenter/experimenter/base/__init__.py
  experimenter/experimenter/base/tests/test_base.py
  experimenter/experimenter/experiments/migrations/0185_nimbusbranchscreenshot.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/jetstream/tests/test_tasks.py
  experimenter/experimenter/settings.py
  experimenter/experimenter/settings_test.py
  experimenter/pytest.ini
Owners: @jaredlockhart, @yashikakhurana, @brennie

use is instead of == for type comparisons
  schemas/mozilla_nimbus_schemas/tests/jetstream/test_analysis_errors.py
  schemas/mozilla_nimbus_schemas/tests/jetstream/test_statistics.py
Owners: @jaredlockhart, @mikewilli

chore(project): switch to STORAGES setting for storage providers (#11193)
  .env.integration-tests
  .env.sample
  .env.test
  experimenter/experimenter/base/__init__.py
  experimenter/experimenter/base/tests/test_base.py
  experimenter/experimenter/experiments/migrations/0185_nimbusbranchscreenshot.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/jetstream/tests/test_tasks.py
  experimenter/experimenter/settings.py
  experimenter/experimenter/settings_test.py
  experimenter/pytest.ini
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(project): switch to STORAGES setting for storage providers (#11193)
  .env.integration-tests
  .env.sample
  .env.test
  experimenter/experimenter/base/__init__.py
  experimenter/experimenter/base/tests/test_base.py
  experimenter/experimenter/experiments/migrations/0185_nimbusbranchscreenshot.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/jetstream/tests/test_tasks.py
  experimenter/experimenter/settings.py
  experimenter/experimenter/settings_test.py
  experimenter/pytest.ini
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(project): switch to STORAGES setting for storage providers (#11193)
  .env.integration-tests
  .env.sample
  .env.test
  experimenter/experimenter/base/__init__.py
  experimenter/experimenter/base/tests/test_base.py
  experimenter/experimenter/experiments/migrations/0185_nimbusbranchscreenshot.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/jetstream/tests/test_tasks.py
  experimenter/experimenter/settings.py
  experimenter/experimenter/settings_test.py
  experimenter/pytest.ini
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v129.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v129.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11202)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v129.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v129.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11202)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v129.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v129.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11202)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v129.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v129.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v131.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v129.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v129.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v129.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v129.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(ci): Add file path check to mobile recipe generator job.
  .circleci/config.yml
Owners: none

chore(ci): Add file path check to mobile recipe generator job. (#11203)
  .circleci/config.yml
Owners: none

chore(ci): Add file path check to mobile recipe generator job. (#11203)
  .circleci/config.yml
Owners: none

chore(ci): Add file path check to mobile recipe generator job. (#11203)
  .circleci/config.yml
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

replace == with is for type comparison
  experimenter/tests/integration/nimbus/jexl/__init__.py
Owners: @jrbenny35

chore(nimbus): Update External Configs (#11204)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11204)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11204)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v130.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

chore(nimbus): Update External Configs (#11206)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v130.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @brennie

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @brennie
/experimenter/manifesttool/ @jaredlockhart @brennie
/schemas/ @jaredlockhart @mikewilli
/experimenter/tests @jrbenny35
