Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

feat(nimbus): Add targeting for iOS users based on Terms of Use experience points
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.31.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v115.31.0/schemas/browser/components/newtab/content-src/asrouter/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.31.0/schemas/browser/components/newtab/content-src/asrouter/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v115.31.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.6.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.6.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.6.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.6.0/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.6.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v140.6.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v146.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.0/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.0/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.0/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.0/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add targeting for iOS users based on Terms of Use experience points (#13928)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): Add targeting for iOS users based on Terms of Use experience points (#13928)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): Add targeting for iOS users based on Terms of Use experience points (#13928)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

Update constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Ran make format
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add targeting for non-enterprise on Mac, Linux, and Win11+
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add unsubscribe button to feature health page.
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/feature_subscribe_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Fix sizing of icon and switch to using pk for subscriptions.
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/feature_subscribe_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Cleanups.
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Run formatter
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Switch to new constants contextprocessor.
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/feature_subscribe_button.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add unsubscribe button to feature health page. (#13880)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/feature_subscribe_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add unsubscribe button to feature health page. (#13880)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/feature_subscribe_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add unsubscribe button to feature health page. (#13880)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/feature_subscribe_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): fix version filtering on list page
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): style bootstrap-select disabled consistently
  experimenter/experimenter/nimbus_ui/static/css/style.scss
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add targeting for non-enterprise on Mac, Linux, and Win11+ (#13935)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add targeting for non-enterprise on Mac, Linux, and Win11+ (#13935)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add targeting for non-enterprise on Mac, Linux, and Win11+ (#13935)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): style bootstrap-select disabled consistently (#13933)
  experimenter/experimenter/nimbus_ui/static/css/style.scss
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): style bootstrap-select disabled consistently (#13933)
  experimenter/experimenter/nimbus_ui/static/css/style.scss
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): style bootstrap-select disabled consistently (#13933)
  experimenter/experimenter/nimbus_ui/static/css/style.scss
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): sort versions semantically
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): sort versions semantically (#13936)
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): sort versions semantically (#13936)
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): sort versions semantically (#13936)
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): fix version filtering on list page (#13931)
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): fix version filtering on list page (#13931)
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): fix version filtering on list page (#13931)
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add subscribed feature experiments to home view.
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Updates from review.
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Updates from review.
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add subscribed feature experiments to home view.
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

feat(nimbus): Add feature subscribers to email list of experiment using subscribed feature.
  experimenter/experimenter/experiments/email.py
  experimenter/experimenter/experiments/tests/test_email.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add feature subscribers to email list of experiment using subscribed feature.
  experimenter/experimenter/experiments/email.py
  experimenter/experimenter/experiments/tests/test_email.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add other to documentation link types
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0301_alter_nimbusdocumentationlink_title.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add changelog for jetstream fetch
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/jetstream/tasks.py
  experimenter/experimenter/jetstream/tests/test_tasks.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
