Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

chore(nimbus): Update Firefox Versions (#13130)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13130)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13130)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services (#13128)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13128)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13128)
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs (#13132)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13132)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13132)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.2.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v141.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.2.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13137)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.2.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v141.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.2.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13137)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.2.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v141.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.2.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13137)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v141.2.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v141.2.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.2.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.2.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.2.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Home page welcome banner (#13117)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/static/assets/welcome.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Home page welcome banner (#13117)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/static/assets/welcome.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Home page welcome banner (#13117)
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/static/assets/welcome.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): always show end experiment button for live experiments
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): always show end experiment button for live experiments (#13138)
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): always show end experiment button for live experiments (#13138)
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): always show end experiment button for live experiments (#13138)
  experimenter/experimenter/experiments/models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Draft/Preview home page experiments
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/static/assets/empty-draft.svg
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Draft/Preview home page experiments
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13139)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13139)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13139)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add ids
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13146)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13146)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#13146)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services (#13144)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13144)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#13144)
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs (#13145)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#13145)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v143.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v142.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic
