Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

chore(nimbus): Update External Configs (#12973)
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12973)
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v142.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feature(nimbus): add codemirror editor to new nimbus ui (#12967)
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui_new/static/js/validator.js
  experimenter/experimenter/nimbus_ui_new/static/package.json
  experimenter/experimenter/nimbus_ui_new/static/webpack.config.js
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_branches.html
  experimenter/yarn.lock
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feature(nimbus): add codemirror editor to new nimbus ui (#12967)
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui_new/static/js/validator.js
  experimenter/experimenter/nimbus_ui_new/static/package.json
  experimenter/experimenter/nimbus_ui_new/static/webpack.config.js
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_branches.html
  experimenter/yarn.lock
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feature(nimbus): add codemirror editor to new nimbus ui (#12967)
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui_new/static/js/validator.js
  experimenter/experimenter/nimbus_ui_new/static/package.json
  experimenter/experimenter/nimbus_ui_new/static/webpack.config.js
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_branches.html
  experimenter/yarn.lock
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Create default branches on experiment creation (#12964)
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Create default branches on experiment creation (#12964)
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Create default branches on experiment creation (#12964)
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add advanced targeting for desktop users with 0 pinned tabs (#12960)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add advanced targeting for desktop users with 0 pinned tabs (#12960)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Add advanced targeting for desktop users with 0 pinned tabs (#12960)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(experimenter): integrate with cirrus
  experimenter/experimenter/cirrus/__init__.py
  experimenter/experimenter/cirrus/middleware.py
  experimenter/experimenter/cirrus/tests/__init__.py
  experimenter/experimenter/cirrus/tests/test_middleware.py
  experimenter/experimenter/glean/__init__.py
  experimenter/experimenter/glean/middleware.py
  experimenter/experimenter/glean/tests/__init__.py
  experimenter/experimenter/glean/tests/test_middleware.py
  experimenter/experimenter/results/templates/nimbus/index.html
  experimenter/experimenter/settings.py
  experimenter/experimenter/telemetry/metrics.yaml
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Updates advanced targeting - WNN Sidebar Vertical Tabs Rollout
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Show sticky is required message
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Show sticky is required message
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

remove extra parens and unncessary parens
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Validate serializer
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions (#12985)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12985)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12985)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs (#12986)
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12986)
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12986)
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.0/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): update stage link
  README.md
Owners: none

feat(nimbus): save whole branch form on branch/screenshot change
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): update stage link (#12991)
  README.md
Owners: none

chore(nimbus): update stage link (#12991)
  README.md
Owners: none

chore(nimbus): update stage link (#12991)
  README.md
Owners: none

feat(nimbus): Use validation mixin
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12998)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12998)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12998)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

feat(nimbus): Support multi-feature publishing to alternate collections
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Updates advanced targeting - WNN Sidebar Vertical Tabs Rollout V3 (#12982)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
