Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

fix(nimbus): get other_metrics from both enrollments and exposures (#12758)
  experimenter/experimenter/jetstream/client.py
  experimenter/experimenter/jetstream/tests/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): get other_metrics from both enrollments and exposures (#12758)
  experimenter/experimenter/jetstream/client.py
  experimenter/experimenter/jetstream/tests/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add 139.0.4
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add 139.0.4 (#12762)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add 139.0.4 (#12762)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add 139.0.4 (#12762)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/nimbus-ui/schema.graphql
  experimenter/experimenter/nimbus-ui/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12763)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12763)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12763)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

Fix case issue and add profile age min to TOU targeting expression
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Show rollout exists warning
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/constants.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/release.fml.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Show rollout exists warning
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Show Rollout already exists warning (#12769)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Show Rollout already exists warning (#12769)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Show Rollout already exists warning (#12769)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12768)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/release.fml.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12768)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/release.fml.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12768)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v139.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v139.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v139.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/release.fml.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Fix case issue and add minimum profile age to TOU targeting expression (#12767)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Fix case issue and add minimum profile age to TOU targeting expression (#12767)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Fix case issue and add minimum profile age to TOU targeting expression (#12767)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions (#12765)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12765)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12765)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12772)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12772)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12772)
  application-services/application-services.env
Owners: none

feat(nimbus): Add klaatu status to experiment model.
  experimenter/experimenter/experiments/migrations/0284_nimbusexperiment_klaatu_status.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add klaatu status to experiment model. (#12774)
  experimenter/experimenter/experiments/migrations/0284_nimbusexperiment_klaatu_status.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add klaatu status to experiment model. (#12774)
  experimenter/experimenter/experiments/migrations/0284_nimbusexperiment_klaatu_status.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add klaatu status to experiment model. (#12774)
  experimenter/experimenter/experiments/migrations/0284_nimbusexperiment_klaatu_status.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v141.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v141.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v140.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v141.0.0/release.fml.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions (#12773)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12773)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12773)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr
