Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

feat(nimbus): Improve filters type (#13335)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Improve filters type (#13335)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v144.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v143.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v143.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v143.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feature(nimbus): Add features page base template and routing. (#13317)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feature(nimbus): Add features page base template and routing. (#13317)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feature(nimbus): Add features page base template and routing. (#13317)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feature(nimbus): Add feature page callout and title.
  experimenter/experimenter/nimbus_ui/constants.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v144.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): lint and format experimenter/manifesttool/
  Makefile
  experimenter/manifesttool/appconfig.py
  experimenter/manifesttool/cli.py
  experimenter/manifesttool/fetch.py
  experimenter/manifesttool/github_api.py
  experimenter/manifesttool/releases.py
  experimenter/manifesttool/repository.py
  experimenter/manifesttool/tests/test_cli.py
  experimenter/manifesttool/tests/test_exception_utils.py
  experimenter/manifesttool/tests/test_github_api.py
  experimenter/manifesttool/tests/test_repository.py
  experimenter/manifesttool/tests/test_version.py
  experimenter/manifesttool/version.py
Owners: @jaredlockhart, @freshstrangemusic

bug(nimbus): remove published_dto when moving back to draft
  experimenter/experimenter/experiments/migrations/0290_draft_published_dto_to_none.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): lint and format experimenter/manifesttool/ (#13345)
  Makefile
  experimenter/manifesttool/appconfig.py
  experimenter/manifesttool/cli.py
  experimenter/manifesttool/fetch.py
  experimenter/manifesttool/github_api.py
  experimenter/manifesttool/releases.py
  experimenter/manifesttool/repository.py
  experimenter/manifesttool/tests/test_cli.py
  experimenter/manifesttool/tests/test_exception_utils.py
  experimenter/manifesttool/tests/test_github_api.py
  experimenter/manifesttool/tests/test_repository.py
  experimenter/manifesttool/tests/test_version.py
  experimenter/manifesttool/version.py
Owners: @jaredlockhart, @freshstrangemusic

chore(nimbus): lint and format experimenter/manifesttool/ (#13345)
  Makefile
  experimenter/manifesttool/appconfig.py
  experimenter/manifesttool/cli.py
  experimenter/manifesttool/fetch.py
  experimenter/manifesttool/github_api.py
  experimenter/manifesttool/releases.py
  experimenter/manifesttool/repository.py
  experimenter/manifesttool/tests/test_cli.py
  experimenter/manifesttool/tests/test_exception_utils.py
  experimenter/manifesttool/tests/test_github_api.py
  experimenter/manifesttool/tests/test_repository.py
  experimenter/manifesttool/tests/test_version.py
  experimenter/manifesttool/version.py
Owners: @jaredlockhart, @freshstrangemusic

chore(nimbus): lint and format experimenter/manifesttool/ (#13345)
  Makefile
  experimenter/manifesttool/appconfig.py
  experimenter/manifesttool/cli.py
  experimenter/manifesttool/fetch.py
  experimenter/manifesttool/github_api.py
  experimenter/manifesttool/releases.py
  experimenter/manifesttool/repository.py
  experimenter/manifesttool/tests/test_cli.py
  experimenter/manifesttool/tests/test_exception_utils.py
  experimenter/manifesttool/tests/test_github_api.py
  experimenter/manifesttool/tests/test_repository.py
  experimenter/manifesttool/tests/test_version.py
  experimenter/manifesttool/version.py
Owners: @jaredlockhart, @freshstrangemusic

bug(nimbus): remove published_dto when moving back to draft (#13347)
  experimenter/experimenter/experiments/migrations/0290_draft_published_dto_to_none.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): remove published_dto when moving back to draft (#13347)
  experimenter/experimenter/experiments/migrations/0290_draft_published_dto_to_none.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): remove published_dto when moving back to draft (#13347)
  experimenter/experimenter/experiments/migrations/0290_draft_published_dto_to_none.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Enable Firefox Labs Productivity Group on 143b3
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Enable Firefox Labs Productivity Group on 143b3 (#13349)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Enable Firefox Labs Productivity Group on 143b3 (#13349)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Enable Firefox Labs Productivity Group on 143b3 (#13349)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(cirrus): fix remote settings retry logic
  .env.sample
  cirrus/README.md
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/settings.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v143.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v143.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v143.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v143.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add version 143b4
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add channels to audience form for desktop
  experimenter/experimenter/experiments/api/v5/inputs.py
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0291_desktop_channel_to_channels.py
  experimenter/experimenter/experiments/tests/api/v5/test_mutations.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_experiment_serializer.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/static/css/style.scss
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/pages/experimenter/audience.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

Apply suggestions from code review
  cirrus/README.md
Owners: @jaredlockhart, @yashikakhurana, @jeddai

Fix typos
  .env.sample
  cirrus/README.md
  cirrus/server/cirrus/settings.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

bug(cirrus): fix remote settings retry logic (#13352)
  .env.sample
  cirrus/README.md
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/settings.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

bug(cirrus): fix remote settings retry logic (#13352)
  .env.sample
  cirrus/README.md
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/settings.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

bug(cirrus): fix remote settings retry logic (#13352)
  .env.sample
  cirrus/README.md
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/settings.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

feat(nimbus): add channels to audience form for desktop (#13316)
  experimenter/experimenter/experiments/api/v5/inputs.py
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0291_desktop_channel_to_channels.py
  experimenter/experimenter/experiments/tests/api/v5/test_mutations.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_experiment_serializer.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/static/css/style.scss
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/pages/experimenter/audience.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): add channels to audience form for desktop (#13316)
  experimenter/experimenter/experiments/api/v5/inputs.py
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0291_desktop_channel_to_channels.py
  experimenter/experimenter/experiments/tests/api/v5/test_mutations.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_experiment_serializer.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/static/css/style.scss
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/pages/experimenter/audience.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): add channels to audience form for desktop (#13316)
  experimenter/experimenter/experiments/api/v5/inputs.py
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0291_desktop_channel_to_channels.py
  experimenter/experimenter/experiments/tests/api/v5/test_mutations.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_experiment_serializer.py
  experimenter/experimenter/experiments/tests/api/v5/test_serializers/test_nimbus_ready_for_review_serializer.py
  experimenter/experimenter/experiments/tests/test_migrations.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/static/css/style.scss
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/pages/experimenter/audience.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

chore(cirrus): add jitter to remote settings sync time
  .env.sample
  cirrus/README.md
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/settings.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(nimbus): add version 143b4 (#13355)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add version 143b4 (#13355)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): add version 143b4 (#13355)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/results/schema.graphql
  experimenter/experimenter/results/src/types/globalTypes.ts
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Sync Firefox Desktop manifest from mozilla-firefox repository
  experimenter/experimenter/features/manifests/apps.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/manifesttool/appconfig.py
  experimenter/manifesttool/cli.py
  experimenter/manifesttool/fetch.py
  experimenter/manifesttool/hgmo_api.py
  experimenter/manifesttool/nimbus_cli.py
  experimenter/manifesttool/releases.py
  experimenter/manifesttool/tests/test_appconfig.py
  experimenter/manifesttool/tests/test_fetch.py
  experimenter/manifesttool/tests/test_hgmo_api.py
  experimenter/manifesttool/tests/test_releases.py
  experimenter/manifesttool/tests/test_version.py
  experimenter/manifesttool/version.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(cirrus): add jitter to remote settings sync time (#13346)
  .env.sample
  cirrus/README.md
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/settings.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus): add jitter to remote settings sync time (#13346)
  .env.sample
  cirrus/README.md
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/settings.py
  cirrus/server/tests/test_main.py
Owners: @jaredlockhart, @yashikakhurana, @jeddai

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
