Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

feat(nimbus): add loading screen to review controls (#13831)
  experimenter/experimenter/nimbus_ui/static/js/review_controls.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add pagination to feature changes table.
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v146.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.3.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.3.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v144.3.1/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v144.3.1/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): create visual layout for metric card
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/static/css/style.scss
  experimenter/experimenter/nimbus_ui/templates/common/metric_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): use built in dark theme
  experimenter/experimenter/nimbus_ui/static/js/branch_detail.js
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/static/js/theme_utils.js
  experimenter/experimenter/nimbus_ui/static/package.json
  experimenter/yarn.lock
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): use built in dark theme (#13835)
  experimenter/experimenter/nimbus_ui/static/js/branch_detail.js
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/static/js/theme_utils.js
  experimenter/experimenter/nimbus_ui/static/package.json
  experimenter/yarn.lock
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): use built in dark theme (#13835)
  experimenter/experimenter/nimbus_ui/static/js/branch_detail.js
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/static/js/theme_utils.js
  experimenter/experimenter/nimbus_ui/static/package.json
  experimenter/yarn.lock
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): use built in dark theme (#13835)
  experimenter/experimenter/nimbus_ui/static/js/branch_detail.js
  experimenter/experimenter/nimbus_ui/static/js/edit_branches.js
  experimenter/experimenter/nimbus_ui/static/js/theme_utils.js
  experimenter/experimenter/nimbus_ui/static/package.json
  experimenter/yarn.lock
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add pagination to feature changes table. (#13837)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add pagination to feature changes table. (#13837)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add pagination to feature changes table. (#13837)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Use forms
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/common/tag_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/assign_tags_dropdown.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/assign_tags_response.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_tags.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/tags_manage.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/views.py
  experimenter/experimenter/results/package.json
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Use forms
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/results/package.json
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Display related tags on home and all deliveries page
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_tags.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Assign tags (#13832)
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/common/tag_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/assign_tags_dropdown.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/assign_tags_response.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_tags.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/tags_manage.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Assign tags (#13832)
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/common/tag_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/assign_tags_dropdown.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/assign_tags_response.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_tags.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/tags_manage.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Assign tags (#13832)
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/common/tag_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/assign_tags_dropdown.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/assign_tags_response.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_tags.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/tags_manage.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v146.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v145.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v145.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v145.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v145.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v145.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v145.1.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add sorting to feature changes table.
  experimenter/experimenter/nimbus_ui/filtersets.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Display related tags on home and all deliveries page
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/table.html
  experimenter/experimenter/results/package.json
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Display related tags on home and all deliveries page
  experimenter/experimenter/results/package.json
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): display feature coenrollment
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/migrations/0298_nimbusversionedschema_allow_coenrollment.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/api/v6/test_serializers.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/features/__init__.py
  experimenter/experimenter/features/management/commands/load_feature_configs.py
  experimenter/experimenter/features/tests/fixtures/valid_features/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/tests/test_features.py
  experimenter/experimenter/features/tests/test_load_feature_configs.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): bump mozilla-nimbus-schemas to 3001.0.0
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/tests/api/v6/test_serializers.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/features/__init__.py
  experimenter/experimenter/features/management/commands/load_feature_configs.py
  experimenter/experimenter/features/tests/fixtures/valid_features/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/tests/test_features.py
  experimenter/experimenter/features/tests/test_load_feature_configs.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): display feature coenrollment
  experimenter/experimenter/experiments/migrations/0298_nimbusversionedschema_allow_coenrollment.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/features/management/commands/load_feature_configs.py
  experimenter/experimenter/features/tests/test_load_feature_configs.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/detail_branch.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add button to link to feature page in header.
  experimenter/experimenter/nimbus_ui/templates/common/header.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Display tags on home and all deliveries page (#13848)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_tags.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Display tags on home and all deliveries page (#13848)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_tags.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Display tags on home and all deliveries page (#13848)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_tags.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/table.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Use manager to sort versions.
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(experimenter): use server-side glean
  .circleci/config.yml
  experimenter/.coveragerc
  experimenter/experimenter/glean/middleware.py
  experimenter/experimenter/glean/server_events.py
  experimenter/experimenter/glean/tests/test_middleware.py
  experimenter/experimenter/glean/tests/test_views.py
  experimenter/experimenter/glean/utils.py
  experimenter/experimenter/glean/views.py
  experimenter/experimenter/settings.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

remove unused import
  experimenter/experimenter/glean/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add Subscribe button to Feature health page.
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/feature_subscribe_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/urls.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): bump to mozilla-nimbus-schemas v3001
  experimenter/experimenter/experiments/api/v5/serializers.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/tests/api/v6/test_serializers.py
  experimenter/experimenter/features/__init__.py
  experimenter/experimenter/features/management/commands/load_feature_configs.py
  experimenter/experimenter/features/tests/fixtures/valid_features/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/tests/test_features.py
  experimenter/poetry.lock
  experimenter/pyproject.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(ci): Pin integration test image.
  docker-compose-integration-test.yml
Owners: none

chore(ci): Pin integration test image. (#13865)
  docker-compose-integration-test.yml
Owners: none

chore(ci): Pin integration test image. (#13865)
  docker-compose-integration-test.yml
Owners: none
