Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

feat(nimbus): Disable slack notifications toggle
  experimenter/experimenter/experiments/migrations/0309_remove_nimbusexperiment_disable_review_slack_notifications_and_more.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Redirect filter to that section
  experimenter/experimenter/nimbus_ui/templates/common/header.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): create timeline view for experiments in enrollment and observation phases
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/templates/common/cancel_review_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/approval_rejection_controls.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls_v2.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Loading spinner on home page when it sorts/filter data
  experimenter/experimenter/nimbus_ui/static/js/experiment_home.js
  experimenter/experimenter/nimbus_ui/static/webpack.config.js
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/home_experiments_layout.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Update the welcome message on feature page
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox iOS (Fennec) Release
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Desktop Release
  experimenter/tests/firefox_desktop_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Fenix Beta
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v148.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v148.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v148.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

feat(nimbus): update metrics to be grouped by new metric area field
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/metrics/__init__.py
  experimenter/experimenter/metrics/tests/__init__.py
  experimenter/experimenter/metrics/tests/mock_metrics/invalid_metrics/definitions/firefox_desktop.toml
  experimenter/experimenter/metrics/tests/mock_metrics/valid_metrics/definitions/fenix.toml
  experimenter/experimenter/metrics/tests/mock_metrics/valid_metrics/definitions/firefox_desktop.toml
  experimenter/experimenter/metrics/tests/test_metrics.py
  experimenter/experimenter/segments/metric-hub-main/definitions/fenix.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_ios.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/functions.toml
  experimenter/experimenter/settings.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): update ui to display metrics grouped by area
  experimenter/experimenter/nimbus_ui/templates/common/sidebar_link.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add fallback text when segments are missing
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix results page throwing error for delivery w/o results
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): hide weekly metrics from displaying on results page popout card if not available
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout.html
  experimenter/experimenter/results/src/components/PageResults/index.tsx
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

fix(nimbus): fix absolute value being called on None
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(experimenter): use uuid for nimbus_user_id
  experimenter/experimenter/cirrus/middleware.py
  experimenter/experimenter/cirrus/tests/test_middleware.py
  experimenter/experimenter/glean/middleware.py
  experimenter/experimenter/glean/migrations/0003_prefs_nimbus_user_id.py
  experimenter/experimenter/glean/models.py
  experimenter/experimenter/glean/tests/test_middleware.py
  experimenter/experimenter/glean/tests/test_migrations.py
  experimenter/experimenter/glean/tests/test_models.py
  experimenter/experimenter/glean/tests/test_views.py
  experimenter/experimenter/glean/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox iOS (Fennec) Release
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Desktop Release
  experimenter/tests/firefox_desktop_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Fenix Beta
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v148.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v148.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v148.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox iOS (Fennec) Release
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Fenix Beta
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v148.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v148.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v147.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v148.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v147.1.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.1.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update constants.py (#14238)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update constants.py (#14238)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update constants.py (#14238)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): auto rerun failed integration tests
  .circleci/config.yml
Owners: none

feat(nimbus): create timeline view for experiments in enrollment and observation phases (#14105)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/templates/common/cancel_review_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/approval_rejection_controls.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls_v2.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): create timeline view for experiments in enrollment and observation phases (#14105)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/templates/common/cancel_review_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/approval_rejection_controls.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls_v2.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): create timeline view for experiments in enrollment and observation phases (#14105)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/templates/common/cancel_review_button.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/approval_rejection_controls.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/launch_controls_v2.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-fragment.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(experimenter): use uuid for nimbus_user_id (#14264)
  experimenter/experimenter/cirrus/middleware.py
  experimenter/experimenter/cirrus/tests/test_middleware.py
  experimenter/experimenter/glean/middleware.py
  experimenter/experimenter/glean/migrations/0003_prefs_nimbus_user_id.py
  experimenter/experimenter/glean/models.py
  experimenter/experimenter/glean/tests/test_middleware.py
  experimenter/experimenter/glean/tests/test_migrations.py
  experimenter/experimenter/glean/tests/test_models.py
  experimenter/experimenter/glean/tests/test_views.py
  experimenter/experimenter/glean/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(experimenter): use uuid for nimbus_user_id (#14264)
  experimenter/experimenter/cirrus/middleware.py
  experimenter/experimenter/cirrus/tests/test_middleware.py
  experimenter/experimenter/glean/middleware.py
  experimenter/experimenter/glean/migrations/0003_prefs_nimbus_user_id.py
  experimenter/experimenter/glean/models.py
  experimenter/experimenter/glean/tests/test_middleware.py
  experimenter/experimenter/glean/tests/test_migrations.py
  experimenter/experimenter/glean/tests/test_models.py
  experimenter/experimenter/glean/tests/test_views.py
  experimenter/experimenter/glean/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(experimenter): use uuid for nimbus_user_id (#14264)
  experimenter/experimenter/cirrus/middleware.py
  experimenter/experimenter/cirrus/tests/test_middleware.py
  experimenter/experimenter/glean/middleware.py
  experimenter/experimenter/glean/migrations/0003_prefs_nimbus_user_id.py
  experimenter/experimenter/glean/models.py
  experimenter/experimenter/glean/tests/test_middleware.py
  experimenter/experimenter/glean/tests/test_migrations.py
  experimenter/experimenter/glean/tests/test_models.py
  experimenter/experimenter/glean/tests/test_views.py
  experimenter/experimenter/glean/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic
