Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

feat(schemas): Add coenrollment fields to Desktop and SDK manifest schemas (#12281)
  schemas/index.d.ts
  schemas/mozilla_nimbus_schemas/experimenter_apis/experiments/feature_manifests.py
  schemas/schemas/DesktopFeature.schema.json
  schemas/schemas/DesktopFeatureManifest.schema.json
  schemas/schemas/SdkFeatureManifest.schema.json
Owners: @jaredlockhart, @mikewilli, @freshstrangemusic

feat(schemas): Add coenrollment fields to Desktop and SDK manifest schemas (#12281)
  schemas/index.d.ts
  schemas/mozilla_nimbus_schemas/experimenter_apis/experiments/feature_manifests.py
  schemas/schemas/DesktopFeature.schema.json
  schemas/schemas/DesktopFeatureManifest.schema.json
  schemas/schemas/SdkFeatureManifest.schema.json
Owners: @jaredlockhart, @mikewilli, @freshstrangemusic

feat(nimbus): End enrollment and end experiment work flow
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/approval_rejection_controls.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Fix broken 'Learn More' link and update URL to new preview workflow page
  demo-app/frontend/package-lock.json
  demo-app/frontend/package.json
  demo-app/server/package-lock.json
  demo-app/server/package.json
  experimenter/experimenter/legacy/legacy-ui/core/package-lock.json
  experimenter/experimenter/legacy/legacy-ui/core/package.json
  experimenter/experimenter/nimbus-ui/src/components/PageSummary/FormLaunchDraftToPreview.tsx
  experimenter/experimenter/nimbus-ui/src/lib/constants.ts
  experimenter/experimenter/nimbus_ui_new/static/package-lock.json
  experimenter/experimenter/nimbus_ui_new/static/package.json
  package-lock.json
  schemas/package-lock.json
  schemas/package.json
  schemas/yarn.lock
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @mikewilli

feat(nimbus): add tooltip with un-rounded result values (#12264)
  experimenter/experimenter/nimbus-ui/src/components/PageResults/ConfidenceInterval/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageResults/TableResults/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageResults/TableResultsWeekly/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageResults/TableVisualizationRow/index.tsx
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add tooltip with un-rounded result values (#12264)
  experimenter/experimenter/nimbus-ui/src/components/PageResults/ConfidenceInterval/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageResults/TableResults/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageResults/TableResultsWeekly/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageResults/TableVisualizationRow/index.tsx
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add tooltip with un-rounded result values (#12264)
  experimenter/experimenter/nimbus-ui/src/components/PageResults/ConfidenceInterval/index.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageResults/TableResults/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageResults/TableResultsWeekly/index.test.tsx
  experimenter/experimenter/nimbus-ui/src/components/PageResults/TableVisualizationRow/index.tsx
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Show invalid fields errors
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Adds new advanced targeting - Windows 10+ and backgroundTaskMode (#12288)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Adds new advanced targeting - Windows 10+ and backgroundTaskMode (#12288)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Adds new advanced targeting - Windows 10+ and backgroundTaskMode (#12288)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(schemas): Release v3000
  schemas/README.md
  schemas/VERSION
  schemas/package.json
  schemas/pyproject.toml
  scripts/set_schemas_version.sh
Owners: @jaredlockhart, @mikewilli, @freshstrangemusic

feat(nimbus): Show invalid fields errors
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Change wait in archive experiment ui test.
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/models/base_dataclass.py
  experimenter/tests/integration/nimbus/pages/base.py
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
  experimenter/tests/integration/nimbus/test_experimenter_ui.py
  experimenter/tests/nimbus_integration_tests.sh
  experimenter/tests/poetry.lock
  experimenter/tests/pyproject.toml
Owners: @b4handjr

chore(nimbus): Change wait in archive experiment ui test.
  experimenter/tests/integration/nimbus/conftest.py
  experimenter/tests/integration/nimbus/models/base_dataclass.py
  experimenter/tests/integration/nimbus/pages/base.py
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
  experimenter/tests/integration/nimbus/test_experimenter_ui.py
  experimenter/tests/nimbus_integration_tests.sh
  experimenter/tests/poetry.lock
  experimenter/tests/pyproject.toml
Owners: @b4handjr

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12294)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12294)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12294)
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

fix(tests): Fix archive integration test.
  experimenter/tests/integration/nimbus/pages/experimenter/summary.py
Owners: @b4handjr

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12296)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12296)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12296)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12293)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12293)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12293)
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs (#12292)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12292)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12292)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v138.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v137.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v138.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Common launch controls
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/approval_rejection_controls.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/launch_controls.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
