Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

feat(schemas): Make featureIds a required field
  schemas/VERSION
  schemas/index.d.ts
  schemas/mozilla_nimbus_schemas/experimenter_apis/common.py
  schemas/mozilla_nimbus_schemas/tests/experiments/test_experiments.py
  schemas/package.json
  schemas/pyproject.toml
  schemas/schemas/DesktopAllVersionsNimbusExperiment.schema.json
  schemas/schemas/DesktopNimbusExperiment.schema.json
  schemas/schemas/NimbusExperimentV7.schema.json
  schemas/schemas/SdkNimbusExperiment.schema.json
Owners: @jaredlockhart, @mikewilli, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v136.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v136.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12344)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v136.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v136.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12344)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v136.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v136.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12344)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.3/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.3/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.3/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v136.0.3/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v136.0.3/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v136.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v136.4.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.4.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v136.4.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v136.4.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v137.0.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Show invalid fields errors
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12343)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12343)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12343)
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

feat(schemas): Add documentationLinks to v7 experiment schema
  schemas/index.d.ts
  schemas/mozilla_nimbus_schemas/experimenter_apis/common.py
  schemas/mozilla_nimbus_schemas/experimenter_apis/experiments_v7/experiments_v7.py
  schemas/mozilla_nimbus_schemas/tests/experiments_v7/fixtures/experiments_v7/desktop.json
  schemas/mozilla_nimbus_schemas/tests/experiments_v7/fixtures/experiments_v7/sdk.json
  schemas/schemas/DesktopAllVersionsNimbusExperiment.schema.json
  schemas/schemas/DesktopNimbusExperiment.schema.json
  schemas/schemas/NimbusExperimentV7.schema.json
  schemas/schemas/SdkNimbusExperiment.schema.json
Owners: @jaredlockhart, @mikewilli, @freshstrangemusic

feat(schemas): Add documentationLinks to v7 experiment schema (#12350)
  schemas/index.d.ts
  schemas/mozilla_nimbus_schemas/experimenter_apis/common.py
  schemas/mozilla_nimbus_schemas/experimenter_apis/experiments_v7/experiments_v7.py
  schemas/mozilla_nimbus_schemas/tests/experiments_v7/fixtures/experiments_v7/desktop.json
  schemas/mozilla_nimbus_schemas/tests/experiments_v7/fixtures/experiments_v7/sdk.json
  schemas/schemas/DesktopAllVersionsNimbusExperiment.schema.json
  schemas/schemas/DesktopNimbusExperiment.schema.json
  schemas/schemas/NimbusExperimentV7.schema.json
  schemas/schemas/SdkNimbusExperiment.schema.json
Owners: @jaredlockhart, @mikewilli, @freshstrangemusic

feat(schemas): Add documentationLinks to v7 experiment schema (#12350)
  schemas/index.d.ts
  schemas/mozilla_nimbus_schemas/experimenter_apis/common.py
  schemas/mozilla_nimbus_schemas/experimenter_apis/experiments_v7/experiments_v7.py
  schemas/mozilla_nimbus_schemas/tests/experiments_v7/fixtures/experiments_v7/desktop.json
  schemas/mozilla_nimbus_schemas/tests/experiments_v7/fixtures/experiments_v7/sdk.json
  schemas/schemas/DesktopAllVersionsNimbusExperiment.schema.json
  schemas/schemas/DesktopNimbusExperiment.schema.json
  schemas/schemas/NimbusExperimentV7.schema.json
  schemas/schemas/SdkNimbusExperiment.schema.json
Owners: @jaredlockhart, @mikewilli, @freshstrangemusic

feat(schemas): Add documentationLinks to v7 experiment schema (#12350)
  schemas/index.d.ts
  schemas/mozilla_nimbus_schemas/experimenter_apis/common.py
  schemas/mozilla_nimbus_schemas/experimenter_apis/experiments_v7/experiments_v7.py
  schemas/mozilla_nimbus_schemas/tests/experiments_v7/fixtures/experiments_v7/desktop.json
  schemas/mozilla_nimbus_schemas/tests/experiments_v7/fixtures/experiments_v7/sdk.json
  schemas/schemas/DesktopAllVersionsNimbusExperiment.schema.json
  schemas/schemas/DesktopNimbusExperiment.schema.json
  schemas/schemas/NimbusExperimentV7.schema.json
  schemas/schemas/SdkNimbusExperiment.schema.json
Owners: @jaredlockhart, @mikewilli, @freshstrangemusic

feat(schemas): Make featureIds a required field (#12342)
  schemas/VERSION
  schemas/index.d.ts
  schemas/mozilla_nimbus_schemas/experimenter_apis/common.py
  schemas/mozilla_nimbus_schemas/tests/experiments/test_experiments.py
  schemas/package.json
  schemas/pyproject.toml
  schemas/schemas/DesktopAllVersionsNimbusExperiment.schema.json
  schemas/schemas/DesktopNimbusExperiment.schema.json
  schemas/schemas/NimbusExperimentV7.schema.json
  schemas/schemas/SdkNimbusExperiment.schema.json
Owners: @jaredlockhart, @mikewilli, @freshstrangemusic

feat(schemas): Make featureIds a required field (#12342)
  schemas/VERSION
  schemas/index.d.ts
  schemas/mozilla_nimbus_schemas/experimenter_apis/common.py
  schemas/mozilla_nimbus_schemas/tests/experiments/test_experiments.py
  schemas/package.json
  schemas/pyproject.toml
  schemas/schemas/DesktopAllVersionsNimbusExperiment.schema.json
  schemas/schemas/DesktopNimbusExperiment.schema.json
  schemas/schemas/NimbusExperimentV7.schema.json
  schemas/schemas/SdkNimbusExperiment.schema.json
Owners: @jaredlockhart, @mikewilli, @freshstrangemusic

feat(schemas): Make featureIds a required field (#12342)
  schemas/VERSION
  schemas/index.d.ts
  schemas/mozilla_nimbus_schemas/experimenter_apis/common.py
  schemas/mozilla_nimbus_schemas/tests/experiments/test_experiments.py
  schemas/package.json
  schemas/pyproject.toml
  schemas/schemas/DesktopAllVersionsNimbusExperiment.schema.json
  schemas/schemas/DesktopNimbusExperiment.schema.json
  schemas/schemas/NimbusExperimentV7.schema.json
  schemas/schemas/SdkNimbusExperiment.schema.json
Owners: @jaredlockhart, @mikewilli, @freshstrangemusic

feat(nimbus): Show invalid fields errors (#12163)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/constants.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_overview.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Show invalid fields errors (#12163)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/constants.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_overview.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Show invalid fields errors (#12163)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui_new/constants.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/edit_overview.html
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

disable new pathlib rule
  experimenter/pyproject.toml
Owners: none

chore(nimbus): Update Firefox Versions (#12348)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12348)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12348)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_desktop_release_build.env
  experimenter/tests/firefox_fenix_beta_build.env
  experimenter/tests/firefox_fennec_beta_build.env
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fxa-web/developer.fml.yaml
  experimenter/experimenter/features/manifests/fxa-web/experimenter.yaml
  experimenter/experimenter/features/manifests/fxa-web/staging.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12346)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fxa-web/developer.fml.yaml
  experimenter/experimenter/features/manifests/fxa-web/experimenter.yaml
  experimenter/experimenter/features/manifests/fxa-web/staging.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12346)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fxa-web/developer.fml.yaml
  experimenter/experimenter/features/manifests/fxa-web/experimenter.yaml
  experimenter/experimenter/features/manifests/fxa-web/staging.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs (#12346)
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fxa-web/developer.fml.yaml
  experimenter/experimenter/features/manifests/fxa-web/experimenter.yaml
  experimenter/experimenter/features/manifests/fxa-web/staging.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update application-services (#12352)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12352)
  application-services/application-services.env
Owners: none

chore(nimbus): Update application-services (#12352)
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Versions (#12354)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12354)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Versions (#12354)
  experimenter/tests/firefox_desktop_beta_build.env
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

feat(nimbus): Add archive/clone functionality to new UI
  experimenter/experimenter/nimbus_ui_new/constants.py
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/common/sidebar_link.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/archive_button.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/clone.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/clone_slug_field.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/tests/test_views.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add archive/clone functionality to new UI
  experimenter/experimenter/nimbus_ui_new/forms.py
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/clone.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/detail.html
  experimenter/experimenter/nimbus_ui_new/templates/nimbus_experiments/sidebar.html
  experimenter/experimenter/nimbus_ui_new/tests/test_forms.py
  experimenter/experimenter/nimbus_ui_new/urls.py
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add archive/clone functionality to new UI
  experimenter/experimenter/nimbus_ui_new/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
