Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic

chore(nimbus): Update Firefox iOS (Fennec) Release
  experimenter/tests/firefox_fennec_release_build.env
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v146.1.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v146.1.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v146.1.1/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v146.1.1/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add changelog on nimbusexperiment admin changes
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/tests/test_admin.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): always use transaction.atomic for form saves (#14189)
  experimenter/experimenter/nimbus_ui/forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): always use transaction.atomic for form saves (#14189)
  experimenter/experimenter/nimbus_ui/forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): always use transaction.atomic for form saves (#14189)
  experimenter/experimenter/nimbus_ui/forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): wrap long segment names
  experimenter/experimenter/results/src/components/PageResults/index.test.tsx
  experimenter/experimenter/results/src/components/PageResults/index.tsx
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): wrap long segment names (#14199)
  experimenter/experimenter/results/src/components/PageResults/index.test.tsx
  experimenter/experimenter/results/src/components/PageResults/index.tsx
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): wrap long segment names (#14199)
  experimenter/experimenter/results/src/components/PageResults/index.test.tsx
  experimenter/experimenter/results/src/components/PageResults/index.tsx
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): wrap long segment names (#14199)
  experimenter/experimenter/results/src/components/PageResults/index.test.tsx
  experimenter/experimenter/results/src/components/PageResults/index.tsx
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Don't send dms if the user is in channel
  experimenter/experimenter/slack/notification.py
  experimenter/experimenter/slack/tests/test_notification.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for newtab trainhop 148.0.20251211.63751 for desktop - Reason
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for newtab trainhop 148.0.20251211.63751 for desktop (#14204)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for newtab trainhop 148.0.20251211.63751 for desktop (#14204)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add advanced targeting for newtab trainhop 148.0.20251211.63751 for desktop (#14204)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

Update constants.py
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

chore(nimbus): Update Firefox Fenix Beta
  experimenter/tests/firefox_fenix_beta_build.env
Owners: @b4handjr

feat(nimbus): add changelog on nimbusexperiment admin changes (#14196)
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/tests/test_admin.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add changelog on nimbusexperiment admin changes (#14196)
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/tests/test_admin.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add changelog on nimbusexperiment admin changes (#14196)
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/tests/test_admin.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): add weekly metric view to popout card
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/templates/common/metric_card.html
  experimenter/experimenter/nimbus_ui/templates/common/metric_popout.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/nimbus_ui/templatetags/nimbus_extras.py
  experimenter/experimenter/nimbus_ui/tests/test_filters.py
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Send channel notifications in slack DMs (#14179)
  experimenter/experimenter/slack/notification.py
  experimenter/experimenter/slack/tests/test_notification.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Send channel notifications in slack DMs (#14179)
  experimenter/experimenter/slack/notification.py
  experimenter/experimenter/slack/tests/test_notification.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Send channel notifications in slack DMs (#14179)
  experimenter/experimenter/slack/notification.py
  experimenter/experimenter/slack/tests/test_notification.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v148.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v148.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v148.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v147.0.0/release.fml.yaml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/newtab_do_no_harm.toml
  experimenter/experimenter/outcomes/metric-hub-main/jetstream/outcomes/firefox_desktop/pocket_newtab.toml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
  experimenter/experimenter/segments/metric-hub-main/jetstream/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): QA testplan and testrail links
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/qa_container_content.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/qa_edit_form.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): readonly changelogs in admin
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/templates/admin/changelog_display.html
  experimenter/experimenter/experiments/tests/test_admin.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): QA testplan and testrail links
  experimenter/experimenter/experiments/migrations/0306_remove_nimbusexperiment_qa_run_test_plan_and_more.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/qa_container_content.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/qa_edit_form.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): QA testplan and testrail links
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): QA testplan and testrail links
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): readonly changelogs in admin (#14197)
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/templates/admin/changelog_display.html
  experimenter/experimenter/experiments/tests/test_admin.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): readonly changelogs in admin (#14197)
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/templates/admin/changelog_display.html
  experimenter/experimenter/experiments/tests/test_admin.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): readonly changelogs in admin (#14197)
  experimenter/experimenter/experiments/admin.py
  experimenter/experimenter/experiments/templates/admin/changelog_display.html
  experimenter/experimenter/experiments/tests/test_admin.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update Firefox Desktop Beta
  experimenter/tests/firefox_desktop_beta_build.env
Owners: @b4handjr

feat(nimbus): Add prefix channel name in the slack DM message
  experimenter/experimenter/slack/notification.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

test(nimbus): Tests
  experimenter/experimenter/slack/tests/test_notification.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): QA testplan and testrail links (#14214)
  experimenter/experimenter/experiments/migrations/0306_remove_nimbusexperiment_qa_run_test_plan_and_more.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_changelog_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/forms.py
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/features.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/qa_container_content.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/qa_edit_form.html
  experimenter/experimenter/nimbus_ui/tests/test_forms.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic
