Repository mozilla/experimenter, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jaredlockhart, @yashikakhurana, @jeddai, @freshstrangemusic, @mikewilli, @b4handjr

feat(nimbus): update metric data view to use real experiment data (#13932)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/templates/common/metric_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): update metric data view to use real experiment data (#13932)
  experimenter/experimenter/experiments/constants.py
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/nimbus_ui/templates/common/metric_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/results-new-inner.html
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): expire preview after 30 days
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/kinto/tasks.py
  experimenter/experimenter/kinto/tests/test_tasks.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services with new NimbusClient interface
  application-services/application-services.env
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @b4handjr

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/release.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v147.0.0/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v145.1.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.1.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.1.1/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v145.1.1/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services with new NimbusClient interface (#13962)
  application-services/application-services.env
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @b4handjr

chore(nimbus): Update application-services with new NimbusClient interface (#13962)
  application-services/application-services.env
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @b4handjr

chore(nimbus): Update application-services with new NimbusClient interface (#13962)
  application-services/application-services.env
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @b4handjr

feat(nimbus): expire preview after 30 days (#13960)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/kinto/tasks.py
  experimenter/experimenter/kinto/tests/test_tasks.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): expire preview after 30 days (#13960)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/kinto/tasks.py
  experimenter/experimenter/kinto/tests/test_tasks.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): expire preview after 30 days (#13960)
  experimenter/experimenter/experiments/models.py
  experimenter/experimenter/kinto/tasks.py
  experimenter/experimenter/kinto/tests/test_tasks.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus) - Update TOU addons list (#13947)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus) - Update TOU addons list (#13947)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus) - Update TOU addons list (#13947)
  experimenter/experimenter/targeting/constants.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.1/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.1/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.1/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.1/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.1/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/v145.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v145.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/focus-ios/v145.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/focus-ios/v145.3.0/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/v145.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v145.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Add targeting for Android users based on Terms of Use experience points (#13863)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): Add targeting for Android users based on Terms of Use experience points (#13863)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

feat(nimbus): Add targeting for Android users based on Terms of Use experience points (#13863)
  experimenter/experimenter/targeting/constants.py
  experimenter/tests/integration/nimbus/test_mobile_targeting.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic, @b4handjr

chore(cirrus): use server-side glean
  cirrus/server/.coveragerc
  cirrus/server/Dockerfile
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/sdk.py
  cirrus/server/cirrus/settings.py
  cirrus/server/poetry.lock
  cirrus/server/pyproject.toml
  cirrus/server/tests/conftest.py
  cirrus/server/tests/test_telemetry.py
  docker-compose-cirrus.yml
  docker-compose.yml
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus): use server-side glean (#13882)
  cirrus/server/.coveragerc
  cirrus/server/Dockerfile
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/sdk.py
  cirrus/server/cirrus/settings.py
  cirrus/server/poetry.lock
  cirrus/server/pyproject.toml
  cirrus/server/tests/conftest.py
  cirrus/server/tests/test_telemetry.py
  docker-compose-cirrus.yml
  docker-compose.yml
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus): use server-side glean (#13882)
  cirrus/server/.coveragerc
  cirrus/server/Dockerfile
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/sdk.py
  cirrus/server/cirrus/settings.py
  cirrus/server/poetry.lock
  cirrus/server/pyproject.toml
  cirrus/server/tests/conftest.py
  cirrus/server/tests/test_telemetry.py
  docker-compose-cirrus.yml
  docker-compose.yml
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(cirrus): use server-side glean (#13882)
  cirrus/server/.coveragerc
  cirrus/server/Dockerfile
  cirrus/server/cirrus/main.py
  cirrus/server/cirrus/sdk.py
  cirrus/server/cirrus/settings.py
  cirrus/server/poetry.lock
  cirrus/server/pyproject.toml
  cirrus/server/tests/conftest.py
  cirrus/server/tests/test_telemetry.py
  docker-compose-cirrus.yml
  docker-compose.yml
Owners: @jaredlockhart, @yashikakhurana, @jeddai

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): use rust jexl evaluator in all tests
  experimenter/experimenter/experiments/tests/jexl_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/targeting/tests/test_targeting_configs.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): use rust jexl evaluator in all tests (#13957)
  experimenter/experimenter/experiments/tests/jexl_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/targeting/tests/test_targeting_configs.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): use rust jexl evaluator in all tests (#13957)
  experimenter/experimenter/experiments/tests/jexl_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/targeting/tests/test_targeting_configs.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): use rust jexl evaluator in all tests (#13957)
  experimenter/experimenter/experiments/tests/jexl_utils.py
  experimenter/experimenter/experiments/tests/test_models.py
  experimenter/experimenter/targeting/tests/test_targeting_configs.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(experimenter): unset published_dto when unpublishing from preview
  experimenter/experimenter/kinto/tasks.py
  experimenter/experimenter/kinto/tests/test_tasks.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Improve qa and takeaways views
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/experiment_base.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/qa_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/qa_container_content.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/qa_edit_form.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/takeaways_card.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/takeaways_edit_form.html
  experimenter/experimenter/nimbus_ui/tests/test_views.py
  experimenter/experimenter/nimbus_ui/views.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(experimenter): unset published_dto when unpublishing from preview (#13978)
  experimenter/experimenter/kinto/tasks.py
  experimenter/experimenter/kinto/tests/test_tasks.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(experimenter): unset published_dto when unpublishing from preview (#13978)
  experimenter/experimenter/kinto/tasks.py
  experimenter/experimenter/kinto/tests/test_tasks.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(experimenter): unset published_dto when unpublishing from preview (#13978)
  experimenter/experimenter/kinto/tasks.py
  experimenter/experimenter/kinto/tests/test_tasks.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update application-services
  application-services/application-services.env
Owners: none

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.2/beta.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.2/developer.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.2/nightly.fml.yaml
  experimenter/experimenter/features/manifests/fenix/v145.0.2/release.fml.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.2/experimenter.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.2/schemas/browser/components/asrouter/content-src/schemas/BackgroundTaskMessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.2/schemas/browser/components/asrouter/content-src/schemas/MessagingExperiment.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.2/schemas/toolkit/components/nimbus/schemas/NimbusTelemetryFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.2/schemas/toolkit/components/nimbus/schemas/PrefFlipsFeature.schema.json
  experimenter/experimenter/features/manifests/firefox-desktop/v145.0.2/schemas/toolkit/components/normandy/schemas/LegacyHeartbeat.schema.json
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v145.3.0/release.fml.yaml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Send emails to feature subscribers
  experimenter/experimenter/experiments/email.py
  experimenter/experimenter/experiments/tests/test_email.py
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): move loading overlay out of form div
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_metrics.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

feat(nimbus): Fix QA target
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/qa_card.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

chore(nimbus): Update External Configs
  experimenter/experimenter/features/manifests/fenix/.ref-cache.yaml
  experimenter/experimenter/features/manifests/firefox-desktop/.ref-cache.yaml
  experimenter/experimenter/features/manifests/focus-ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/.ref-cache.yaml
  experimenter/experimenter/features/manifests/ios/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/release.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.3.0/beta.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.3.0/developer.fml.yaml
  experimenter/experimenter/features/manifests/ios/v145.3.0/experimenter.yaml
  experimenter/experimenter/features/manifests/ios/v145.3.0/release.fml.yaml
  experimenter/experimenter/segments/metric-hub-main/definitions/firefox_desktop.toml
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): move loading overlay out of form div (#13985)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_metrics.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

bug(nimbus): move loading overlay out of form div (#13985)
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_audience.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_branches.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_metrics.html
  experimenter/experimenter/nimbus_ui/templates/nimbus_experiments/edit_overview.html
Owners: @jaredlockhart, @yashikakhurana, @freshstrangemusic

.github/CODEOWNERS:

/cirrus/ @jaredlockhart @yashikakhurana @jeddai
/experimenter/experimenter/ @jaredlockhart @yashikakhurana @freshstrangemusic
/experimenter/jetstream @jaredlockhart @mikewilli
/experimenter/manifesttool/ @jaredlockhart @freshstrangemusic
/experimenter/tests @b4handjr
/schemas/ @jaredlockhart @mikewilli @freshstrangemusic
